
{% set current_route = app.request.attributes.get('_route') %}
<div class="row">
  <div class="col-12 col-sm-3">
    <div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px;">
      <div id="checkBoost">
			{{ checkBoost(app.user)|raw }}
      </div>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="{{ path('app_v2_recruiter_profile')}}" class="nav-link {{ current_route == 'app_v2_recruiter_profile' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-search me-2"></i></span> Trouver un profil
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_recruiter_favorite')}}" class="nav-link {{ current_route == 'app_v2_recruiter_favorite' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-star me-2"></i></span> Mes favoris
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_recruiter_create_job_listing')}}" class="nav-link {{ current_route == 'app_v2_recruiter_create_job_listing' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-megaphone me-2"></i></span> Publier une offre
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_recruiter_job_listing')}}" class="nav-link {{ current_route == 'app_v2_recruiter_job_listing' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-card-checklist me-2"></i></span> Gérer mes annonces
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_recruiter_simulator_create')}}" class="nav-link {{ current_route == 'app_v2_recruiter_simulator_create' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-printer me-2"></i></span> Simulateur de budget
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_recruiter_simulator')}}" class="nav-link {{ current_route == 'app_v2_recruiter_simulator' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-aspect-ratio me-2"></i></span> Mes simulations
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_prestation')}}" class="nav-link {{ current_route == 'app_v2_recruiter_prestation' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-person-workspace me-2"></i></span> Mes préstations
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_contacts')}}" class="nav-link {{ current_route == 'app_v2_contacts' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-journal-check me-2"></i></i></span> Mon réseau professionnel
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_dashboard_notification')}}" class="nav-link {{ current_route == 'app_v2_dashboard_notification' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-bell me-2"></i></i></span> Mes notifications
            {% if countUnReadNotification(app.user) > 0  %}{{ component('count_notification_component')}}{% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_recruiter_dashboard_ai_tools')}}" class="nav-link {{ current_route == 'app_v2_recruiter_dashboard_ai_tools' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-magic me-2"></i></span> Ai Tools
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_recruiter_dashboard_formation')}}" class="nav-link {{ current_route == 'app_v2_recruiter_dashboard_formation' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-layers me-2"></i></span> Centre de formations
          </a>
        </li>
        <hr>
        <li class="nav-item">
          <a href="{{ path('app_v2_recruiter_dashboard')}}" class="nav-link {{ current_route == 'app_v2_recruiter_dashboard' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-person-badge me-2"></i></span> Mes informations
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ path('app_v2_contact')}}" class="nav-link {{ current_route == 'app_v2_contact' ? 'underline' : '' }}" aria-current="page">
            <i class="bi bi-envelope-at me-2"></i></span> Contacter le support
          </a>
        </li>
      </ul>
      <hr>
      <a href="{{ path('app_v2_credit')}}" class="btn-primary btn px-2 text-uppercase fw-semibold">
        <i class="bi bi-bookmark-star fw-bold"></i>
        Recharger mes crédits
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-9">

<div class="modal fade" id="boostProfile" tabindex="-1" aria-labelledby="boostProfileLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{{ path('app_v2_recruiter_boost_profile') }}" method="post" id="boostProfileForm">
      <div class="modal-header">
        <h3 class="modal-title fs-5 text-uppercase fw-bold" id="boostProfileLabel"><i class="bi bi-rocket-takeoff me-2"></i> Booster mon entreprise</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Maximisez la visibilité de votre entreprise et attirez plus de talents de qualité ! En boostant votre compte entreprise, vous bénéficiez d'une visibilité accrue auprès des candidats potentiels et améliorez vos chances de recruter les meilleurs profils.
          <div class="my-3">
            <div id="recruiter_boost">
              <fieldset class="mb-3">
                <div id="recruiter_boost_boost">
                  <div class="form-check">
                    <input type="radio" id="recruiter_boost_boost_placeholder" name="recruiter_boost[boost]" class="form-check-input" value="" checked="checked">
                    <label class="form-check-label" for="recruiter_boost_boost_placeholder">Pas de boost</label>
                  </div>
                  <div class="form-check">
                  <input type="radio" id="recruiter_boost_boost_10" name="recruiter_boost[boost]" class="form-check-input" value="10" data-value="300 crédits">
                  <label class="form-check-label" for="recruiter_boost_boost_10">Boost 7 jours (300 crédits)</label>
                </div>
                <div class="form-check">
                  <input type="radio" id="recruiter_boost_boost_11" name="recruiter_boost[boost]" class="form-check-input" value="11" data-value="500 crédits">
                  <label class="form-check-label" for="recruiter_boost_boost_11">Boost 15 jours (500 crédits)</label>
                </div>
                <div class="form-check">
                  <input type="radio" id="recruiter_boost_boost_12" name="recruiter_boost[boost]" class="form-check-input" value="12" data-value="800 crédits">
                  <label class="form-check-label" for="recruiter_boost_boost_12">Boost 30 jours (800 crédits)</label>
                </div>
              </fieldset>
            </div>
          </div>
      En choisissant l'un de ces boosts, vous non seulement augmentez votre visibilité, mais vous créez également des opportunités d'engagement direct avec des talents de premier plan. Ne manquez pas cette chance de mettre en valeur votre entreprise !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase fw-bold" data-bs-dismiss="modal">Annuler</button>
        <button type="button" data-bs-toggle="modal" data-bs-type="boost-profile" data-bs-target="#confirmationModal" data-bs-price="50 crédits" class="btn btn-primary text-uppercase fw-bold">Prendre un boost</button>
      </div>
      </form>
    </div>
  </div>
</div>