
<h3 class="card-title h5 mb-3">Statistiques</h3>
<span class="fw-bolder me-2">{{ app.user.credit.total }}</span> <span class="fw-light">crédits disponibles</span><br>
<span class="fw-bolder me-2">{{ profile.jobListings|length}}</span> <span class="fw-light">annonces publiées</span><br>
<span class="fw-bolder me-2">{{ profile.favoris|length}}</span> <span class="fw-light">favoris</span><br>
<span class="fw-bolder me-2">{{ profile.prestations|length}}</span> <span class="fw-light">prestations</span><br>
<a href="{{ path('app_v2_recruiter_create_job_listing')}}" class="px-3 btn btn-sm mt-2 rounded-pill btn-primary"><i class="bi bi-megaphone me-2"></i> Créer une annonce</a><br>
<a href="{{ path('app_v2_create_prestation')}}" class="px-3 btn btn-sm mt-2 rounded-pill btn-secondary"><i class="bi bi-person-workspace me-2"></i> Créer une prestation</a><br>