{% extends 'base.html.twig' %}

{% block body %}

<section id="hero" class="" style="background-color: black;">
    <div class="container d-flex flex-column justify-content-center">
        <h1 class="h1 text-center py-4 text-white font-bold">
            {{ 'app_identity_account.title'|trans }}
        </h1>
        <div class="row text-white">
            {{ form_start(form, {'attr': {'id': 'account_identity'}})}}
            {{ form_errors(form)}}
            <div class="col-md-6 offset-md-3 text-center">
                {{ 'app_identity_account.message'|trans }}
                <hr class="my-4">
                <div class="row">
                {% for account in form.type %}
                
                <div class="col-md-6">
                    <div class="custom-control custom-radio image-checkbox photo-gris">
                        {{ form_widget(account, {'attr': {'class': 'custom-control-input'}}) }}
                        <label class="custom-control-label" for="{{ account.vars.id }}">
                            <div class="text-center mt-2"> <!-- margin-top ajouté pour espacer la description de l'image -->
                                <p class=""><small class="">{{account_label(account.vars.label|upper)}}</small></p>
                            </div>
                            <img src="{{ asset('/images/' ~ account.vars.label ~ '.png') }}" class="img-fluid border" alt="{{ account.vars.label }}">
                        </label>
                    </div>
                </div>

                {% endfor %}

                <div style="display:none;">
                    {{ form_widget(form) }}
                </div>
                
                </div>
            </div>
            {{ form_end(form) }}
        </div>
                
    </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>
{% endblock %}
