{% extends 'base.html.twig' %}

{% block body %}

<section id="hero" class="" style="background-color: black;">
    <div class="container d-flex flex-column justify-content-center">
        <h1 class="h3 text-center py-4 text-white font-bold">
            {{ 'app_identity_confirmation.title'|trans }}
        </h1>
        <div class="row text-white">
            <div class="col-md-6 offset-md-3">

                <p class="text-center">
                    {{ 'app_identity_confirmation.description'|trans }}
                </p>
                <hr class="my-4">
                    <p class="text-center">
                        {{ 'app_identity_confirmation.message'|trans }}
                    </p>
                    <hr class="my-4">
                        <div class="d-flex justify-content-center">
                            <a href="{{ path('app_connect') }}" class="btn btn-primary">
                                {{ 'app_identity_confirmation.button'|trans }}
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </section>

{% endblock %}