{% extends 'base.html.twig' %}

{% block body %}

<section id="hero" class="" style="background-color: black;">
    <div class="container">
        <h1 class="h3 text-center py-4 text-white font-bold">
            {{ 'app_identity_company.title'|trans }}
        </h1>
        <div class="row text-white">
            <div class="col-md-6 offset-md-3">

                <p class="text-center">
                    {{ 'app_identity_company.description'|trans }}
                </p>
                <hr class="my-4">
                <div class="mb-3">
                {{ form_start(form) }}
                    {{ form_label(form.nom) }}
                    <div class="text-dark">
                        {{ form_widget(form.nom, {'attr': {'class': ''}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.taille) }}
                    <div class="text-dark">
                        {{ form_widget(form.taille, {'attr': {'class': ''}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.description) }}
                    <div class="text-dark">
                        {{ form_widget(form.description, {'attr': {'class': ''}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.secteurs) }}
                    <div class="text-dark">
                        {{ form_widget(form.secteurs, {'attr': {'class': ''}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.siteWeb) }}
                    <div class="text-dark">
                        {{ form_widget(form.siteWeb, {'attr': {'class': ''}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.entreprise) }}
                    <div class="text-dark">
                        {{ form_widget(form.entreprise, {'attr': {'class': ''}}) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.localisation) }}
                    <div class="text-dark">
                        {{ form_widget(form.localisation, {'attr': {'class': ''}}) }}
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-5 mt-4">
                    <button type="submit" id="get_started" class="btn btn-primary">
                        {{ 'app_identity_company.button'|trans }}
                    </button>
                </div>
                {{ form_end(form) }}

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>

<script src="{{ asset('assets/ckeditor5/ckeditor.js')}}"></script>
<script>
    ClassicEditor.create( document.querySelector( '#entreprise_description' ) )
</script>
{% endblock %}