<div class="container-fluid mt-5">
    {% if top_prestations.items|length > 0 %}
        {% set numSlides = top_prestations.items|length // 4 %}
        {% if top_prestations.items|length % 4 > 0 %}
            {% set numSlides = numSlides + 1 %}
        {% endif %}
        <div id="carousel_expert_component" class="carousel slide mb-5" data-bs-ride="carousel">
            
            <div class="carousel-inner">
                {% for i in 0..numSlides - 1 %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="container-fluid">
                            <div class="row row-cols-1 row-cols-md-4 g-2">
                                {% for j in 0..3 %}
                                    {% set index = i * 4 + j %}
                                    {% if index < top_prestations.items|length %}
                                        {% set prestation = top_prestations.items[index] %}
                                            <div class="col">
                                                <div class="card position-relative text-center mt-2">
                                                    <!-- Badge -->
                                                    <span class="badge bg-danger rounded-pill position-absolute top-0 start-50 translate-middle">Réf:{{ generateprestationReference(prestation['_id']) }}</span>
                                                    <p class="card-title h6 bg-dark text-white text-center py-2" style="height:120px; display: flex; align-items: center; justify-content: center;">{{ prestation['_source'].titre|upper }} </p>
                                                    <div class="card-body-candidat">
                                                        <small class="mt-auto">
                                                            <small class="card-text"></small><br>
                                                            <small class="card-text"><i class="mx-1 bi bi-tags"></i>{{ prestation['_source'].competencesRequises|length}} specialités</small><br>
                                                            <small class="card-text"><i class="mx-1 bi bi-patch-check"></i> {{ 'app_catalog_expert.certificated'|trans }}</small>
                                                        </small>
                                                    </div>
                                                    {% if app.user %}
                                                        <a href="{{ path('app_olona_talents_view_prestation', {'id': prestation['_id']})}}" class="btn btn-primary btn-sm fw-semibold mb-3 px-3 mx-auto">Contacter</a>
                                                    {% else %}
                                                        <button type="button" class="btn btn-primary btn-sm fw-semibold mb-3 px-3 mx-auto" data-bs-toggle="modal" data-bs-target="#connectingModal" data-bs-href="{{ path('app_v2_recruiter_favorite_add_candidate', {'id':prestation['_id']}) }}">Contacter</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>