{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="annonce-list p-2">
        <div class="annonce-item shadow p-md-5 m-md-4">
            <h1 class="card-title mb-4 h2">Gestion des Coopteurs</h1>
            {% if coopteurs|length > 0 %}
            <div class="container">
                <div class="row text-strong">
                    <div class="col-sm-4">Pseudo</div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 text-center">Cooptations</div>
                            <div class="col-sm-6 col-md-4">Status</div>
                            <div class="col-sm-6 col-md-4">S. Juridique</div>
                        </div>
                    </div>
                    <div class="col-sm-1 small">
                    </div>
                </div>
                <hr>
                {% for item in coopteurs %}
                    <div class="row text-muted">
                        <div class="col-sm-4 small">
                            <a href="{{ path('app_dashboard_moderateur_coopteur_view', {'customId' : item.customId })}}" class="">
                                {{ generateCoopteurPseudo(item) }} 
                            </a>
                            <br>
                                {{ item.referrer.nom }} 
                                {{ item.referrer.prenom }} 
                        </div>
                        <div class="col-sm-7">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 text-center">
                                    {# <a href="{{ path('app_dashboard_moderateur_cooptation_annonce', {'jobId' : item.annonce.jobId })}}" class=""> #}
                                        <span class="badge text-bg-warning">{{ item.referrals|length }}</span>
                                    {# </a> #}
                                </div>
                                <div class="col-sm-6 col-md-4 small">{{ item.status }}</div>
                                <div class="col-sm-6 col-md-4">{{ item.statutJuridique }}</div>
                            </div>
                        </div>
                        <div class="col-sm-1 small">
                            <a href="#" class="btn btn-sm btn-info">
                                <i class="bi bi-eye"></i>
                            </a>
                        </div>
                    </div>                    
                    <hr>                    
                {% endfor %}
            <!-- Plus de lignes et colonnes ici -->
            </div>
            <div class="navigation mt-5">
                {{ knp_pagination_render(coopteurs, 'parts/_pagination.html.twig') }}
            </div>
            {% else %}
            <div class="container p-5 mx-auto text-center">
                Vous n'avez effectuer aucune recommandation pour le moment
                <a href="{{path('app_dashboard_referrer_annonces')}}" class="btn btn-primary px-5 rounded-pill my-4">Toutes les annonces</a>
            </div>
            {% endif %}


        </div>
    </div>
</div>
{% endblock %}

