    
    <p class="mx-2">
    Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
    </p>
    <div class="navigation">
    {{ knp_pagination_render(secteurs, 'parts/_pagination.html.twig') }}
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-4">Titre</th>
                <th class="col-4">Description</th>
                <th class="col-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for secteur in secteurs %}
                <tr>
                    <td class="id-column">{{ secteur.id }}</td>
                    <td>{{ secteur.nom }}</td>
                    <td>{{ secteur.description|length > 50 ? secteur.description|slice(0, 50) ~ '...' : secteur.description }}</td>
                    <td class="actions-col">
                        <a href="{{path('app_dashboard_moderateur_edit_secteur', { 'slug': secteur.slug}) }}" class="btn btn-sm btn-info">Modifier</a>
                        <a href="{{path('app_dashboard_moderateur_delete_secteur', { 'slug': secteur.slug}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce type de contrat ?');">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

