{% extends 'base.html.twig' %}

{% block body %}
  <section id="login" class="" style="background-color: black;">
    <div class="container d-flex justify-content-center align-items-center ">
      <div class="row w-100">
        <div class="col-md-6 text-center mx-auto">
          <img src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="login olona talents" />
        </div>
        <div class="col-md-6 text-white">
          <h1 class="fs-2 mb-3 font-weight-normal">
            {{ meta_title() }}
          </h1>
          {# <p class="text-light fs-5">
            <small>
              {{ meta_description() }}
            </small>
          </p> #}
          <p class="my-4 text-white">
          {{ 'app_login.not_member'|trans }}
          <a href="{{ path('app_register') }}" style="color:#0e6efd!important;" class="text-primary transition ">
            {{ 'app_login.register'|trans }}
          </a>
          {{ 'app_login.join'|trans }}
        </p>
          <form method="post">
            {% if error %}
              <div class="alert alert-dark">
                {{ error.messageKey|trans(error.messageData, 'security') }}
              </div>
            {% endif %}
            <div class="mx-auto text-dark " id="button-text">
              <a href="{{ path('connect_google_start') }}" class="btn btn-light">
                {{ 'app_register.continue'|trans }}
                <i class="bi bi-google h5 mx-2 "></i>
              </a>
              {# <button type="button" class="btn btn-outline-secondary">
                {{ 'app_register.continue'|trans }}
                <i class="bi bi-linkedin h5 mx-2"></i>
              </button> #}
            </div>
            <hr>

              {% if app.user %}
                <div class="mb-3">
                  You are logged in as  {{ app.user.userIdentifier }},                                     
                  <a href="{{ path('app_logout') }}">
                    Logout
                                      
                  </a>
                </div>
              {% endif %}

              <label for="inputEmail" class="mt-1">
                {{ 'app_login.email'|trans }}
              </label>
              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword" class="mt-3">
                  {{ 'app_login.password'|trans }}
                </label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                  <div class="my-3 form-check">
                    <div class="row">
                      <div class="col-6">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">
                            {{ 'app_login.remember'|trans }}
                          </label>
                        </div>
                        <div class="col-6 text-right">
                          <!--Forgot password link-->
                          <a href="{{ path('app_forgot_password_request')}}" class="">
                            {{ 'app_forgot_password_request.link'|trans }}
                          </a>
                        </div>
                      </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                      <button class="btn btn-lg btn-primary" type="submit">
                        {{ "app_login.button"|trans }}
                      </button>
                    </form>
                  </div>
                </div>
          </div>
        </section>
      {% endblock %}
          