    
    <p class="mx-2">
    Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
    </p>
    <div class="navigation">
    {{ knp_pagination_render(annonces, 'parts/_pagination.html.twig') }}
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="col-4">Titre</th>
                <th class="col-2">Status</th>
                <th class="col-1">Vues</th>
                <th class="col-2">Candidature</th>
                <th class="col-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for annonce in annonces %}
                <tr>
                    <td>
                        {{ annonce.titre }}<br>
                        <span class="small text-muted">{{ annonce.entreprise.nom|upper }} | {{ annonce.dateCreation|time_ago }}</span>
                    </td>
                    <td>
                        <form method="post" action="{{ path('change_status_annonce', {'id': annonce.id}) }}">
                            <select name="status" class="form-control" onchange="this.form.submit()">
                                <option value="PUBLISHED" {{ annonce.status == 'PUBLISHED' ? 'selected' : '' }}>Publiée</option>
                                <option value="PENDING" {{ annonce.status == 'PENDING' ? 'selected' : '' }}>En attente</option>
                                <option value="REJECTED" {{ annonce.status == 'REJECTED' ? 'selected' : '' }}>Rejetée</option>
                                <option value="EXPIRED" {{ annonce.status == 'EXPIRED' ? 'selected' : '' }}>Expirée</option>
                                <option value="FEATURED" {{ annonce.status == 'FEATURED' ? 'selected' : '' }}>Mis en avant</option>
                                <option value="ARCHIVED" {{ annonce.status == 'ARCHIVED' ? 'selected' : '' }}>Archivée</option>
                                <option value="DELETED" {{ annonce.status == 'DELETED' ? 'selected' : '' }}>Effacée</option>
                            </select>
                        </form>
                    </td>
                    <td>{{ annonce.annonceVues|length }}</td>
                    <td>
                        <a href="{{path('app_dashboard_moderateur_annonce_candidature_view', { 'id': annonce.id}) }}" class="btn btn-sm btn-secondary">
                            {{ annonce.applications|length }}
                        </a>
                    </td>
                    <td class="actions-col">
                        <a href="{{path('app_dashboard_moderateur_annonce_view', { 'id': annonce.id}) }}" class="btn btn-sm btn-info rounded-pill"><i class="bi mx-1 bi-eye"></i></a>
                        <a href="{{path('delete_annonce', { 'id': annonce.id}) }}" class="btn btn-sm btn-danger rounded-pill" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce ?');"><i class="bi mx-1 bi-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

