{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Gestion des annonces</h2>
    {{ form_start(form, {'attr': {'class': 'form-group my-4', 'id':'moderateur-annonce-search-form'}}) }}
    <div class="row">
        <div class="input-group">
                <div class="col">
                    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col">
                    {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col">
                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                </div>
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary"><i class="h5 bi mx-2 bi-search"></i></button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div id="annonces-container">
        {% include 'dashboard/moderateur/annonce/_annonces.html.twig' %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function searchAnnonces() {
        var formData = $('#moderateur-annonce-search-form').serialize();

        $.ajax({
            url: '{{ path('app_dashboard_moderateur_annonces') }}',
            type: 'GET',
            data: formData,
            success: function(data) {
                $('#annonces-container').html(data.content);
            }
        });
    }
    $('#moderateur-annonce-search-form input, #moderateur-annonce-search-form select').on('keyup change', function() {
        searchAnnonces();
    });
});
</script>
{% endblock %}

