{% extends 'base.html.twig' %}

{% block body %}
<section id="step-one" class="" style="background-color: black;">
    <div class="container">
        <h1 class="h1 text-center pt-4 text-white font-bold">
            {{ 'app_identity_expert_step_one.title'|trans }}
        </h1>
        <div class="row text-white">
            <div class="col-md-6 offset-md-3">
                <hr class="my-2 mb-4">
                {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                {{ form_errors(form) }}

                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        Raison social *
                    </div>
                    <div class="col-sm-8">
                        {{ form_row(form.raisonSocial, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        Numéro d'identification fiscale (NIF) *
                    </div>
                    <div class="col-sm-8">
                        {{ form_row(form.nif, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        Statut juridique profesionnelle *
                    </div>
                    <div class="col-sm-8">
                        {{ form_row(form.statutJuridique, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        Date de création de l'entreprise
                    </div>
                    <div class="col-sm-8 d-flex">
                        {{ form_widget(form.creation.day, {'attr': {'class': 'custom-rounded-start', 'style':'width:33%'}}) }}
                        {{ form_widget(form.creation.month, {'attr': {'class': 'custom-rounded-middle', 'style':'width:33%'}}) }}
                        {{ form_widget(form.creation.year, {'attr': {'class': 'custom-rounded-end', 'style':'width:33%'}}) }}
                    </div>
                </div>

                <hr class="my-2 mb-4">

                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        Adresse de l'entreprise
                    </div>
                    <div class="col-sm-8">
                        {{ form_row(form.adressePro, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        Numéro téléphone Professionnel *
                    </div>
                    <div class="col-sm-8">
                        {{ form_row(form.telephonePro, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        Adresse e-mail professionnelle *
                    </div>
                    <div class="col-sm-8">
                        {{ form_row(form.emailPro, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

            </div>


            <div style="display:none">
                {{ form_widget(form) }}
            </div>
            <hr class="my-4">
            <div class="d-flex flex-column flex-sm-row justify-content-center">
                <button type="reset" id="cancel" class="btn btn-outline-secondary rounded-pill mx-2 mb-3">
                    {{ 'app_identity_expert_step_one.cancel'|trans }}
                </button>
                <button type="submit" id="submit" class="btn btn-primary rounded-pill mx-2 mb-3">
                    {{ 'app_identity_expert_step_one.button'|trans }}
                </button>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{{ path('app_dashboard_candidat_compte')}}" id="cancel" class="text-light my-3 small">
                    <i class="bi bi-info-circle h5"></i>  Vous pouvez toujours modifier les infos dans votre espace personnel
                </a>
            </div>

            <hr class="my-4">
            {{ form_end(form) }}
            <div class="col-md-8 offset-md-4 text-white">
                {% include "dashboard/_inner_footer_light.html.twig" %}
            </div>

        </div>
    </div>
</section>


<script>

</script>
{% endblock %}