{% extends 'base.html.twig' %}
{% block body %}
<section id="contact" class="my-5" style="background-color: black;">
    <div class="container my-5 d-flex flex-column justify-content-center">
        <div class="row my-4">
            <div class="col d-flex flex-column justify-content-center">

                <h1 class="text-white text-center display-4">{{ 'app_home.contact.h1'|trans }}</h1>

                <div class="col-6 mx-auto">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-primary">
                        {{ message }}
                    </div>
                {% endfor %}
                    {{ form_start(form , {'attr': {'class': 'row'}}) }}
                    <div class="row mt-3">
                    {{ form_label(form.titre) }}
                    </div>
                    {{ form_widget(form.titre) }}
                    <div class="row mt-3">
                    {{ form_label(form.message) }}
                    </div>
                    {{ form_widget(form.message) }}
                    <div class="row mt-3">
                    {{ form_label(form.email) }}
                    </div>
                    {{ form_widget(form.email) }}
                    <div class="row mt-3">
                    {{ form_label(form.numero) }}
                    </div>
                    {{ form_widget(form.numero) }}
                    <div class="form-check mt-3 form-check-inline">
                        <div class="row">
                            <div class="col-1 m-0 p-0">
                                <div class="form-check form-check-inline">
                                    {{ form_widget(form.agreeTerms) }}
                                </div>
                            </div>
                            <div class="col-11 m-0 pl-0">
                                <label class="form-check-label fs-6" for="{{ form.agreeTerms.vars.id }}">
                                    {{ attribute(form.agreeTerms.vars.attr, 'label')|trans({
                                        '%terms_url%': path('app_home_terms'),
                                    })|raw }}
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="col-6 mx-auto">
                        <button type="submit" class="btn btn-primary w-100 my-3 ">{{ 'app_home.contact.button'|trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}
