{% extends 'base.html.twig' %}
{% block body %}
<section id="legal" class="my-5" style="background-color: black;">
    <div class="container my-5 d-flex flex-column justify-content-center">
        <div class="row my-4">
            <div class="col d-flex flex-column justify-content-center">
                <h1 class="text-white text-center display-2">{{ 'app_home.legal.h1'|trans }}</h1>
                <h2 class="text-white display-6 my-3">{{ 'app_home.legal.section1.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section1.p1'|trans |raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section1.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section1.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section1.p4'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section1.p5'|trans |raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section1.p6'|trans |raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section1.p7'|trans |raw }}</p>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.legal.section2.h2'|trans | raw }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section2.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">
                        {{ 'app_home.legal.section2.p1'|trans({
                            '%home_url%': path('app_home'),
                        })|raw }}<br>
                        {{ 'app_home.legal.section2.p2'|trans({
                            '%home_url%': path('app_home'),
                        })|raw }}<br>
                        {{ 'app_home.legal.section2.p3'|trans | raw }}<br>
                        {{ 'app_home.legal.section2.p4'|trans | raw }}<br>
                        {{ 'app_home.legal.section2.p5'|trans | raw }}<br>
                        {{ 'app_home.legal.section2.p6'|trans | raw }}<br>
                    </p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section2.p7'|trans }}</p>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.legal.section3.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section3.p'|trans }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section3.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section3.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.legal.section4.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section4.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section4.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.legal.section5.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section5.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section5.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section5.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.legal.section6.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section6.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section6.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.legal.section7.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section7.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section7.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section7.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.legal.section8.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section8.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                </div>

                <h3 class="text-white display-7 my-3">{{ 'app_home.legal.section9.h3'|trans }}</h3>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section9.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section9.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h3 class="text-white display-7 my-3">{{ 'app_home.legal.section10.h3'|trans }}</h3>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section10.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <ul class="text-white fs-6">
                        <li>
                            {{ 'app_home.legal.section10.li0'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section10.li1'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section10.li2'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section10.li3'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section10.li4'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                    </ul>
                    <p class="text-white fs-6">{{ 'app_home.legal.section10.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h3 class="text-white display-7 my-3">{{ 'app_home.legal.section11.h3'|trans }}</h3>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section11.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <ul class="text-white fs-6">
                        <li>
                            {{ 'app_home.legal.section11.li0'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li1'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li2'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li3'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li4'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li5'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                    </ul>
                    <p class="text-white fs-6">{{ 'app_home.legal.section11.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section11.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white text-center fs-6">{{ 'app_home.legal.section11.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section11.p4'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section11.p5'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h3 class="text-white display-7 my-3">{{ 'app_home.legal.section12.h3'|trans }}</h3>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section12.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section12.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section12.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section12.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h3 class="text-white display-7 my-3">{{ 'app_home.legal.section13.h3'|trans }}</h3>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section13.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section13.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section13.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="text-white display-7 my-3">{{ 'app_home.legal.section14.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section14.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section14.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <h3 class="text-white display-7 my-3">{{ 'app_home.legal.section14.h3'|trans }}</h3>
                    <p class="text-white fs-6">{{ 'app_home.legal.section14.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section14.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="text-white display-7 my-3">{{ 'app_home.legal.section15.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-white text-center fs-6">{{ 'app_home.legal.section15.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <h3 class="text-white display-7 my-3">{{ 'app_home.legal.section15.h3'|trans }}</h3>
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p4'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p5'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p6'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p7'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p8'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section15.p9'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>

                    <h3 class="text-white display-7 my-3">{{ 'app_home.legal.section16.h3'|trans }}</h3>
                    <p class="text-white fs-6">{{ 'app_home.legal.section16.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section16.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section16.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.legal.section16.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="text-white display-7 my-3">{{ 'app_home.legal.section17.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.legal.section17.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
