{% extends 'dashboard/base_new.html.twig' %}
{% block stylesheets %}
	<meta property="og:url" content="{{ app.request.uri }}">
	<meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ asset('/images/logo-og.png') }}">
	{{parent()}}
	<link href="{{asset('assets/css/jquery.steps.css')}}" rel="stylesheet">
{% endblock %}
{% block header %}
	{% include "parts/_navbar.html.twig" %}
{% endblock %}
{% block sidebar %}
	{% if app.user %}
		{{ parent() }}
	{% else %}
		<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
			<div class="px-3">
				<h3 class="h4 text-center">Bienvenue sur notre Simulateur de Salaire pour Entreprises</h3>
				<p class="text-center pt-5">Vous gérez une entreprise et envisagez d'embaucher de nouveaux talents ? Notre simulateur de salaire est conçu spécialement pour aider les entreprises à estimer les coûts salariaux. Cet outil pratique vous permettra de calculer facilement le coût total d'embauche en prenant en compte les charges sociales, les taxes et tout autre frais associé, pour vous assurer d'offrir un salaire net attractif tout en maîtrisant vos coûts.</p>
			</div>
		</div>
	{% endif %}

{% endblock %}
{% block body %}
	<div class="container">
		<div class="annonce-list p-2 p-sm-0">
				<h1 class="card-title mb-3">Simulateur de salaire</h1>
				<div class="d-block d-sm-none">
					<div class="px-3">
						<h3 class="h4 text-center">Bienvenue sur notre Simulateur de Salaire pour Entreprises</h3>
						<p class="text-center pt-5">Vous gérez une entreprise et envisagez d'embaucher de nouveaux talents ? Notre simulateur de salaire est conçu spécialement pour aider les entreprises à estimer les coûts salariaux. Cet outil pratique vous permettra de calculer facilement le coût total d'embauche en prenant en compte les charges sociales, les taxes et tout autre frais associé, pour vous assurer d'offrir un salaire net attractif tout en maîtrisant vos coûts.</p>
					</div>
				</div>
			<div class="annonce-item shadow p-3 p-sm-5 m-1 m-sm-4">
				<div class="">
					{{form_start(form, {'attr': {'id': 'example-basic'}}) }}
					{{ form_widget(form.deviseSymbole, {'attr': {'data-id': 'simulateur_deviseSymbole'}})}}
					<!-- Début du formulaire avec l'ID "example-basic" -->
					<h3 class="card-title mb-3">Devise</h3>
					<section
						style="position: relative;width: 100%;">
						<!-- Explication du champ "Taux de change" -->
						<legend class="h2">{{ form_label(form.devise) }}</legend>
						<div class="row">
							<div class="col-lg-6">
								{{ form_widget(form.devise)}}
							</div>
							<div class="col-lg-6">
								<div class="input-group">
									{{ form_widget(form.taux)}}
									<span class="input-group-text">Ar</span>
								</div>
							</div>
						</div>
						<p class="mt-4">Le taux de change est le taux appliqué pour convertir les coûts salariaux estimés dans la devise de votre entreprise à partir de celle du pays de résidence de l'employé potentiel.</p>
						<legend class="h2">{{ form_label(form.type) }}</legend>
						<div class="">
							{{ form_widget(form.type)}}
						</div>
					</section>

					<h3 class="card-title mb-3">Salaire Net</h3>
					<section
						class="text-grey" style="position: relative;width: 100%;">
						<!-- Explication du champ "Salaire Net" -->
						<legend class="h2">{{ form_label(form.salaireNet) }}</legend>
						<div class="col-lg-6 col-sm-12">
							<div class="input-group">
								{{ form_widget(form.salaireNet)}}
								<span class="input-group-text change-devise">€</span>
							</div>
						</div>
						<p class="mt-4">Le salaire net proposé représente le montant que l'employé recevra après déduction des impôts et des cotisations sociales.</p>
					</section>

					<h3 class="card-title mb-3">Avantages</h3>
					<section
						class="text-grey" style="position: relative;width: 100%;">
						<!-- Explication du champ "Charge" -->
						<div class="row align-items-center">
							<div class="col-lg-4 col-sm-6">
								<label class="col-form-label mt-3">{{ form_label(form.nombreEnfant) }}
									<span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Pour calculer les avantages fiscaux et les allocations familiales.">
										<i class="bi bi-info-circle-fill"></i>
									</span>
								</label>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="input-group">
									{{ form_widget(form.nombreEnfant)}}
								</div>
							</div>
						</div>
						<div class="row align-items-center" id="freelance">
							<div class="col-lg-4 col-sm-6">
								<label class="col-form-label mt-3">{{ form_label(form.avantage.primeConnexion) }}
									<span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Forfait mensuel souhaité.">
										<i class="bi bi-info-circle-fill"></i>
									</span>
								</label>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="input-group">
									{{ form_widget(form.avantage.primeConnexion)}}
									<span class="input-group-text change-devise">€</span>
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-4 col-sm-6">
								<label class="col-form-label mt-3">Indemnités repas</label>
							</div>
							<div class="col-lg-6 col-sm-6">
								<div class="input-group">
									{{ form_widget(form.jourRepas)}}
									{{ form_widget(form.prixRepas)}}
									<span class="input-group-text change-devise">€</span>
								</div>
								<div class="row small">
									<div class="col-5 form-text">Nombre de jour</div>
									<div class="col-7 form-text">Prix journalier</div>
								</div>
							</div>
						</div>
						<div class="row align-items-center" id="employe" style="display: none;">
							<div class="col-lg-4 col-sm-6">
								<label class="col-form-label mt-3">Indemnités deplacement</label>
							</div>
							<div class="col-lg-6 col-sm-6">
								<div class="input-group">
									{{ form_widget(form.jourDeplacement)}}
									{{ form_widget(form.prixDeplacement)}}
									<span class="input-group-text change-devise">€</span>
								</div>
								<div class="row small">
									<div class="col-5 form-text">Nombre de jour</div>
									<div class="col-7 form-text">Prix journalier</div>
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-4 ">
								<label class="col-form-label mt-3">{{ form_label(form.avantage.primeFonction) }}
									<span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Frais professionnels">
										<i class="bi bi-info-circle-fill"></i>
									</span>
								</label>
							</div>
							<div class="col-lg-3 ">
								<div class="input-group">
									{{ form_widget(form.avantage.primeFonction)}}
									<span class="input-group-text change-devise">€</span>
								</div>
							</div>
						</div>
					</section>

					<h3 class="card-title mb-3">Résumé</h3>
					<section
						class="text-grey" style="position: relative;width: 100%;">
						<!-- Explication du champ "Prime" -->
						<div id="resum"></div>
						<div style="display:none;">
							<button type="button" id="popup" data-bs-toggle="modal" data-bs-target="#connexionModal"></button>
						</div>
					</section>
				</div>
			</div>

		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="connexionModal" tabindex="-1" aria-labelledby="connexionModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="connexionModalLabel">Vous devez vous inscrire</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				{% if not connected %}
					<div class="row">
						<div class="col-md-6">
							{{ form_row(form.employe.user.nom) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form.employe.user.prenom) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form_row(form.employe.user.email) }}
							<div id="email-error-message" class="invalid-feedback d-block" style="display:none;"></div>
						</div>
						<div class="col-md-6">
							{{ form_row(form.employe.user.telephone) }}
							<div id="telephone-error-message" class="invalid-feedback d-block" style="display:none;"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form_row(form.employe.user.plainPassword.first) }}
							<div id="password-error-message" class="invalid-feedback d-block" style="display:none;"></div>
						</div>
						<div class="col-md-6">
							{{ form_row(form.employe.user.plainPassword.second) }}
						</div>
					</div>
					<div class="form-check form-check-inline">
						<div class="row">
							<div class="col-1 m-0 p-0">
								<div class="form-check form-check-inline">
									{{ form_widget(form.employe.user.agreeTerms) }}
								</div>
							</div>
							<div class="col-11 m-0 pl-0">
								<label class="form-check-label fs-6" for="{{ form.employe.user.agreeTerms.vars.id }}">
									{{ attribute(form.employe.user.agreeTerms.vars.attr, 'label')|trans({
                            '%terms_url%': path('app_home_terms'),
                            '%privacy_url%': path('app_home_privacy')
                        })|raw }}
								</label>
							</div>
						</div>

					</div>
					<div class="text-center">
						<button class="btn rounded-pill px-5 btn-dark" type="submit" id="register-submit">
							{{ 'app_register.menu'|trans }}
						</button>
					</div>
				
				{% endif %}
					<div style="display:none;">
						{{ form_widget(form)}}
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
	{% block modal %}{% endblock %}
	<script src="{{asset('assets/js/jquery.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.steps.min.js')}}"></script>
	<script src="{{asset('assets/js/jqueryValidate.js')}}"></script>
	<script src="{{asset('assets/main.js')}}"></script>
	<script>
		$(function () {
			initEntrepriseFormStep($("#example-basic"), "h3", "section", "fade", utilisateurEstConnecte());
			
			$('#simulateur_employe_user_email').blur(function() {
				var email = $(this).val();
				if (email !== '') {
					// Vérifiez la disponibilité de l'e-mail
					checkEmailAvailability(email);
				}
    		});

			$('#simulateur_employe_user_plainPassword_first').blur(function() {
				var password = $(this).val();
				if (password !== '') {
					if(password.length < 5){
						$('#password-error-message').html('Le mot de passe doit comporter au moins 6 caractères.').show();
						$('#simulateur_employe_user_plainPassword_first').addClass(' is-invalid')
						$('#register-submit').prop('type', 'button');
					}else{
						$('#password-error-message').html('').hide();
    					$('#simulateur_employe_user_plainPassword_first').removeClass('is-invalid');
						$('#register-submit').prop('type', 'submit');
					}
				}else{
					$('#password-error-message').html('Veuillez entrer un mot de passe.').show();
					$('#simulateur_employe_user_plainPassword_first').addClass(' is-invalid')
					$('#register-submit').prop('type', 'button');
				}
    		});

			$('#simulateur_employe_user_telephone').blur(function() {
				var telephone = $(this).val();
				if (telephone !== '') {
					if(telephone.length < 9){
						$('#telephone-error-message').html('Veuillez entrer un numéro valide.').show();
						$('#simulateur_employe_user_telephone').addClass(' is-invalid')
						$('#register-submit').prop('type', 'button');
					}else{
						$('#telephone-error-message').html('').hide();
    					$('#simulateur_employe_user_telephone').removeClass('is-invalid');
						$('#register-submit').prop('type', 'submit');
					}
				}else{
					$('#telephone-error-message').html('Veuillez entrer votre numéro de téléphone.').show();
					$('#simulateur_employe_user_telephone').addClass(' is-invalid')
					$('#register-submit').prop('type', 'button');
				}
    		});

			if (checkFields()) {
				// Si l'un des champs est vide, désactivez le bouton submit
				$('#register-submit').prop('disabled', true);
				$('#register-submit').prop('type', 'button');
			} else {
				// Sinon, activez le bouton submit
				$('#register-submit').prop('disabled', false);
				$('#register-submit').prop('type', 'submit');
			}

			// Écouteur d'événement sur les champs pour vérifier lorsqu'ils changent
			$('input[id^="simulateur_employe_user_"]').on('input', function() {
				// Vérifiez si l'un des champs est vide
				if (checkFields()) {
					// Si l'un des champs est vide, désactivez le bouton submit
					$('#register-submit').prop('disabled', true);
					$('#register-submit').prop('type', 'button');
				} else {
					// Sinon, activez le bouton submit
					$('#register-submit').prop('disabled', false);
					$('#register-submit').prop('type', 'submit');
				}
			});

			// Sélectionner le champ select
			var selectType = $('#simulateur_type');

			// Sélectionner les divs à afficher ou cacher
			var divEmploye = $('#employe');
			var divFreelance = $('#freelance');

			// Ajouter un gestionnaire d'événement pour le changement de valeur dans le champ select
			selectType.on('change', function() {
				console.log($(this).val())
				// Vérifier la valeur sélectionnée
				if ($(this).val() === 'EMPLOYER') {
					// Afficher la div pour Employé et cacher la div pour Freelance
					console.log("hide frelance")
					divEmploye.show();
					divFreelance.hide();
				} else if ($(this).val() === 'FREELANCE') {
					// Afficher la div pour Freelance et cacher la div pour Employé
					console.log("hide employe")
					divEmploye.hide();
					divFreelance.show();
				}
			});
		})

		function checkEmailAvailability(email) {
			$.ajax({
				type: 'POST',
				url: '{{path('ajax_home_check_email')}}', // Remplacez cela par le chemin de votre script PHP de vérification
				data: {
					email: email
				},
				success: function(response) {
					// Afficher le message de réponse
					console.log(response)
					if(response.user !== null){
						$('#email-error-message').html('Il existe déjà un compte avec cette adresse e-mail.').show();
						$('#simulateur_employe_user_email').addClass(' is-invalid')
						$('#register-submit').prop('type', 'button');
					}else{
						$('#email-error-message').html('').hide();
    					$('#simulateur_employe_user_email').removeClass('is-invalid');
						$('#register-submit').prop('type', 'submit');
					}
				}
			});
		}

		function utilisateurEstConnecte() {
			const session = {{ app.session.all|json_encode()|raw }};;
			return session.utilisateurEstConnecte
		}

		// Fonction pour vérifier si l'un des champs est vide
		function checkFields() {
			var isEmpty = false;
			$('input[id^="simulateur_employe_user_"]').each(function() {
				if ($(this).val() === '') {
					isEmpty = true;
					return false; // Sortir de la boucle si un champ est vide
				}
			});
			return isEmpty;
		}

	</script>
{% endblock %}

{% block inner_footer %}
	{% include "dashboard/_inner_footer.html.twig" %}
{% endblock %}
