{% extends 'base.html.twig' %}
{% block body %}
<section id="terms" class="my-5" style="background-color: black;">
    <div class="container my-5 d-flex flex-column justify-content-center">
        <div class="row my-4">
            <div class="col d-flex flex-column justify-content-center">
                <h1 class="text-white text-center display-2">{{ 'app_home.terms.h1'|trans }}</h1>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.terms.section1.p'|trans |raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.terms.section1.p1'|trans |raw }}</p>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.terms.section2.h2'|trans | raw }}</h2>
                <div class="">
                    <h3 class="text-white display-7 my-3">{{ 'app_home.terms.section2.h3'|trans | raw }}</h3>
                    <p class="text-white fs-6">{{ 'app_home.terms.section2.p'|trans({
                        '%terms_url%': path('app_home_terms'),
                    })|raw }}</p>
                    <h3 class="text-white display-7 my-3">{{ 'app_home.terms.section3.h3'|trans | raw }}</h3>
                    <p class="text-white fs-6">{{ 'app_home.terms.section3.p'|trans({
                        '%terms_url%': path('app_home_terms'),
                    })|raw }}</p>
                    <ul class="text-white fs-6">
                        <li>
                            {{ 'app_home.terms.section3.li0'|trans({
                                '%terms_url%': path('app_home_terms'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li1'|trans({
                                '%terms_url%': path('app_home_terms'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li2'|trans({
                                '%terms_url%': path('app_home_terms'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li3'|trans({
                                '%terms_url%': path('app_home_terms'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li4'|trans({
                                '%terms_url%': path('app_home_terms'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li5'|trans({
                                '%terms_url%': path('app_home_terms'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li6'|trans({
                                '%terms_url%': path('app_home_terms'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li7'|trans({
                                '%terms_url%': path('app_home_terms'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li8'|trans({
                                '%terms_url%': path('app_home_terms'),
                            })|raw }}
                        </li><br>
                    </ul>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.privacy.section5.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.privacy.section5.p'|trans }}</p>
                    <p class="text-white fs-6">{{ 'app_home.privacy.section5.p1'|trans({
                        '%terms_url%': path('app_home_terms'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.privacy.section5.p3'|trans }}</p>
                    <p class="text-white fs-6">{{ 'app_home.privacy.section5.p4'|trans({
                        '%terms_url%': path('app_home_terms'),
                    })|raw }}</p>
                </div>

                <h2 class="text-white display-6 my-3">{{ 'app_home.privacy.section6.h2'|trans }}</h2>
                <div class="">
                    <p class="text-white fs-6">{{ 'app_home.privacy.section6.p'|trans }}</p>
                    <p class="text-white fs-6">{{ 'app_home.privacy.section6.p1'|trans({
                        '%terms_url%': path('app_home_terms'),
                    })|raw }}</p>
                    <p class="text-white fs-6">{{ 'app_home.privacy.section6.p2'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
