{% extends 'base_v21.html.twig' %}

{% block title %}
	{{ annonce.titre }}
	| Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endblock %}

{% block body %}
	<section class="">
		<div class="shadow p-2 p-sm-4">
			<h2 class="fs-4 fw-bolder my-2 my-sm-3">
				<i class="bi bi-megaphone text-warning me-2"></i>
				{{ annonce.titre }} Réf:{{ generateJobReference(annonce.id) }}
			</h2>
			<hr>
			<p class="small fw-light">
				<i class="bi bi-circle-fill small mx-2 text-danger"></i>
				{{ getStatuses(annonce.status) }}
				<span class="small text-center mx-1 mx-sm-3">|</span>
				{{ annonce.typeContrat }}
				<span class="small text-center mx-1 mx-sm-3">|</span>
				<i class="bi bi-geo-alt-fill"></i>
				{{ annonce.lieu }}
				<span class="small text-center mx-1 mx-sm-3">|</span>
				<i class="bi bi-hourglass-split"></i>
				Expire le
				{{ annonce.dateExpiration|date('d/m/Y') }}
				<span class="small text-center mx-1 mx-sm-3">|</span>
				<i class="bi bi-eye"></i>
				{{ annonce.annonceVues|length }}
				vues
				<span class="small text-center mx-1 mx-sm-3">|</span>
				<i class="bi bi-bookmark-check"></i>
				{{ annonce.applications|length }}
				offres
			</p>
			<p>{{ annonce.description|raw }}</p>


			<div class="mt-3">
				<p class="">
					<i class="bi bi-gear mx-1 mx-sm-3 text-primary"></i>
					Compétences requises :
					{% if annonce.competences|length > 0 %}
						{% for skill in annonce.competences %}
							<span class="badge rounded-pill text-bg-secondary">{{ skill.nom }}</span>
						{% endfor %}
					{% else %}
						<p>Aucune compétence spécifique requise.</p>
					{% endif %}
				</p>
			</div>

			<div class="mb-3">
				<p class="">
					<i class="bi bi-calendar-week mx-1 mx-sm-3 text-primary"></i>
					Publication :
					<span class="text-strong">{{ annonce.dateCreation|time_ago }}</span>
				</p>
			</div>

			<div class="mb-3">
				<p class="">
					<i class="bi bi-currency-exchange mx-1 mx-sm-3 text-primary"></i>
					Budget indicatif :
					<span class="text-strong">
						{% if annonce.budgetAnnonce is defined and annonce.budgetAnnonce is not null %}
							{{ annonce.budgetAnnonce.montant }}
							{{annonce.budgetAnnonce.devise}}
						{% else %}
							{{ annonce.salaire }}
							€
						{% endif %}
					</span>
				</p>
			</div>

			<div class="h-100 p-5 border rounded-3">
			{% if purchasedContact is defined and purchasedContact is not null %}
				<h2 class="fs-4">Information client</h2>
				<div class="row my-4 align-items-center">
					<div class="col-12 col-md-3">
						<div class="rounded-circle profile-img bg-image-candidat-account" style="background-image: url('/uploads/experts/company-default.jpg');" alt="Avatar"></div>
					</div>
					<div class="col-12 col-md-6">
						<strong>Entreprise:</strong> {{ purchasedContact.contact.entrepriseProfile.nom }}<br>
						<strong>Email:</strong> {{ purchasedContact.contact.email }}<br>
						<strong>Téléphone:</strong> {{ purchasedContact.contact.telephone }}<br>
					</div>
				</div>
			{% else %}
				<div id="contactDetails">
					<h2 class="fs-4">Contacter le client</h2>
					<p>Vous pouvez contacter directement l'entreprise et l'ajouter à votre réseau professionnel pour explorer les opportunités et collaborations possibles.</p>
					<form action="{{ path('app_v2_contact_show')}}" method="post" id="show-recruiter-contact">
						<input type="hidden" name="recruiterId" value="{{ annonce.entreprise.id }}">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('show-contact') }}">
						<button data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-price="50 crédits" data-bs-type="show-recruiter-contact" class="btn btn-primary text-uppercase fw-semibold" type="button">Voir le contact (50 crédits)</button>
					</form>
				</div>
			</div>
		{% endif %}
		</div>
	</section>
{% endblock %}
