{% extends 'dashboard/base.html.twig' %}

{% block body %}
	{% set salaire_plafond = convertToAriary(results.salaire_brut_estime_euro, simulateur) %}
	{% if salaire_plafond > 1910400 %}
		{% set salaire_plafond = convertToDevise(1910400, simulateur) %}
	{% endif %}
	<div class="container my-5">
		<h2>Portage salariale</h2>
		{{ portage|contratStatus|raw}}
		<hr>
		<div class="row">
			<div class="col-6 mx-auto">
				<h3>Utilisateur</h3>
				<div class="row">
					<div class="col-sm-6 text-strong">Nom et prénom(s) :</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col text-right text-muted">{{ portage.employe.user.nom }}
								{{ portage.employe.user.prenom }}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-strong">email :</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col text-right text-muted">{{ portage.employe.user.email }}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-strong">Téléphone :</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col text-right text-muted">{{ portage.employe.user.telephone }}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-strong">Type :</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col text-right text-muted">{{ portage.employe.user.type }}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 mx-auto">
				<h3>Simulation</h3>
				<div class="row">
					<div class="col mx-auto">
						<div class="row">
							<div class="col-sm-6 text-strong">Créée le :</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col text-right text-muted">{{ portage.simulateur.createdAt|date('d/m/Y') }}</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-strong">Devise :</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col text-right text-muted">{{ portage.simulateur.devise }}</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-strong">Taux :</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col text-right text-muted">{{ portage.simulateur.devise.taux }}
										Ar</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-strong">Salaire net souhaité :</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col text-right text-muted">{{ portage.simulateur.salaireNet }}
										{{ portage.simulateur.devise.symbole }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<h3>Détails</h3>
		<div class="row">
			<div class="col mx-auto">
				<div class="row " style="line-height: 2;">

					<div class="col-sm-6">
						<div class="row py-4 bg-danger ">
							<div class="col-sm-6 text-strong">Devise:</div>
							<div class="col-sm-6 text-center">{{ simulateur.devise }}</div>
						</div>
						<div class="row py-2 bg-dark text-white">
							<div class="col-sm-6 text-strong">Salaire net souhaité:</div>
							<div class="col-sm-6 text-right">{{ results.salaire_net_euro|number_format(2, '.', '') }}
								{{ simulateur.devise.symbole }}</div>
						</div>

						<div class="row">
							<div class="col-sm-6 text-strong">Salaire de base:
							</div>
							<div class="col-sm-6 text-right">{{ results.salaire_de_base_euro|number_format(2, '.', '') }}</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-strong">Nombre d'enfants :</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-6"></div>
									<div class="col-sm-6 text-right">{{ results.nbrEnfant }}</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-strong">Frais professionnels :</div>
							<div class="col-sm-6 text-right">{{ convertToDevise(results.fraisProfessionnels, simulateur)|number_format(2, '.', '')}}</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-strong">Connexion :</div>
							<div class="col-sm-6 text-right">{{ convertToDevise(results.fraisConnexion, simulateur)|number_format(2, '.', '')}}</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-strong">Repas :</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-6 text-center">{{ simulateur.jourRepas}}</div>
									<div class="col-sm-6 text-right">{{ (convertToDevise(results.fraisRepas, simulateur) * 20)|number_format(2, '.', '') }}</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-strong">Déplacement :</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-6 text-center">{{ simulateur.jourDeplacement}}</div>
									<div class="col-sm-6 text-right">{{ (convertToDevise(results.fraisDeplacement, simulateur) * 20)|number_format(2, '.', '') }}</div>
								</div>
							</div>
						</div>
						{% if simulateur.status is defined and simulateur.status is same as('FREELANCE') %}
							<hr>
							<div class="row">
								<div class="col text-danger h5">Impôt Synthétique Intermittent (ISI)</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">ISI 5% :</div>
								<div class="col-6 text-right">{{results.irsa_euro|number_format(2, '.', '')}}</div>
							</div>
							<hr>
							<div class="row bg-info">
								<div class="col-6 text-strong">Prestation totale :</div>
								<div class="col-6 text-right text-strong">{{ results.salaire_brut_estime_euro|number_format(2, '.', '') }}
									{{ simulateur.devise.symbole }}</div>
							</div>
						{% else %}
							<hr>
							<div class="row">
								<div class="col text-danger h5">Charge salariale</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">CNAPS 1% :</div>
								<div class="col-6 text-right">{{results.cnaps_euro|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">OSTIE 1% :</div>
								<div class="col-6 text-right">{{results.ostie_euro|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">IRSA :</div>
								<div class="col-6 text-right  border-bottom">{{ results.irsa_euro|number_format(2, '.', '')}}</div>
							</div>
							<div class="row ">
								<div class="col-6 "></div>
								<div class="col-6 text-right text-strong">{{ results.charge_salariale_euro|number_format(2, '.', '')}}
								</div>
							</div>
							<hr>
							<div class="row bg-info">
								<div class="col-6 text-strong">Salaire brut :</div>
								<div class="col-6 text-right text-strong">{{ results.salaire_brut_estime_euro|number_format(2, '.', '') }}
									{{ simulateur.devise.symbole }}</div>
							</div>
						{% endif %}
					</div>
					<div class="col-sm-6">
						<hr class="d-block d-sm-none">
						{% if simulateur.status is defined and simulateur.status is not same as('FREELANCE') %}
							<div class="row">
								<div class="col text-danger h5">Charge patronnale</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">CNAPS 13% :</div>
								<div class="col-6 text-right">{{(salaire_plafond * 0.13)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">OSTIE 5% :</div>
								<div class="col-6 text-right">{{(salaire_plafond * 0.05)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">FMPF 1% :</div>
								<div class="col-6 text-right border-bottom">{{ (salaire_plafond * 0.01)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 "></div>
								<div class="col-6 text-right text-strong">{{ results.charges_patronales_euro|number_format(2, '.', '')}}</div>
							</div>
							<hr>
						{% endif %}
						<div class="row">
							<div class="col text-danger h5">Frais de portage</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-strong">Frais de portage :</div>
							<div class="col-sm-6 text-right text-strong">{{ results.frais_de_portage_euro|number_format(2, '.', '')}}</div>
						</div>
						<hr>
						<br>
						<br>
						<div class="row bg-warning shadow py-3 mx-2">
							<div class="row text-strong mx-2">Coût total à envoyer au client :</div>
							<div class="row text-right h3 mx-2">{{ results.facture_total_a_envoyer_euro|number_format(2, '.', '') }}
								{{ simulateur.devise.symbole }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col"></div>
						<div class="col"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
