{% extends 'dashboard/base.html.twig' %}

{% block title %}Mes contrats
{% endblock %}

{% block body %}
	<div class="container">
		<div class="annonce-list p-2">
			<div class="annonce-item shadow p-md-5 m-md-4">
				<h1 class="h2">Mes contrats</h1>
				<hr>

				{% if contrats|length > 0 %}
					<div class="container">
						<div class="row text-strong">
							<div class="col-sm-5">Salaire Net souhaité</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-6 col-md-4 text-center"></div>
									<div class="col-sm-6 col-md-4">Date</div>
									<div class="col-sm-6 col-md-4"></div>
								</div>
							</div>
							<div class="col-sm-1"></div>
						</div>
						<hr>
						{% for item in contrats %}
							<div class="row text-muted">
								<div class="col-sm-5 small">
									<a href="{{ path('app_dashboard_employes_simulation_view', {'id' : item.id })}}" class="">
										{{ item.salaireNet}}
										{{ item.devise.symbole}}
									</a>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div
											class="col-sm-6 col-md-4 text-center">{# <a href="{{ path('app_dashboard_moderateur_cooptation_annonce', {'jobId' : item.annonce.jobId })}}" class="">
												                                                <span class="badge text-bg-warning">{{ item.referrals|length }}</span>
												                                            </a> #}
										</div>
										<div class="col-sm-6 col-md-4 small">
											{{ item.createdAt|date('d/m/Y') }}
										</div>
										<div
											class="col-sm-6 col-md-4">{# {{ item.annonce.dateExpiration|date('d/m/Y') }} #}
										</div>
									</div>
								</div>
								<div class="col-sm-1 small">
									<a href="{{ path('app_dashboard_employes_simulation_view', {'id' : item.id })}}" class="btn btn-sm btn-info">
										<i class="bi bi-eye"></i>
									</a>
								</div>
							</div>
							<hr>
						{% endfor %}
						<!-- Plus de lignes et colonnes ici -->
					</div>
				{% else %}
					<div class="container p-5 mx-auto text-center h5">
						Aucuns contrat effectuées jusqu'à présent
						<br>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

{% endblock %}
{% block inner_footer %}
	{% include "dashboard/_inner_footer.html.twig" %}
{% endblock %}
