{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
    <div class="input-group mb-3">
        <span class="input-group-text">OT</span>{{ form_widget(form.matricule, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.q, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
        <button class="btn btn-dark" type="submit"><i class="mx-2 h5 bi bi-search"></i></button>
    </div>
{{ form_end(form) }}