{{ form_start(form, {'attr': {'class': 'form-inline p-4 shadow'}}) }}
    <div class="input-group mb-3">
        <span class="input-group-text">OT</span>{{ form_widget(form.matricule, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.cv, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.secteurs, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.experiences, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.competences, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="input-group">
        {{ form_widget(form.q, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.relance, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.dispo, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.resume, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.tarif, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.level, {'attr': {'class': 'form-control'}}) }}
        <button class="btn btn-dark" type="submit"><i class="mx-2 h5 bi bi-search"></i> Rechercher</button>
    </div>
{{ form_end(form) }}