{% extends 'finance/base.html.twig' %}

{% block title %}Employés
{% endblock %}

{% block body %}
	<div class="container">
		<div class="annonce-list p-2">
			<div class="annonce-item shadow p-5 m-4">
				<h2 class="h3">Employé :
					<span class="text-danger">{{ employe.user.fullName }}</span>
				</h2>

				<!-- Onglets -->
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" id="details-tab" data-bs-toggle="tab" href="#details">Résumé</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="simulateurs-tab" data-bs-toggle="tab" href="#simulateurs">Simulateurs ({{ employe.simulateurs|length }})</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="email-tab" data-bs-toggle="tab" href="#email">
							<i class="bi h5 mx-2 bi-envelope-at"></i>
							Email
						</a>
					</li>
				</ul>

				<!-- Contenu des onglets -->
				<div class="tab-content mt-3">

					<div class="tab-pane fade show active" id="details">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-3">
										<div class="rounded-circle profile-img bg-image-candidat-account" style="background-image: url('{{ asset('uploads/experts/avatar-default.jpg') }}');" alt="Avatar"></div>
									</div>
									<div class="col-md-9">
										<h5 class="card-title">{{ employe.user.fullName }}</h5>
										<p class="card-text">
											<span class="text-muted">Email :</span>
											{{ employe.user.email }}<br>
											<span class="text-muted">Téléphone :
											</span>
											<span class="text-dark">{{ employe.user.telephone }}</span><br>
											<span class="text-muted">Adresse :
											</span>
											<span class="text-dark">{{ employe.user.adress }}</span><br>
											<span class="text-muted">Dernière connexion :
											</span>
											<span class="text-dark">
												{{ employe.user.lastLogin|time_ago }}
											</span><br>
										</p>
									</div>
								</div>
								<p class="card-text mt-3">
									<strong>Date d'inscription:</strong>
									<br>
									{{ employe.user.dateInscription|date('d/m/Y à h:i') }}
								</p>
								<p class="card-text mt-3">
									<strong>Date de naissance:</strong>
									<br>
									{{ employe.dateNaissance|date('d/m/Y') }}
								</p>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="simulateurs">
						<div class="card">
							<div class="card-body">
								{% if employe.simulateurs|length > 0%}
									<div class="row text-strong">
										<div class="col-sm-5">Utilisateur | Salaire Net</div>
										<div class="col-sm-6">
											<div class="row">
												<div class="col-sm-6 col-md-4 text-center">Statut</div>
												<div class="col-sm-6 col-md-4 text-center">Créé le</div>
												<div class="col-sm-6 col-md-4">Simulation</div>
											</div>
										</div>
										<div class="col-sm-1"></div>
									</div>
									<hr>

									<!-- Lignes et cellules -->
									{% for item in employe.simulateurs %}
										<div class="row text-muted">
											<div class="col-sm-5 small">
												<a href="{{path('app_finance_salaire_employe', {'id':item.employe.id})}}" class="">
													{{ item.employe.user.nom}}
													{{ item.employe.user.prenom}}
												</a>
												|
												<span class="text-dark text-strong">{{ item.salaireNet }}
													{{ item.devise.symbole}}</span>
												<br>
												<span class="text-muted">{{ item.employe.user.email}}</span>
											</div>
											<div class="col-sm-6">
												<div class="row">
													<div class="col-sm-6 col-md-4 text-center">
														{{ satusSimulateur(item)|raw }}
													</div>
													<div class="col-sm-6 col-md-4 small text-center">
														{{ item.createdAt|date('d/m/Y') }}<br>
														{{ item.createdAt|date('à h:i') }}
													</div>
													<div class="col-sm-6 col-md-4 small text-dark">
														{{ convertToAriary(item.salaireNet, item)|number_format(0, '.', '.') }}
														Ar
													</div>
												</div>
											</div>
											<div class="col-sm-1 small">
												<a href="{{ path('app_finance_salaire_view', {'id':item.id})}}" class="btn btn-sm btn-info">
													<i class="bi bi-eye"></i>
												</a>
											</div>
										</div>
										<hr>
									{% endfor %}
								</div>
							{% else %}
								<div class="row">
									<div class="col-md-9 mx-auto">
										<div class="container my-5">
											<div class="p-5 text-center bg-body-tertiary rounded-3">
												<h1 class="text-body-emphasis">Aucune assignations</h1>
												<p class="">
													<i class="bi bi-info-circle"></i>
													Le candidat n'a encore assigné à une entreprise.
												</p>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>

					<div class="tab-pane fade" id="email">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-3">
										<div class="alert alert-info small" role="alert">
											<i class="bi bi-info-circle"></i>
											L'intégralité de ce contenu sera envoyée à l'utilisateur. N'oubliez pas d'ajouter 'Bonjour' suivi du nom de l'utilisateur. La mise en forme que vous appliquez ici sera conservée à l'envoi.
										</div>
									</div>
									<div class="col-md-9">
										{{ form_start(form)}}
										{{ form_widget(form)}}
										{{ form_errors(form)}}
										<div class="input-group-append my-4">
											<button type="submit" class="btn btn-success rounded-pill px-3 px-sm-5">Envoyer</button>
										</div>
										{{ form_end(form)}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3 px-5">
			<i class="mx-2 bi bi-arrow-left"></i>Retour
		</a>
	</div>
<script src="{{ asset('assets/ckeditor5/ckeditor.js')}}"></script>
<script>
    ClassicEditor.create( document.querySelector( '#notification_profile_contenu' ) )
</script>
</div>{% endblock %}
