{% extends 'finance/base.html.twig' %}

{% block title %}Employés
{% endblock %}

{% block body %}
	<div class="container">
		<div class="annonce-list p-2">
			<div class="annonce-item shadow p-5 m-4">
				<h1 class="card-title h2 mb-4">{{ employe.user.nom }}
					{{ employe.user.prenom }}</h1>

                <hr>
                    
				<div class="container">

					<div class="row ">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6 text-strong">Matricule:
								</div>
								<div class="col-sm-6">{{ employe.matricule }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Nom :</div>
								<div class="col-sm-6">{{ employe.user.nom }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Prénom :</div>
								<div class="col-sm-6">{{ employe.user.prenom }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">N° CNAPS :</div>
								<div class="col-sm-6">{{ employe.cnaps }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">N° CIN :</div>
								<div class="col-sm-6">{{ employe.cin }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Nbr Enfants :</div>
								<div class="col-sm-6">{{ employe.nombreEnfants }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Fonction :</div>
								<div class="col-sm-6">{{ employe.fonction }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Adresse :</div>
								<div class="col-sm-6">{{ employe.user.adress }}</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6 text-strong">Période :
								</div>
								<div class="col-sm-6">{{getPeriod()}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Date d'embauche :</div>
								<div class="col-sm-6">{{ employe.dateEmbauche|date('d/m/Y') }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Congé M-1 :</div>
								<div class="col-sm-6">{{ getConge(employe.dateEmbauche)}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Droit congé :</div>
								<div class="col-sm-6">2.5</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Congé pris :</div>
								<div class="col-sm-6">{{ employe.congePris }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Situation congé :</div>
								<div class="col-sm-6">{{ getConge(employe.dateEmbauche) - employe.congePris}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Catégorie :</div>
								<div class="col-sm-6">{{ employe.categorie }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Date de debauche :</div>
								<div class="col-sm-6"></div>
							</div>
						</div>
					</div>

					<hr>

					<div class="row ">

						<div class="col-sm-6">

							<div class="row">
								<div class="col-sm-6 text-strong">Salaire de base:
								</div>
								<div class="col-sm-6 text-right">{{ employe.salaireBase|number_format(2, '.', '') }}</div>
							</div>

							<div class="row">
								<div class="col-sm-6 text-strong">Abscence et CM :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.absence }}</div>
										<div class="col-sm-6 text-right">{{ getAbsence(employe)|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">HS Nuit 30% :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.hs30 }}</div>
										<div class="col-sm-6 text-right">{{ getHS30(employe)|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">HS Dimanche 40% :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.hs40 }}</div>
										<div class="col-sm-6 text-right">{{ getHS40(employe)|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">HS Nuit 50% (occasionnel):</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.hs50 }}</div>
										<div class="col-sm-6 text-right">{{ getHS50(employe)|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">HS 100% (jours fériés):</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.hn }}</div>
										<div class="col-sm-6 text-right">{{ getHS100(employe)|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">HS Jour 30% :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.hs130 }}</div>
										<div class="col-sm-6 text-right">{{ getHS150(employe)|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">HS Jour 50% :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.hs150 }}</div>
										<div class="col-sm-6 text-right">{{ getHS150(employe)|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Congé payé :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.congePaye }}</div>
										<div class="col-sm-6 text-right">{{ getCongePaye(employe)|number_format(2, '.', '')}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Congé pris :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">
											- {{ employe.avantage.congePaye }}</div>
										<div class="col-sm-6 text-right">-
											{{ getCongePris(employe)|number_format(2, '.', '')}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Prime de Fonct° :</div>
								<div class="col-sm-6 text-right">{{ employe.avantage.primeFonction|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Prime/Connect :</div>
								<div class="col-sm-6 text-right">{{ employe.avantage.primeConnexion|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Rappel :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6"></div>
										<div class="col-sm-6 text-right">{{ employe.avantage.rappel|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Repas :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.repas }}</div>
										<div class="col-sm-6 text-right">{{ (employe.avantage.repas * 3500)|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Déplacement :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center">{{ employe.avantage.deplacement }}</div>
										<div class="col-sm-6 text-right">{{ (employe.avantage.deplacement * 2500)|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Allocation Congé :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center"></div>
										<div class="col-sm-6 text-right">{{ employe.avantage.allocationConge|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Préavis :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6 text-center"></div>
										<div class="col-sm-6 text-right">{{ employe.avantage.preavis|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6 text-strong">Prime/Avance 15 :
								</div>
								<div class="col-sm-6 text-right">{{ employe.avantage.primeAvance15|number_format(2, '.', '') }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Avance Spéciale :</div>
								<div class="col-sm-6 text-right">{{ employe.avantage.avanceSpeciale|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Choix déduction :</div>
								<div class="col-sm-6 text-right">{{ employe.avantage.choixDeduction|number_format(2, '.', '') }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Cnaps 1% :</div>
								<div class="col-sm-6 text-right">{{getCnaps(employe)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Ostie 1% :</div>
								<div class="col-sm-6 text-right">{{getOstie(employe)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">IRSA :</div>
								<div class="col-sm-6 text-right">{{ getIrsa(employe)|number_format(2, '.', '')}}</div>
							</div>
                            <br>
                            <br>
                            <br>
							<div class="row bg-info">
								<div class="col-sm-6 text-strong">Total :</div>
								<div class="col-sm-6 text-right">{{ getTotalMoins(employe)|number_format(2, '.', '') }}</div>
							</div>
                            <br>
							<div class="row bg-info">
								<div class="col-sm-6 text-strong">Solde :</div>
								<div class="col-sm-6 text-right">{{ getSalaireNet(employe)|number_format(2, '.', '') }}</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="row bg-info">
									<div class="col-sm-6 text-strong">Salaire brut :</div>
									<div class="col-sm-6 text-right">{{ getSalaireBrut(employe)|number_format(2, '.', '') }}</div>
								</div>
							</div>
							<div class="col">
								<div class="row bg-info">
									<div class="col-sm-6 text-strong">Salaire net :</div>
									<div class="col-sm-6 text-right">{{ getSalaireNetRounded(employe)|number_format(2, '.', '') }}</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<a href="{{ path('app_finance_employe_edit', {'id':employe.id})}}" class="btn btn-danger px-5 rounded-pill my-3">
						<i class="mx-2 bi bi-pencil"></i>Modifier</a>
				</div>

			</div>
			<a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3 px-5">
				<i class="mx-2 bi bi-arrow-left"></i>Retour
			</a>
		</div>
	</div>
{% endblock %}
