{% extends 'base_v21.html.twig' %}

{% block title %}
  Recharger mes crédits | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}

{% if app.user.type is defined and app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_CANDIDAT')) %}
	{% include "v2/dashboard/layout_candidat.html.twig" %}
{% else %}
	{% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endif %}

{% endblock %}


{% block body %}
<section class="">
  <div class="shadow-custom p-2 p-sm-5">
    <h2 class="fs-4 fw-bolder text-center my-3 my-sm-5">
      <i class="bi bi-bookmark-star text-warning me-2"></i></span> Toujours plus proche de vos réussites
    </h2>
    <p class="text-center"> 
    Nous comprenons que chaque candidat et chaque entreprise a des besoins uniques. C'est pourquoi nous avons conçu une gamme de packs sur mesure pour vous aider à atteindre vos objectifs de carrière ou d'entreprise avec plus d'efficacité et de précision. Que vous cherchiez à accélérer votre recrutement ou à enrichir votre parcours professionnel, nos packs sont conçus pour vous offrir une expérience optimale.
    </p>

    <div class="container">
      <div class="row text-center">
          {% for package in packages %}
              {% set col_size = 'col-4' %}
              {% if loop.index <= 2 %}
                  {% set col_size = 'col-6' %}
              {% endif %}
              
              <div class="{{ col_size }} mx-auto">
                  <div class="card shadow">
                      <a href="{{ path('app_v2_credit_view', {'slug': package.slug})}}" class="btn btn-light" data-bs-toggle="" data-bs-target="#package" data-bs-package="{{ package.name }}" data-bs-price="{{ package.price|number_format(0, ',', '.') }}" data-bs-id="{{ package.id }}">
                          <div class="card-body text-center">
                              <i class="bi bi-rocket fs-1 text-warning"></i><br>
                              <span class="card-title h5 mt-5">{{ package.name }} <br><span class="fw-bolder fs-2"> {{ package.credit }} </span>crédits</span>
                              <p class="card-text py-3">{{ package.price|number_format(0, ',', '.') }} Ariary</p>
                          </div>
                      </a>
                  </div>
              </div>

              {% if loop.index == 2 or (loop.index > 2 and (loop.index - 2) % 3 == 0) %}
                  </div><div class="row my-4 text-center">
              {% endif %}
          {% endfor %}
      </div>
    </div>

  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="package" tabindex="-1" aria-labelledby="packageLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-lg">
    <div class="modal-content">
    {{ form_start(form, {'attr': {'id': 'transactionForm', 'data-action': path('app_v2_credit')}}) }}
      <div class="modal-header">
        <h2 class="modal-title fs-4 fw-bold mx-auto" id="packageLabel">Achat securisé</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-10 mx-auto">
          <div class="row mt-4" id="mobileMoney">
            <div class="col-12">
              <h3 class="fs-5 fw-bolder">Mobile Money</h3>
            </div>
            {% for type in form.typeTransaction %}
                {% if loop.index <= 3 %}
                    <div class="col-md-3">
                        <div class="custom-control custom-radio image-checkbox photo-gris">
                            {{ form_widget(type, {'attr': {'class': 'custom-control-input'}}) }}
                              <h3 class="fs-6">{{type.vars.label|upper}}</h3>
                            <label class="custom-control-label" for="{{ type.vars.id }}">
                                <img src="{{ asset('/images/' ~ type.vars.id ~ '.png') }}" class="img-fluid border" alt="{{ type.vars.label }}">
                            </label>
                        </div>
                    </div>
                {% else %}
                    {% if loop.index == 4 %}
                        </div> 
                        <div class="row mt-4" id="bankCard">
                          <div class="col-12">
                            <h3 class="fs-5 fw-bolder">Carte Bancaire</h3>
                          </div> 
                    {% endif %}
                    <div class="col-md-3">
                        <div class="custom-control custom-radio image-checkbox photo-gris">
                            {{ form_widget(type, {'attr': {'class': 'custom-control-input'}}) }}
                            <h3 class="fs-6">{{type.vars.label|upper}}</h3>
                            <label class="custom-control-label" for="{{ type.vars.id }}">
                                <img src="{{ asset('/images/' ~ type.vars.id ~ '.png') }}" class="img-fluid border" alt="{{ type.vars.label }}">
                            </label>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
          </div> 

          <div id="pointMarchand" style="display:none;">
              <div class="my-3">
                <p>Veuillez envoyer le montant exact sur le numéro de mobile money indiqué ci-dessous. Une fois le paiement effectué, entrez la référence de transaction dans le champ prévu à cet effet et cliquez sur le bouton "Soumettre" pour finaliser votre achat.</p>
                
                <div class="my-3 text-center mx-auto">
                  <label for="pointMarchandNumber" class="form-label">Numéro de mobile money</label>
                  <div class="row g-2 my-3">
                    <div class="col border rounded py-3">
                      <span class="fw-light">MVola</span><br>                    
                      <span class="fw-bold fs-5">0340012345</span>
                    </div>
                    <div class="col border rounded py-3">
                      <span class="fw-light">Orange Money</span><br>                    
                      <span class="fw-bold fs-5">0320012345</span>
                    </div>
                    <div class="col border rounded py-3">
                      <span class="fw-light">Airtel Money</span><br>                    
                      <span class="fw-bold fs-5">0330012345</span>
                    </div>
                  </div>
                </div>

                <p><strong><i class="bi bi-info-circle"></i></strong> Assurez-vous d'utiliser la même référence indiquée lors de votre paiement pour éviter tout retard dans le traitement de votre commande.</p>      
              </div>
              <div id="transaction_amount_row">
              {{ form_row(form.amount) }}
              </div>
              <div id="transaction_reference_row">
              {{ form_row(form.reference) }}
              </div>
              <div id="multipay">
                  {{ form_row(form.transactionReferences) }}
              </div>
          </div>

          <div id="bankApi" style="display:none;">
              <div class="my-3 p-5 border rounded">
                <h2 class="mb-4">Recapitulatif de la commande</h2>
                <p id="recapCommand"></p>
                <p id="recapCommandPrice"></p>
              </div>
          </div>

            <div style="display:none;">
                {{ form_widget(form) }}
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary fw-semibold text-uppercase" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary fw-semibold text-uppercase" id="submitModal">Soumettre</button>
      </div>
    {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}