<section id="candidates" class="" style="background-color: white;">
    <div class="container">
        <div class="row mb-3 mb-sm-5">
            <h2 class="text-black text-center mt-5 mb-2 w-100 display-2">{{ 'app_home.section.candidates.h2'|trans }}</h2>
            <p class="text-black text-center mt-2 mb-3 w-100 fs-5"> {{ 'app_home.section.postings.p'|trans }} </p>
            
            <div class="container-fluid">
                {{ component('candidat_carousel_top') }}
            </div>
            <hr class="my-5">
            <div class="container my-4">
                <div class="row row-cols-1 row-cols-md-5 g-4 expert-item">
                    {{ component('scroll_candidat_component', { candidats: candidats} ) }}
                </div>
            </div>
        </div>
        <p class="d-flex flex-column flex-sm-row justify-content-center cta-group">  
            {# <span class="my-5"><a href="{{ path('app_dashboard_entreprise_profile')}}" class="btn btn-sm btn-outline-dark text-uppercase px-4 py-2 mx-4 rounded-pill">{{ 'app_home_experts.see_all'|trans }}</a></span> #}
        </p>
    </div>
</section>