<section id="postings" class="" style="background-color: black;position:relative">
    <div class="container d-flex flex-column justify-content-center">
        <div class="row">
            <h2 class="text-white text-center mt-5 mb-2 w-100 display-1 ">{{ 'app_home.section.postings.h2'|trans }}</h2>
            <p class="text-white text-center mt-2 mb-5 w-100 fs-5"> {{ 'app_home.section.postings.p'|trans }} </p>
            {{ component('annonces_carousel_component')}}
            <p> </p>  
        </div>
        <p class="d-flex flex-column flex-sm-row justify-content-center cta-group mt-4">  
            <span class="my-3"><a href="{{ path('app_dashboard_candidat_annonce')}}" class="btn btn-sm btn-outline-dark text-uppercase px-4 py-2 mx-4 rounded-pill">{{ 'app_home_posting.see_all'|trans }}</a></span>
        </p>
    </div>
</section>