{% extends 'base_v21.html.twig' %}

{% block title %}
  Mes favoris | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
  {% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endblock %}


{% block body %}
	{% set tableClass = 'table' %}
	{% if app.request.cookies.get('theme') == 'bootstrap-dark' %}
		{% set tableClass = tableClass ~ ' table-dark' %}
	{% endif %}
<section class="">
  <div class="shadow-custom p-2 p-sm-4">
    <h2 class="fs-4 fw-bolder text-center my-3 my-sm-5">
      <i class="bi bi-star text-warning me-2"></i></span> Mes favoris
    </h2>
    <p class="text-center"> 
    Connectez-vous directement avec les talents qui vous intéressent le plus. Sur cette page, retrouvez tous les candidats que vous avez marqués comme favoris. Chaque profil sélectionné représente une opportunité pour votre entreprise de recruter des compétences de premier plan et de construire une équipe performante.
    </p>
    
			{% if favorites|length > 0 %}

				<div class="table-responsive mt-4">
					<table class="{{ tableClass }}">
						<thead>
							<tr>
								<td scope="col" class="h5">{{ knp_pagination_sortable(favorites, 'Matricule', 'p.titre') }}</td>
								<td scope="col-1" class="h5 text-center">{{ knp_pagination_sortable(favorites, 'Tarif', 'p.status') }}</td>
								<td scope="col-1" class="h5 text-center">{{ knp_pagination_sortable(favorites, 'Disponibilité', 'p.status') }}</td>
								<td scope="col-1" class="text-center"></td>
							</tr>
						</thead>
						<tbody>
							{% for item in favorites %}
								<tr id="row_favorite_recruiter_{{item.id}}">
									<td class="">
                    <div class="row">
                      <div class="col-2 text-center d-flex align-items-center justify-content-center">
                        <div class="rounded-circle" style="
                            width: 40px;
                            height: 40px;
                            background-image: url('{{ item.candidat.fileName ? asset('uploads/experts/' ~ item.candidat.fileName) : asset('uploads/experts/avatar-default.jpg') }}');
                            background-size: cover;
                            background-position: center;
                        ">
                        </div>
                      </div>
                      <div class="col">
												{{ generatePseudo(item.candidat) }}
                        <br>
                        <span class="fw-light">{{ item.candidat.titre }}</span>
                      </div>
                    </div>
									</td>
									<td class="col-3 text-center">
                    <span class="small fw-bold">{{ getDefaultTarifCandidat(item.candidat) }}</span>
                    <br>
                    <span class="fw-lighter small">
                      Ajouté le {{ item.createdAt|date('d/m/Y') }}
                    </span>
                  </td>
									<td class="col-1 text-center">
                    <span class="fw-lighter small">
                      {{ getAvailabilityStr(item.candidat) }}
                    </span>
                    </td>
									<td class="col-1 text-center">
										<a href="{{ path('app_v2_recruiter_favorite_view', {'uid':item.candidat.uid})}}" class="btn btn-sm btn-secondary rounded-pill">
											<i class="bi bi-eye"></i>
										</a>
                    <form action="{{ path('app_v2_recruiter_favorite_delete_candidate', {'id': item.candidat.id})}}" method="post" id="delete-favorite">
                      <input type="hidden" value="{{ item.candidat.id}}" name="contactId">
                      <button type="submit" class="btn btn-sm btn-danger rounded-pill">
                        <i class="bi bi-trash"></i>
                      </button>
                    </form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="navigation mt-5">
						{{ knp_pagination_render(favorites, 'parts/_pagination.html.twig') }}
					</div>
				</div>
			{% else %}
				<h3 class="fs-5 fw-bolder my-3 my-sm-5 text-center">
					<span class="">
						<img src="{{ asset('v2/images/6939131.png') }}" alt="icone" style="width: 30px;">
					</span>
					1ère chose à faire
				</h3>

        <div class="col-12 col-sm-6 mx-auto">
          <form action="{{ path('app_olona_talents_result') }}" class="input-group mb-3 rounded-pill w-100 mt-4">
            <input class="form-control" type="search" name="q" placeholder="Rechercher des profils">
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
          </form>
        </div>
			{% endif %}

    <div class="">
      <h3 class="fs-5 fw-bolder mt-3 mt-sm-5 text-center">
        <span class="u-file-icon u-icon">
          <img src="{{ asset('v2/images/3221746.png')}}" alt="icone" style="width:32px;">
        </span>
        Fonctionnalités de la page 
      </h3>
      <ul class="col-12 col-sm-8 mx-auto">
        <li class="list-group-item mx-2">
          <div class="row mb-3">
            <div class="col-1">
              <i class="bi bi-check h5 text-danger"></i>
            </div>
            <div class="col-11">
              Accédez à un aperçu simplifié de chaque candidat favori pour revisiter rapidement leurs compétences clés et expériences professionnelles.
            </div>
          </div>
        </li>
        <li class="list-group-item mx-2">
          <div class="row mb-3">
            <div class="col-1">
              <i class="bi bi-check h5 text-danger"></i>
            </div>
            <div class="col-11">
              Cliquez sur n'importe quel candidat pour voir son profil complet, y compris ses expériences détaillées, ses compétences, et plus encore.
            </div>
          </div>
        </li>
        <li class="list-group-item mx-2">
          <div class="row mb-3">
            <div class="col-1">
              <i class="bi bi-check h5 text-danger"></i>
            </div>
            <div class="col-11">
              Ajoutez ou retirez facilement des candidats de votre liste de favoris selon l'évolution de vos besoins de recrutement.
            </div>
          </div>
        </li>
        <li class="list-group-item mx-2">
          <div class="row mb-3">
            <div class="col-1">
              <i class="bi bi-check h5 text-danger"></i>
            </div>
            <div class="col-11">
              Envoyez directement un message aux candidats depuis leur vignette de favoris pour initier une conversation ou une invitation à un entretien.
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>
{% endblock %}