{% extends 'dashboard/base.html.twig' %}

{% block title %}Comment ça marche ?{% endblock %}

{% block body %}
    <!-- SECTION 1: Hero -->
<section class="text-center text-light bg-dark py-5">
<div class="container">
  <h1>Plateforme Olona Talents</h1>
  <p class="lead">Votre Itinéraire vers le Recrutement Réinventé</p>
  <p class="mb-4">Explorez une nouvelle méthodologie pour le recrutement, spécialement conçue pour aligner les besoins des entreprises avec le potentiel des talents du bassin indien.</p>
  <a href="#section2" class="btn btn-primary hover-effect">Publier une annonce</a>
</div>
</section>

<!-- SECTION 2: Pour les Entreprises -->
<section id="section2" class="container my-5">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h2 class="accent-primary">Entreprises</h2>
      <h3 class="accent-tertiary">Recrutement Facile pour les Entreprises avec OLONA Talents</h3>
      <h4 class="accent-tertiary">Étape 1: Trouvez les Meilleurs Talents</h4>
      <p>Publiez votre offre d'emploi sur OLONA Talents et attirez rapidement les experts dont vous avez besoin. Notre plateforme est votre alliée pour dénicher les talents parfaits pour votre équipe.</p>
      
      <h4 class="accent-tertiary">Étape 2: Connectez avec les Bons Candidats</h4>
      <p>Notre site rassemble des professionnels enthousiastes qui cherchent des emplois stimulants. Avec OLONA Talents, vous découvrirez des candidats idéaux qui sont déjà intéressés par ce que vous proposez.</p>

      <h4 class="accent-tertiary">Étape 3: Soyez Informé Sans Attendre</h4>
      <p>Dès qu'un candidat prometteur se manifeste, nous vous alertons immédiatement. Vous ne perdrez plus de temps et pourrez réagir vite pour saisir les meilleures opportunités.</p>

      <h4 class="accent-tertiary">Étape 4: Choisissez et Avancez</h4>
      <p>Lorsque vous trouvez le candidat idéal, passez à l'action facilement. Notre processus simplifié vous aide à faire le bon choix rapidement et à commencer une collaboration fructueuse.</p>

      <a href="{{ path('app_dashboard_entreprise_new_annonce') }}" class="btn btn-secondary">Publier une annonce</a>
    </div>
    <div class="col-lg-6 card-body">
      <img src="{{ asset('images/home/annexe/etape-1.webp')}}" alt="Pour les Entreprises" class="img-fluid">
    </div>
  </div>
</section>

<!-- SECTION 3: Pour les Candidats -->
<section id="section3" class="container my-5">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <img src="{{ asset('images/home/annexe/etape-2.webp')}}" alt="Pour les Candidats" class="img-fluid">
    </div>
    <div class="col-lg-6">
      <h2 class="accent-primary">Candidats</h2>
      <h3 class="accent-tertiary">Boostez Votre Carrière avec OLONA Talents</h3>
      <h4 class="accent-tertiary">Étape 5: Mettez en Valeur Votre Talent</h4>
      <p>Votre expertise mérite d'être reconnue : Nos experts en recrutement, véritables alliés, examinent attentivement chaque candidature. Chez OLONA Talents, nous valorisons vos compétences et nous nous assurons que votre profil soit vu par les bonnes entreprises.</p>

      <h4 class="accent-tertiary">Étape 6: Planifiez Votre Rencontre avec les Employeurs</h4>
      <p>Nous facilitons la mise en relation : OLONA Talents prend en charge l'organisation de vos entretiens d'embauche, en harmonisant les emplois du temps et en créant des opportunités de rencontres enrichissantes entre vous et des employeurs potentiels.</p>

      <a href="{{ path('app_dashboard_entreprise_candidatures') }}" class="btn btn-secondary">Voir les candidatures</a>
    </div>
  </div>
</section>

<!-- SECTION 4: Le Choix Final -->
<section id="section4" class="container my-5">
  <div class="row align-items-center">
    <div class="col-lg-6">
    <h2 class="accent-primary">Concrétisez Votre Succès avec OLONA Talents</h2>
    <h4 class="accent-tertiary">Étape 7: Rencontre Tripartite pour une Vision Unifiée</h4>
    <p>Nous organisons une rencontre unique entre vous, OLONA, et l'entreprise. Cette étape cruciale permet d'aligner les attentes et les objectifs, assurant une compréhension mutuelle et une collaboration efficace.</p>

    <h4 class="accent-tertiary">Étape 8: Choix de Collaboration ou d'Intégration</h4>
    <p>L'entreprise décide de la meilleure façon de procéder, que ce soit par une collaboration étroite ou une intégration complète. Nous vous soutenons dans chaque scénario pour garantir une transition en douceur et sécurisée.</p>

      <a href="{{ path('rendezvous_index') }}" class="btn btn-secondary">Voir les rendez-vous</a>
    </div>
    <div class="col-lg-6">
      <img src="{{ asset('images/home/annexe/etape-3.webp')}}" alt="Le Choix Final" class="img-fluid">
    </div>
  </div>
</section>

<!-- SECTION 5: Conclusion -->
<section id="section5" class="text-center text-light bg-dark py-5">
  <div class="container">
    <p>Avec OLONA Talents, transformez chaque étape de recrutement en un parcours fluide et assuré...</p>
    {# <a href="{{ path('some_route') }}" class="btn btn-primary">Commencer</a> #}
  </div>
</section>

 
{% endblock %}
