{% extends 'base_v21.html.twig' %}

{% block title %}Inscription | Olona Talents{% endblock %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}

<section class="d-flex justify-content-center align-items-center" style="background-color: #f8f9fa;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 d-none d-md-block text-center">
                <img src="{{ asset('v2/images/31.png') }}" class="img-fluid" alt="Image" style="max-width: 400px;">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="card shadow-lg border-0 rounded">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-4">Inscription</h2>

                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-light" role="alert">
                                {{ flash_error }}
                            </div>
                        {% endfor %}

                        <p class="text-center mb-4">
                            Déjà membre ? <a href="{{ path('app_login') }}" class="text-primary fw-bolder">Connectez-vous dès maintenant</a> et profitez des avantages de Olona-talents.
                        </p>
                        <div class="mb-4 text-center">
                            <a href="{{ path('connect_google_start') }}" class="btn btn-outline-primary btn-block rounded-pill px-5">
                                Se connecter avec <i class="bi bi-google"></i>
                            </a>
                        </div>
                        
                        {% if app.user %}
                        <div class="alert alert-dark text-center">
                            Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                        {% endif %}

                        {{ form_start(registrationForm, {'attr': {'class': 'row', 'data-turbo': 'false'}}) }}

                        {{ form_errors(registrationForm) }}

                        {{ form_row(registrationForm.nom) }}
                        {{ form_row(registrationForm.prenom) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        <div class="form-check form-check-inline">
                            <div class="row">
                                <div class="col-1 m-0 p-0">
                                    <div class="form-check form-check-inline">
                                        {{ form_widget(registrationForm.agreeTerms) }}
                                    </div>
                                </div>
                                <div class="col-11 m-0 pl-0">
                                    <label class="form-check-label fs-6" for="{{ registrationForm.agreeTerms.vars.id }}">
                                        {{ attribute(registrationForm.agreeTerms.vars.attr, 'label')|trans({
                                            '%terms_url%': path('app_home_terms'),
                                            '%privacy_url%': path('app_home_privacy')
                                        })|raw }}
                                    </label>
                                </div>
                            </div>

                        </div>

                        <button class="btn btn-primary rounded-pill px-5 mx-auto" type="submit" id="register-submit">
                            {{ 'app_register.menu'|trans }}                
                        </button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block preview %}{% endblock %}