{% extends 'base.html.twig' %}

{% block body %}
<section id="step-one" class="" style="background-color: black;">
    <div class="container">
        <h1 class="h1 text-center pt-4 text-white font-bold">
            {{ 'app_identity_expert_step_one.title'|trans }}
        </h1>
        <div class="row text-white">
            <div class="col-md-6 offset-md-3">
                <hr class="my-2 mb-4">
                {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                {{ form_errors(form) }}
                
                <div class="row mb-4">
                    {{ form_label(form.candidat.prenom) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.candidat.prenom, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

                <div class="row mb-4">
                    {{ form_label(form.candidat.nom) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.candidat.nom, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

                <div class="row mb-4 align-items-center">
                    <div class="col-sm-4 text-center ">
                        {{ form_label(form.file) }}
                        {{ 'app_identity_expert_step_one.avatar_desc'|trans }}
                    </div>
                    <div class="col-sm-8 text-center">

                    <img src="{{ form.vars.data.fileName ? asset('uploads/experts/' ~ form.vars.data.fileName) : asset('uploads/experts/avatar-default.jpg') }}" class="rounded-circle profile-img" width="150" height="150" alt="Avatar">
                    {{ form_widget(form.file) }}
                    </div>
                </div>
                <hr class="my-2 mb-4">


                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        {{ form_label(form.candidat.adress) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.candidat.adress, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        {{ form_label(form.localisation) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.localisation, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>
                
                <div class="row mb-4">
                    {{ form_label(form.birthday) }}
                    <div class="col-sm-8 d-flex">
                    {{ form_widget(form.birthday.day, {'attr': {'class': 'custom-rounded-start', 'style':'width:33%'}}) }}
                    {{ form_widget(form.birthday.month, {'attr': {'class': 'custom-rounded-middle', 'style':'width:33%'}}) }}
                    {{ form_widget(form.birthday.year, {'attr': {'class': 'custom-rounded-end', 'style':'width:33%'}}) }}
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        {{ form_label(form.candidat.telephone) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.candidat.telephone, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col-sm-4 text-center">
                        {{ form_label(form.candidat.email) }}
                    </div>
                    <div class="col-sm-8">
                        {{ form_widget(form.candidat.email, {'attr': {'class': 'rounded-pill'}}) }}
                    </div>
                </div>

            </div>


            <div style="display:none">
                {{ form_widget(form) }}
            </div>
            <hr class="my-4">
            <div class="d-flex justify-content-center">
                <button type="reset" id="cancel" class="btn btn-outline-secondary rounded-pill mx-2">
                    {{ 'app_identity_expert_step_one.cancel'|trans }}
                </button>
                <button type="submit" id="submit" class="btn btn-primary rounded-pill mx-2">
                    {{ 'app_identity_expert_step_one.button'|trans }}
                </button>
            </div>

            <hr class="my-4">
            {{ form_end(form) }}
            <div class="col-md-8 offset-md-4 text-white">
                {% include "dashboard/_inner_footer_light.html.twig" %}
            </div>

        </div>
    </div>
</section>


<script>
    document.querySelector('.profile-img').addEventListener('click', function() {
        document.getElementById('{{ form.file.vars.id }}').click();
    });

    document.getElementById('{{ form.file.vars.id }}').addEventListener('change', function(event) {
        if (event.target.files && event.target.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.querySelector('.profile-img').src = e.target.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    });
</script>
{% endblock %}