{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="annonce-list p-2">
            <div class="annonce-item shadow p-5 m-4">
                <h1 class="card-title h5 mb-3"># Cooptation {{ cooptation.id }}</h1>
                <p class="text-muted small">
                    <span class="text-dark">{{ cooptation.annonce.titre }} </span>
                         par
                    <span class="text-dark">
                        {{ cooptation.referredBy.referrer.nom }} 
                        {{ cooptation.referredBy.referrer.prenom }} 
                    </span> 
                    <span class="small text-center text-dark mx-3">|</span>
                    {{ generateCoopteurPseudo(cooptation.referredBy)}}
                </p>
                <hr>

                <div class="container">
                    <div class="row text-strong">
                        {{ form_start(form)}}
                        {{ form_row(form.annonce)}}
                        <div class="row">
                            <div class="col">
                            {{ form_row(form.referredEmail)}}
                            </div>
                            <div class="col">
                            {{ form_row(form.referralCode)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            {{ form_row(form.status)}}
                            </div>
                            <div class="col">
                            {{ form_row(form.rewards)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            {{ form_row(form.step)}}
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        {{ form_row(form.description)}}
                        <div style="display:none;">{{ form_widget(form)}}</div>
                        <button type="submit" class="btn btn-primary rounded-pill px-5">Mettre à jour</button>
                        {{ form_end(form)}}
                    </div>
                    <hr>
                </div>
                <!-- Plus de lignes et colonnes ici -->

            </div>
        </div>
    </div>

<a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>

    </section>
</div>
{% endblock %}
