{% extends 'base_v21.html.twig' %}

{% block title %}
	{{ annonce.titre }}
	| Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{% include "v2/dashboard/layout_candidat.html.twig" %}
{% endblock %}

{% block body %}
	<section class="">
		<div class="shadow p-2 p-sm-4">
			<h2 class="fs-4 fw-bolder my-2 my-sm-3">
				<i class="bi bi-megaphone text-warning me-2"></i>
				{{ annonce.titre }} Réf:{{ generateJobReference(annonce.id) }}
			</h2>
			<hr>
			<p class="small fw-light">
				<i class="bi bi-circle-fill small mx-2 text-danger"></i>
				{{ getStatuses(annonce.status) }}
				<span class="small text-center mx-1 mx-sm-3">|</span>
				{{ annonce.typeContrat }}
				<span class="small text-center mx-1 mx-sm-3">|</span>
				<i class="bi bi-geo-alt-fill"></i>
				{{ annonce.lieu }}
				<span class="small text-center mx-1 mx-sm-3">|</span>
				<i class="bi bi-hourglass-split"></i>
				Expire le
				{{ annonce.dateExpiration|date('d/m/Y') }}
				<span class="small text-center mx-1 mx-sm-3">|</span>
				<i class="bi bi-eye"></i>
				{{ annonce.annonceVues|length }}
				vues
				<span class="small text-center mx-1 mx-sm-3">|</span>
				<i class="bi bi-bookmark-check"></i>
				{{ annonce.applications|length }}
				offres
			</p>
			<p>{{ annonce.description|raw }}</p>


			<div class="mt-3">
				<p class="">
					<i class="bi bi-gear mx-1 mx-sm-3 text-primary"></i>
					Compétences requises :
					{% if annonce.competences|length > 0 %}
						{% for skill in annonce.competences %}
							<span class="badge rounded-pill text-bg-secondary">{{ skill.nom }}</span>
						{% endfor %}
					{% else %}
						<p>Aucune compétence spécifique requise.</p>
					{% endif %}
				</p>
			</div>

			<div class="mb-3">
				<p class="">
					<i class="bi bi-calendar-week mx-1 mx-sm-3 text-primary"></i>
					Publication :
					<span class="text-strong">{{ annonce.dateCreation|time_ago }}</span>
				</p>
			</div>

			<div class="mb-3">
				<p class="">
					<i class="bi bi-currency-exchange mx-1 mx-sm-3 text-primary"></i>
					Budget indicatif :
					<span class="text-strong">
						{% if annonce.budgetAnnonce is defined and annonce.budgetAnnonce is not null %}
							{{ annonce.budgetAnnonce.montant }}
							{{annonce.budgetAnnonce.devise}}
						{% else %}
							{{ annonce.salaire }}
							€
						{% endif %}
					</span>
				</p>
			</div>
			
			{% if candidat.status is same as(constant('App\\Entity\\CandidateProfile::STATUS_VALID')) or candidat.status is same as(constant('App\\Entity\\CandidateProfile::STATUS_FEATURED')) %}
				{% if applied %}
				<div id="alert-application" class="my-4">
					<button type="button" data-bs-toggle="modal" data-bs-target="#submitBtn" class="btn btn-md btn-primary fw-semibold text-uppercase my-2 mx-3">Postuler (15 crédits)</button>
				</div>
				{% else %}
				<div class="alert alert-light-primary d-flex align-items-center" role="alert">
					<i class="bi bi-info-circle-fill me-1 me-sm-3"></i>
					<div>
						Vous avez déjà postuler à cette offre 
						<a href="{{ path('app_v2_candidate_application')}}" class="mx-4 btn btn-primary text-uppercase fw-semibold" class="">Mes candidatures</a>
					</div>
				</div>
				{% endif %}
			{% else %}
				<div class="alert alert-info d-flex align-items-center" role="alert">
					<i class="bi bi-info-circle-fill me-1 me-sm-3"></i>
					<div>
						Vous profil doit être validé par un moderateur avant de pouvoir postuler à cette annonce.<br>
						Veuillez vérifier régulièrement votre mail
					</div>
				</div>
			{% endif %}
			<div class="h-100 p-5 border rounded-3">
			{% if purchasedContact is defined and purchasedContact is not null %}
                {% if purchasedContact.isAccepted %}
					<h2 class="fs-4">Information client</h2>
					<div class="row my-4 align-items-center">
						<div class="col-12 col-md-3">
							<div class="rounded-circle profile-img bg-image-candidat-account" style="background-image: url('/uploads/experts/company-default.jpg');" alt="Avatar"></div>
						</div>
						<div class="col-12 col-md-6">
							<strong>Entreprise:</strong> {{ purchasedContact.contact.entrepriseProfile.nom }}<br>
							<strong>Email:</strong> {{ purchasedContact.contact.email }}<br>
							<strong>Téléphone:</strong> {{ purchasedContact.contact.telephone }}<br>
						</div>
					</div>
				{% else %}
                    Votre demande de contact a été envoyée au candidat et est en attente de son approbation. Vos crédits ne seront débités qu'une fois la demande approuvée.
                {% endif %}
			{% else %}
				<div id="contactDetails">
					<h2 class="fs-4">Contacter le client</h2>
					<p>Vous pouvez contacter directement l'entreprise et l'ajouter à votre réseau professionnel pour explorer les opportunités et collaborations possibles.</p>
					<form action="{{ path('app_v2_contact_show')}}" method="post" id="show-recruiter-contact">
						<input type="hidden" name="contactId" value="{{ annonce.entreprise.entreprise.id }}">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('show-contact') }}">
            			<button type="button" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-price="50 crédits" data-bs-type="show-recruiter-contact" class="align-items-center btn btn-primary text-uppercase fw-semibold">Afficher le contact (50 crédits)</button>
					</form>
				</div>
			</div>
		{% endif %}
		</div>
	</section>
<!-- Modal -->
<div class="modal fade" id="submitBtn" tabindex="-1" aria-labelledby="submitBtnLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-lg">
    <div class="modal-content">
      {{ form_start(form, {'attr': {'id':'applyJob'}}) }}
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center fw-bold" id="submitBtnLabel">Rédigez votre lettre de motivation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p>Prenez un moment pour nous parler de vous et de ce qui vous rend unique. Utilisez cet espace pour mettre en avant vos compétences, votre expérience et votre enthousiasme pour le poste auquel vous postulez. Une bonne lettre de motivation peut faire toute la différence ! Voici quelques conseils pour vous aider :</p>
		<ul>
			<li><span class="fw-semibold">Personnalisez votre lettre :</span>Adressez-vous spécifiquement à l'entreprise et au poste.</li>
			<li><span class="fw-semibold">Soyez précis :</span>Donnez des exemples concrets qui démontrent vos compétences et réalisations.</li>
			<li><span class="fw-semibold">Restez concis :</span>Une lettre claire et directe est souvent la plus efficace.</li>
		</ul>
		<p>Une fois votre lettre rédigée, relisez-la attentivement avant de soumettre votre candidature. Bonne chance !</p>
        <div class="col-11 mx-auto">

          <div class="row">
          {{ form_widget(form)}}
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary fw-semibold text-uppercase" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary fw-semibold text-uppercase" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-price="15 crédits">Envoyer</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
