{% extends 'dashboard/base_new.html.twig' %}

{% block body %}
<div class="container px-auto">
    <section class="text-dark p-2 p-sm-4 m-0 m-sm-3">
        <h4 class="fs-6 fs-md-4">
            <i class="bi bi-person-circle"></i>
            Informations personnelles
        </h4>
        <hr class="mb-4">
        {{ form_start(form_one) }}
        <div class="row">
            <div class="col col-sm-6">
                <div class="row mb-4 align-items-center">
                    <div class="">
                    <div class="rounded-circle profile-img bg-image-candidat-account" style="background-image: url('{{ form_one.vars.data.fileName ? asset('uploads/experts/' ~ form_one.vars.data.fileName) : asset('uploads/experts/avatar-default.jpg') }}');" alt="Avatar"></div>
                    {{ form_widget(form_one.file) }}
                    {{ form_errors(form_one.file) }}
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                {{ form_label(form_one.candidat.nom) }}
                {{ form_widget(form_one.candidat.nom, {'attr': {'class': 'form-control mb-4'}}) }}
                {{ form_errors(form_one.candidat.nom) }}
                {{ form_label(form_one.candidat.prenom) }}
                {{ form_widget(form_one.candidat.prenom, {'attr': {'class': 'form-control mb-4'}}) }}
                {{ form_errors(form_one.candidat.prenom) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                {{ form_label(form_one.candidat.email) }}
                {{ form_widget(form_one.candidat.email, {'attr': {'class': 'form-control mb-4'}}) }}
                {{ form_errors(form_one.candidat.email) }}
            </div>
            <div class="col-md-6 col-sm-12">
                {{ form_label(form_one.candidat.adress) }} 
                {{ form_widget(form_one.candidat.adress, {'attr': {'class': 'form-control mb-4'}}) }}
                {{ form_errors(form_one.candidat.adress) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                {{ form_label(form_one.candidat.telephone) }}
                {{ form_widget(form_one.candidat.telephone, {'attr': {'class': 'form-control mb-4'}}) }}
                {{ form_errors(form_one.candidat.telephone) }}
            </div>
            <div class="col-md-6 col-sm-12">
                {{ form_label(form_one.localisation) }}
                {{ form_widget(form_one.localisation, {'attr': {'class': 'form-control mb-4'}}) }}
                {{ form_errors(form_one.localisation) }}
            </div>
        </div>
        <div class="input-group-append">
        <button type="submit" class="btn btn-primary rounded-pill">Sauvegarder</button>
        <button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#preview">Aperçu</button>
        </div>
        <div style="display:none">
            {{ form_widget(form_one) }}
        </div>
        {{ form_end(form_one) }}
    </section>

    <section class="text-dark p-2 p-sm-4 m-0 m-sm-3">
        <h4 class="fs-6 fs-md-4">
            <i class="bi bi-person-badge"></i>
            Informations professionnelle
        </h4>
        <hr class="mb-4">
        {{ form_start(form_two) }}
        <div class="row">
            <div class="col">
                {{ form_label(form_two.titre) }}
                {{ form_widget(form_two.titre, {'attr': {'class': 'form-control mb-4'}}) }}
                {{ form_errors(form_two.titre) }}
                {{ form_label(form_two.secteurs) }}
                {{ form_widget(form_two.secteurs) }}
                {{ form_errors(form_two.secteurs) }}
            </div>
            <div class="col">
                <div class="mb-3">
                {{ form_label(form_two.tarifCandidat) }}
                <div class="d-flex mb-4">
                    {{ form_widget(form_two.tarifCandidat.typeTarif, {'attr': {'class': '', 'style':'width:40%'}}) }}
                    {{ form_widget(form_two.tarifCandidat.montant, {'attr': {'class': '', 'style':'width:40%'}}) }}
                    {{ form_widget(form_two.tarifCandidat.devise, {'attr': {'class': '', 'style':'width:20%'}}) }}
                </div>

                {{ form_label(form_two.social.linkedin) }}
                {{ form_widget(form_two.social.linkedin) }}

                {{ form_label(form_two.social.skype) }}
                {{ form_widget(form_two.social.skype) }}

                {{ form_label(form_two.social.slack) }}
                {{ form_widget(form_two.social.slack) }}

                {{ form_label(form_two.social.facebook) }}
                {{ form_widget(form_two.social.facebook) }}

                {{ form_label(form_two.social.instagram) }}
                {{ form_widget(form_two.social.instagram) }}

                {{ form_label(form_two.social.github) }}
                {{ form_widget(form_two.social.github) }}
                </div>
            </div>
        </div>
        <div class="row">
        <div class="my-3">
            {{ form_label(form_two.resume) }}
            {{ form_widget(form_two.resume) }}
            {{ form_errors(form_two.resume) }}
        </div>
        </div>
        <div style="display:none">
            {{ form_widget(form_two) }}
        </div>
        <div class="input-group-append">
        <button type="submit" class="btn btn-primary rounded-pill">Sauvegarder</button>
        <button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#preview">Aperçu</button>
        </div>
        {{ form_end(form_two) }}
    </section>

    <section class="text-dark p-2 p-sm-4 m-0 m-sm-3">
        <h4 class="fs-6 fs-md-4">
            <i class="bi bi-suitcase-lg"></i>
            Informations liées à votre CV
        </h4>
        {{ form_start(form_three) }}
        <hr class="mb-4">
        <div class="row my-3">
            <div class="col-md-4 col-sm-12">
                <h5 class="fs-5 fs-md-3"><i class="bi bi-graph-up"></i> Experiences</h5>
            </div>
            <div class="col-md-8 col-sm-12">
            
                <div class="">
                    <div {{ stimulus_controller('form-collection') }} data-form-collection-index-value="{{ form_three.experiences|length > 0 ? form_three.experiences|last.vars.name + 1 : 0 }}" data-form-collection-prototype-value="{{ form_widget(form_three.experiences.vars.prototype)|e('html_attr') }}">
                        <!-- Modal -->
                        <div class="modal fade" id="experience" tabindex="-1" aria-labelledby="experienceLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content text-black">
                                    <div class="modal-header">
                                        <h2 class="modal-title fs-2" id="experienceLabel">
                                            {{ 'app_identity_expert_step_two.experience.add'|trans }}
                                        </h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info rounded-pill small" data-bs-toggle="modal" data-bs-target="#experience" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                            <i class="h5 bi mx-1 bi-plus"></i>
                            {{ 'app_identity_expert_step_two.experience.add'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if experiences|length > 0 %}
                {% for experience in experiences %}
                    <div class="experience" data-experience-id="{{ experience.id }}">
                        <p class="text-dark d-flex justify-content-between align-items-center">
                            {% if experience.enPoste %}
                                Depuis {{ experience.dateDebut|date('M Y')}}
                            {% else %}
                                {{ experience.dateDebut|date('M Y')}} - 
                                {{ experience.dateFin|date('M Y')}}
                            {% endif %}
                        </p>
                        <p class="text-dark small d-flex justify-content-between align-items-center">
                            <span>
                                <strong>{{ experience.nom }}</strong>
                                chez 
                                <strong>{{ experience.entreprise }}</strong>
                                    {% if date_difference(experience.dateFin, experience.dateDebut) != "" %}
                                        ({{ date_difference(experience.dateFin, experience.dateDebut) }})
                                    {% endif %}

                            </span>
                            <span class="">
                                <button class="btn btn-primary btn-sm edit-experience" data-experience-id="{{ experience.id }}">Modifier</button>
                                <button class="btn btn-danger btn-sm delete-experience" data-experience-id="{{ experience.id }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette expérience ?');">Supprimer</button>
                            </span>
                        </p>
                        <div class=""> {{ experience.description|raw }}</div>
                        <hr class="my-4">
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-primary" role="alert">
                <i class="bi bi-info"></i>
                Aucune expérience renseignée.
            </div>
            {% endif %}
        </div>
        <div class="row my-3">
            <div class="col-md-4 col-sm-12">
                <h5 class=""><i class="bi bi-person-fill-gear mx-2 h5"></i> Competences ({{ competences|length }})</h5>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="">
                    <div {{ stimulus_controller('form-collection') }} data-form-collection-index-value="{{ form_three.competences|length > 0 ? form_three.competences|last.vars.name + 1 : 0 }}" data-form-collection-prototype-value="{{ form_widget(form_three.competences.vars.prototype)|e('html_attr') }}">
                        <!-- Modal -->
                        <div class="modal fade" id="technicalSkill" tabindex="-1" aria-labelledby="technicalSkillLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content text-black">
                                    <div class="modal-header">
                                        <h2 class="modal-title fs-2" id="technicalSkillLabel">
                                            {{ 'app_identity_expert_step_two.skill.add'|trans }}
                                        </h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info rounded-pill small" data-bs-toggle="modal" data-bs-target="#technicalSkill" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                            <i class="h5 bi mx-1 bi-plus"></i>
                            {{ 'app_identity_expert_step_two.skill.add'|trans }}
                        </button>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="row">
            {% if competences|length > 0 %}
                {% for competence in competences %}
                <div class="competence" data-competence-id="{{ competence.id }}">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p class="text-dark ">
                                {{ competence.nom }}<br>
                                <span class="">
                                    {% for i in 1..5 %}
                                        {% if i <= competence.note %}
                                            <i class="small bi bi-star-fill text-warning"></i>
                                        {% else %}
                                            <i class="small bi bi-star text-dark"></i>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="d-flex align-items-center">
                                </span>            
                            </p>
                            <div class="">
                                <button class="btn btn-primary btn-sm edit-competence" data-competence-id="{{ competence.id }}">Modifier</button>
                                <button class="btn btn-danger btn-sm delete-competence" data-competence-id="{{ competence.id }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette compétence ?');">Supprimer</button>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            {{ competence.description|raw }}
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                {% endfor %}
    
            {% else %}
            <div class="alert alert-primary" role="alert">
                <i class="bi bi-info"></i>
                Aucune compétence renseignée.
            </div>
            {% endif %}
        </div>
        <div class="row my-3">
            <div class="col-md-4 col-sm-12">
                <h5 class=""><i class="bi bi-globe-europe-africa mx-2 h5"></i> Langues</h5>
            </div>
            <div class="col-md-8 col-sm-12">            
                <div class="">
                    <div {{ stimulus_controller('form-collection') }} data-form-collection-index-value="{{ form_three.langages|length > 0 ? form_three.langages|last.vars.name + 1 : 0 }}" data-form-collection-prototype-value="{{ form_widget(form_three.langages.vars.prototype)|e('html_attr') }}">
                        <!-- Modal -->
                        <div class="modal fade" id="langage" tabindex="-1" aria-labelledby="langageLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content text-black">
                                    <div class="modal-header">
                                        <h2 class="modal-title fs-2" id="langageLabel">
                                            Ajouter une langue
                                        </h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info rounded-pill small" data-bs-toggle="modal" data-bs-target="#langage" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                            <i class="h5 bi mx-1 bi-plus"></i>
                            Ajouter une langue
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                {% if langages|length > 0 %}
                <div class="row">
                    {% for langue in langages %}
                        <div class="col-lg-6">
                            <div class="langue" data-langue-id="{{ langue.id }}">
                                <p class="text-dark">
                                    {{ isoToEmoji(langue.langue.code) }} {{ langue.langue.nom }} 
                                    <span class="d-flex align-items-center">
                                        <span class="p-1 lh-1">
                                            {% for i in 1..5 %}
                                                {% if i <= langue.niveau %}
                                                    <i class="small bi bi-star-fill text-warning"></i>
                                                {% else %}
                                                    <i class="small bi bi-star text-dark"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    </span>
                                    <button class="btn btn-sm btn-primary edit-langue" data-langue-id="{{ langue.id }}">Modifier</button>
                                    <button class="btn btn-sm btn-danger delete-langue" data-langue-id="{{ langue.id }}">Supprimer</button>            
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-primary" role="alert">
                    <i class="bi bi-info"></i>
                    Aucune langues renseignée.
                </div>
                {% endif %}
        </div>
        <hr class="mb-4">
        <h5 class=""><i class="mx-2 h5 bi bi-archive"></i> Mes documents</h5>
        <div class="row">
            <div class="col-12 col-sm-6">
            {% for cv in app.user.candidateProfile.cvs %}
                {% set class = 'btn-outline-dark' %}
                {% if cv.cvLink == app.user.candidateProfile.cv %}
                {% set class = 'btn-dark' %}
                {% endif %}
                <div class="col-md-6 my-2">
                    <div class="card">
                        <div class="card-body">
                            <!-- Icône agrandie -->
                            <i class="bi bi-file-earmark-person" style="font-size: 3rem;"></i>
                            <p class="card-title small">{{ cv.safeFileName }}.pdf</p>
                            <!-- Lien pour visualiser le CV dans un nouvel onglet -->
                            <a href="{{ asset('uploads/cv/' ~ cv.cvLink) }}" class="btn btn-sm rounded-pill shadow btn-light text-dark" title="Ouvrir" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                            <a href="javascript:void(0);" data-cv-link="{{ cv.cvLink }}" data-cv-id="{{ cv.id }}" class="select-cv-btn btn btn-sm rounded-pill shadow {{class}}" title="Sélectionner"><i class="bi bi-check2-square"></i></a>
                            <a href="{{ path('app_delete_cv', {'cvId':cv.id})}}" class="btn btn-sm rounded-pill shadow btn-light" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce document ?');"><i class="bi bi-trash"></i></a>

                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="col-12 col-sm-6">
                {{ form_label(form_three.cv) }}
                {{ form_widget(form_three.cv) }}
                {{ form_errors(form_three.cv) }}
            </div>
        </div>
        
        <div style="display:none">
            {{ form_widget(form_three) }}
        </div>
        <hr class="mb-4">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary rounded-pill">Sauvegarder</button>
                    <button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#preview">Aperçu</button>
                </div>
        {{ form_end(form_three) }}
    </section>

</div>
{% endblock %}
{% block modal %}
    {{ parent()}}
    <!-- Modal -->
    <div class="modal fade" id="candidatDocuments" tabindex="-1" aria-labelledby="candidatDocumentsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5 text-dark" id="candidatDocumentsLabel">Mes Documents</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                Le CV transmis lors d’une candidature est celui défini comme partagé.
                    {% if app.user.candidateProfile %}
                        <div class="row">
                            {% for cv in app.user.candidateProfile.cvs %}
                            {% set class = 'btn-outline-dark' %}
                            {% if cv.cvLink == app.user.candidateProfile.cv %}
                            {% set class = 'btn-dark' %}
                            {% endif %}
                            <div class="col-md-6 my-2">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Icône agrandie -->
                                        <i class="bi bi-file-earmark-person" style="font-size: 3rem;"></i>
                                        <p class="card-title small">{{ cv.safeFileName }}</p>
                                        <!-- Lien pour visualiser le CV dans un nouvel onglet -->
                                        <a href="{{ asset('uploads/cv/' ~ cv.cvLink) }}" class="btn btn-sm rounded-pill btn-primary" title="Ouvrir" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                                        <a href="javascript:void(0);" data-cv-link="{{ cv.cvLink }}" data-cv-id="{{ cv.id }}" class="select-cv-btn btn btn-sm rounded-pill {{ class }}" title="Sélectionner"><i class="bi bi-check2-square"></i></a>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Aucun document disponible.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    {% include "parts/_modal_preview_profile.html.twig" %}


<script src="{{ asset('assets/ckeditor5/ckeditor.js')}}"></script>
<script>
    ClassicEditor.create( document.querySelector( '#step_two_resume' ) )
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $("#submitAll").click(function() {
            // Soumettre le premier formulaire
            $("form[name='form_one']").submit();

            // Soumettre le deuxième formulaire
            $("form[name='form_two']").submit();

            // Soumettre le troisième formulaire
            $("form[name='form_three']").submit();
        });
        var originalContent = {}; // Pour sauvegarder le contenu original
    
        // Fonction pour sauvegarder le contenu original d'un élément
        function saveOriginalContent(id, containerSelector) {
            var container = $(containerSelector);
            originalContent[id] = container.html();
        }
    
        // Fonction pour restaurer le contenu original
        function restoreOriginalContent(id, containerSelector) {
            console.log(id)
            var container = $(containerSelector);
            if (originalContent[id]) {
                container.html(originalContent[id]);
            }
        }
    
        // Gestionnaire d'événements pour "edit-experience"
        $('.edit-experience').click(function(e) {
            e.preventDefault();
            var experienceId = $(this).data('experience-id');
            var experienceContainer = $('[data-experience-id="' + experienceId + '"]').closest('.experience');
            
            saveOriginalContent(experienceId, experienceContainer); // Sauvegarde du contenu original
    
            // Votre code AJAX...
            $.ajax({
                url: "{{ path('app_ajax_edit_experience')}}",
                method: 'POST',
                data: { experience_id: experienceId },
                success: function(response) {
                    console.log(response)
                    // Si la demande réussit, affichez un formulaire de modification
                    if (response.success) {
                        // Remplacez le contenu de l'expérience par le formulaire de modification pré-rempli
                        var experienceContainer = $('[data-experience-id="' + experienceId + '"]').closest('.experience');
                        experienceContainer.html(response.form); // Assurez-vous que la réponse contient uniquement le formulaire HTML
                    }
                },
                error: function(error) {
                    console.error('Erreur lors de la récupération des données de l\'expérience :', error);
                }
            });
        });
    
        // Gestionnaire d'événements pour "edit-competence"
        $('.edit-competence').click(function(e) {
            e.preventDefault();
            var competenceId = $(this).data('competence-id');
            var competenceContainer = $('[data-competence-id="' + competenceId + '"]').closest('.competence');
            
            saveOriginalContent(competenceId, competenceContainer); // Sauvegarde du contenu original
    
            // Votre code AJAX...
            $.ajax({
                url: "{{ path('app_ajax_edit_competence')}}",
                method: 'POST',
                data: { competence_id: competenceId },
                success: function(response) {
                    console.log(response)
                    // Si la demande réussit, affichez un formulaire de modification
                    if (response.success) {
                        // Remplacez le contenu de l'expérience par le formulaire de modification pré-rempli
                        var competenceContainer = $('[data-competence-id="' + competenceId + '"]').closest('.competence');
                        competenceContainer.html(response.form); // Assurez-vous que la réponse contient uniquement le formulaire HTML              
                    }
                },
                error: function(error) {
                    console.error('Erreur lors de la récupération des données de l\'expérience :', error);
                }
            });
        });

        $('.edit-langue').click(function(e) {
            e.preventDefault();
            var langueId = $(this).data('langue-id');
            var langueContainer = $('[data-langue-id="' + langueId + '"]');
            
            saveOriginalContent(langueId, langueContainer);

            // Code AJAX pour éditer la langue...
            $.ajax({
                url: "{{ path('app_ajax_edit_langue')}}",
                method: 'POST',
                data: { langue_id: langueId },
                success: function(response) {
                    console.log(response)
                    // Si la demande réussit, affichez un formulaire de modification
                    if (response.success) {
                        // Remplacez le contenu de l'expérience par le formulaire de modification pré-rempli
                        var langueContainer = $('[data-langue-id="' + langueId + '"]').closest('.langue');
                        langueContainer.html(response.form); // Assurez-vous que la réponse contient uniquement le formulaire HTML
                    }
                },
                error: function(error) {
                    console.error('Erreur lors de la récupération des données de la langue :', error);
                }
            });
        });

        $(document).on('click', '.cancel-experience', function(e) {
            e.preventDefault();

            var container = $(this).closest('.experience');
            var id = container.data('experience-id');

            if (id) {
                restoreOriginalContent(id, container);
            } else {
                console.log('ID non trouvé.');
            }
        });

        $(document).on('click', '.select-cv-btn', function(e) {
            var select = $(this);
            var cvId = $(this).data('cv-id');
            var cvLink = $(this).data('cv-link');

            // Étape 1: Vérifiez si l'opération a déjà été effectuée
            if (!localStorage.getItem('cvSelected')) {
                $.ajax({
                    url: '{{ path("app_profile_candidate_select_CV", {"id": 0}) }}'.replace('/0/', '/' + cvId + '/'),
                    type: 'GET',
                    success: function(response) {
                        // Mettez à jour le champ de formulaire, affichez un message, etc.
                        $('#cv-link-field').val(cvLink);
                        console.log(response);
                        // Fermer le modal si nécessaire
                        $('#candidatDocuments').trigger('hide.bs.modal');

                        // Étape 2: Définir une valeur dans le stockage local
                        localStorage.setItem('cvSelected', 'true');

                        // Actualiser la page
                        location.reload();
                    },
                    error: function() {
                        console.error('Une erreur est survenue lors de la sélection du CV.');
                    }
                });
            } else {
                // Étape 3: Réinitialiser la valeur stockée pour une nouvelle opération
                localStorage.removeItem('cvSelected');
                alert('Le CV a déjà été sélectionné. Effectuer une nouvelle opération si nécessaire.');
            }
        });

        // Gestionnaire d'événements pour le bouton "Annuler" dans les compétences
        $(document).on('click', '.cancel-competence', function(e) {
            e.preventDefault();

            var container = $(this).closest('.competence');
            var id = container.data('competence-id');

            if (id) {
                restoreOriginalContent(id, container);
            } else {
                console.log('ID non trouvé pour compétence.');
            }
        });

        // Gestionnaire d'événements pour le bouton "Annuler" dans les compétences
        $(document).on('click', '.cancel-langue', function(e) {
            e.preventDefault();

            var container = $(this).closest('.langue');
            var id = container.data('langue-id');

            if (id) {
                restoreOriginalContent(id, container);
            } else {
                console.log('ID non trouvé pour langue.');
            }
        });


        $('.delete-experience').click(function(e) {
            e.preventDefault()
            var experienceId = $(this).data('experience-id');
            console.log(experienceId)
            // Envoyez une demande AJAX pour supprimer l'expérience
            $.ajax({
                url: "{{ path('app_ajax_delete_experience')}}",
                method: 'POST',
                data: { experience_id: experienceId },
                success: function(response) {
                    console.log(response)
                    // Si la suppression réussit, supprimez l'expérience du DOM
                    if (response.success) {
                        $('[data-experience-id="' + experienceId + '"]').closest('.experience').remove();
                    }
                },
                error: function(error) {
                    console.error('Erreur lors de la suppression de l\'expérience :', error);
                }
            });
        });
    
        $('.delete-competence').click(function(e) {
            e.preventDefault()
            var competenceId = $(this).data('competence-id');
            console.log(competenceId)
            // Envoyez une demande AJAX pour supprimer l'expérience
            $.ajax({
                url: "{{ path('app_ajax_delete_competence')}}",
                method: 'POST',
                data: { competence_id: competenceId },
                success: function(response) {
                    console.log(response)
                    // Si la suppression réussit, supprimez l'expérience du DOM
                    if (response.success) {
                        $('[data-competence-id="' + competenceId + '"]').closest('.competence').remove();
                    }
                },
                error: function(error) {
                    console.error('Erreur lors de la suppression de l\'expérience :', error);
                }
            });
        });

        $('.delete-langue').click(function(e) {
            e.preventDefault();
            var langueId = $(this).data('langue-id');

            // Code AJAX pour supprimer la langue...
            $.ajax({
                url: "{{ path('app_ajax_delete_langue')}}",
                method: 'POST',
                data: { langue_id: langueId },
                success: function(response) {
                    if (response.success) {
                        $('[data-langue-id="' + langueId + '"]').remove();
                    }
                },
                error: function(error) {
                    console.error('Erreur lors de la suppression de la langue :', error);
                }
            });
        });
    });
    
</script>

<script>
    document.querySelector('.profile-img').addEventListener('click', function() {
        document.getElementById('{{ form_one.file.vars.id }}').click();
    });

    document.getElementById('{{ form_one.file.vars.id }}').addEventListener('change', function(event) {
        if (event.target.files && event.target.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.querySelector('.profile-img').src = e.target.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    });
</script>
{% endblock %}