{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-3 px-auto">
    <section class="text-dark card p-4 my-3">
        <h4 class="">
            <i class="bi bi-person-circle mx-2"></i>
            Informations personnelles
        </h4>
        <hr class="mb-4">
        {{ form_start(form_one) }}
        <div class="row">
            <div class="col">
                {{ form_label(form_one.candidat.nom) }}
                {{ form_widget(form_one.candidat.nom, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
            <div class="col">
                {{ form_label(form_one.candidat.prenom) }}
                {{ form_widget(form_one.candidat.prenom, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(form_one.candidat.email) }}
                {{ form_widget(form_one.candidat.email, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
            <div class="col">
                {{ form_label(form_one.candidat.telephone) }}
                {{ form_widget(form_one.candidat.telephone, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(form_one.candidat.adress) }} 
                {{ form_widget(form_one.candidat.adress, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
            <div class="col">
                {{ form_label(form_one.localisation) }}
                {{ form_widget(form_one.localisation, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
        </div>
        <div style="display:none">
            {{ form_widget(form_one) }}
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Enregister</button>
        </div>
        {{ form_end(form_one) }}
    </section>

    <section class="text-dark card p-4 my-3">
        <h4 class="">
            <i class="bi bi-person-badge mx-2"></i>
            Informations professionnelle
        </h4>
        <hr class="mb-4">
        {{ form_start(form_two) }}
        <div class="row">
            <div class="col">
                {{ form_label(form_two.titre) }}
                {{ form_widget(form_two.titre, {'attr': {'class': 'form-control mb-4'}}) }}
                {% if form_two.social.linkedin.vars.value is not empty %}
                    {{ form_label(form_two.social.linkedin) }}
                    {{ form_widget(form_two.social.linkedin) }}
                {% endif %}

                {% if form_two.social.skype.vars.value is not empty %}
                    {{ form_label(form_two.social.skype) }}
                    {{ form_widget(form_two.social.skype) }}
                {% endif %}

                {% if form_two.social.slack.vars.value is not empty %}
                    {{ form_label(form_two.social.slack) }}
                    {{ form_widget(form_two.social.slack) }}
                {% endif %}

                {% if form_two.social.facebook.vars.value is not empty %}
                    {{ form_label(form_two.social.facebook) }}
                    {{ form_widget(form_two.social.facebook) }}
                {% endif %}

                {% if form_two.social.instagram.vars.value is not empty %}
                    {{ form_label(form_two.social.instagram) }}
                    {{ form_widget(form_two.social.instagram) }}
                {% endif %}

                {% if form_two.social.github.vars.value is not empty %}
                    {{ form_label(form_two.social.github) }}
                    {{ form_widget(form_two.social.github) }}
                {% endif %}
            </div>
            <div class="col">
                {{ form_label(form_two.resume) }}
                {{ form_widget(form_two.resume, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
        </div>
        <div style="display:none">
            {{ form_widget(form_two) }}
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Enregister</button>
        </div>
        {{ form_end(form_two) }}
    </section>

    <section class="text-dark card p-4 my-3">
        <h4 class="">
            <i class="bi bi-suitcase-lg mx-2"></i>
            Informations liées à votre CV
        </h4>
        {{ form_start(form_three) }}
        <hr class="mb-4">
        <div class="row">
            <div class="col">
                <h5 class=""><i class="bi bi-graph-up mx-2 h5"></i> Experiences</h5>
                {% if experiences|length > 0 %}
                    {% for experience in experiences %}
                        <p class="text-dark d-flex justify-content-between align-items-center">
                            <span>
                                {{experience.dateDebut|date('M Y')}} à {{experience.dateFin|date('M Y')}} 
                            </span>
                        </p>
                        <p class="text-dark small d-flex justify-content-between align-items-center">
                            <span>
                            <strong>{{ experience.nom }}</strong>
                            chez 
                            <strong>{{ experience.entreprise }}</strong>
                            (
                            {{ date_difference(experience.dateFin, experience.dateDebut) }}
                            )
                        </span>
                        </p>
                        <hr class="mb-4">
                    {% endfor %}
                {% else %}
                <div class="alert alert-primary" role="alert">
                    Aucune expérience renseignée.
                </div>
                {% endif %}
            </div>
            <div class="col">
            
                <div class="">
                    <div {{ stimulus_controller('form-collection') }} data-form-collection-index-value="{{ form_three.experiences|length > 0 ? form_three.experiences|last.vars.name + 1 : 0 }}" data-form-collection-prototype-value="{{ form_widget(form_three.experiences.vars.prototype)|e('html_attr') }}">
                        <!-- Modal -->
                        <div class="modal fade" id="experience" tabindex="-1" aria-labelledby="experienceLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content text-black">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-2" id="experienceLabel">
                                            {{ 'app_identity_expert_step_two.experience.add'|trans }}
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-light rounded-pill small w-100" data-bs-toggle="modal" data-bs-target="#experience" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                            <i class="h5 bi mx-1 bi-plus"></i>
                            {{ 'app_identity_expert_step_two.experience.add'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col">
                {% if competences|length > 0 %}
                    <h5 class=""><i class="bi bi-person-fill-gear mx-2 h5"></i> Competences ({{ competences|length }})</h5>
                    {% for competence in competences %}
                    <p class="text-dark d-flex justify-content-between align-items-center">
                        {{ competence.nom }}
                        <span class="d-flex align-items-center">
                            <span class="mx-4 p-1 lh-1">
                                {% for i in 1..5 %}
                                    {% if i <= competence.note %}
                                        <i class="small bi bi-star-fill text-warning"></i>
                                    {% else %}
                                        <i class="small bi bi-star text-dark"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </span>            
                    </p>
                    {% endfor %}
        
                {% else %}
                <div class="alert alert-primary" role="alert">
                    Aucune compétence renseignée.
                </div>
                {% endif %}
            </div>
            <div class="col">
                <div class="">
                    <div {{ stimulus_controller('form-collection') }} data-form-collection-index-value="{{ form_three.competences|length > 0 ? form_three.competences|last.vars.name + 1 : 0 }}" data-form-collection-prototype-value="{{ form_widget(form_three.competences.vars.prototype)|e('html_attr') }}">
                        <!-- Modal -->
                        <div class="modal fade" id="technicalSkill" tabindex="-1" aria-labelledby="technicalSkillLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content text-black">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-2" id="technicalSkillLabel">
                                            {{ 'app_identity_expert_step_two.skill.add'|trans }}
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-light rounded-pill small w-100" data-bs-toggle="modal" data-bs-target="#technicalSkill" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                            <i class="h5 bi mx-1 bi-plus"></i>
                            {{ 'app_identity_expert_step_two.skill.add'|trans }}
                        </button>
                    </div>
                </div>
            
            </div>
        </div>

        <div style="display:none">
            {{ form_widget(form_three) }}
        </div>
        <hr class="mb-4">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                </div>
        {{ form_end(form_three) }}
    </section>
</div>
{% endblock %}
