{% extends 'base_v21.html.twig' %}

{% block title %}
	Simulateur de budget | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('assets/css/jquery.steps.css')}}" rel="stylesheet">
{% endblock %}

{% block sidebar %}
	{% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endblock %}

{% block body %}
	<section class="">
      <div class="shadow p-2 p-sm-4">
        <h2 class="fs-4 fw-bolder text-center my-3 my-sm-5">
          <i class="bi bi-printer text-warning me-2"></i></span> Simulateur de budget
        </h2>
        <p class="text-center"> 
        Vous êtes une entreprise cherchant à recruter des talents à travers le monde ? Notre simulateur de budget pour entreprises est l'outil idéal pour planifier efficacement vos coûts de recrutement. Cet outil vous aide à estimer les dépenses totales associées à l'embauche de freelancers, incluant les salaires bruts, les charges sociales, et les frais de gestion associés à notre service de portage salarial.
        </p>

			<div class="p-3 p-sm-5 m-1 m-sm-4 border">
				<div class="">
					{{form_start(form, {'attr': {'id': 'example-company'}}) }}
					{{ form_widget(form.deviseSymbole, {'attr': {'data-id': 'simulateur_deviseSymbole'}})}}
					<!-- Début du formulaire avec l'ID "example-company" -->
					<h3 class="mb-3">Devise</h3>
					<section
						style="position: relative;width: 100%;">
						<!-- Explication du champ "Taux de change" -->
						<legend class="h2">{{ form_label(form.devise) }}</legend>
						<div class="row">
							<div class="col-lg-6">
								{{ form_widget(form.devise)}}
							</div>
							<div class="col-lg-6">
								<div class="input-group">
									{{ form_widget(form.taux)}}
									<span class="input-group-text">Ar</span>
								</div>
							</div>
						</div>
						<p class="mt-4">Le taux de change correspond au taux utilisé pour convertir le montant de votre paiement dans la devise de votre client.</p>
						<legend class="h2">{{ form_label(form.type) }}</legend>
						<div class="">
							{{ form_widget(form.type)}}
						</div>
					</section>

					<h3 class="mb-3">Statut</h3>
					<section
						style="position: relative;width: 100%;">
						<!-- Explication du champ "Taux de change" -->
						<legend class="h2">{{ form_label(form.status) }}</legend>
						<div class="row">
							{{ form_widget(form.status)}}
						</div>
						<p id="status-explanation" class="mt-4">Le taux de change est le taux appliqué pour convertir les coûts salariaux estimés dans la devise de votre entreprise à partir de celle du pays de résidence de l'employé potentiel.</p>
					</section>

					<h3 class="mb-3">Salaire Net</h3>
					<section
						class="text-grey" style="position: relative;width: 100%;">
						<!-- Explication du champ "Salaire Net" -->
						<legend class="h2">{{ form_label(form.salaireNet) }}</legend>
						<div class="col-lg-6 col-sm-12">
							<div class="input-group">
								{{ form_widget(form.salaireNet)}}
								<span class="input-group-text change-devise">€</span>
							</div>
						</div>
						<p class="mt-4">Le salaire net représente le montant que vous souhaitez percevoir après déduction des impôts et des cotisations sociales.</p>
					</section>

					<h3 class="mb-3">Avantages</h3>
					<section
						class="text-grey" style="position: relative;width: 100%;">
						<!-- Explication du champ "Charge" -->
						<div class="row align-items-center">
							<div class="col-lg-4 col-sm-6">
								<label class="col-form-label mt-3">{{ form_label(form.nombreEnfant) }}
									<span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Pour calculer les avantages fiscaux et les allocations familiales.">
										<i class="bi bi-info-circle-fill"></i>
									</span>
								</label>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="input-group">
									{{ form_widget(form.nombreEnfant)}}
								</div>
							</div>
						</div>
						<div class="row align-items-center" id="freelance">
							<div class="col-lg-4 col-sm-6">
								<label class="col-form-label mt-3">{{ form_label(form.avantage.primeConnexion) }}
									<span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Forfait mensuel souhaité.">
										<i class="bi bi-info-circle-fill"></i>
									</span>
								</label>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="input-group">
									{{ form_widget(form.avantage.primeConnexion)}}
									<span class="input-group-text change-devise">€</span>
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-4 col-sm-6">
								<label class="col-form-label mt-3">Indemnités repas</label>
							</div>
							<div class="col-lg-6 col-sm-6">
								<div class="input-group">
									{{ form_widget(form.jourRepas)}}
									{{ form_widget(form.prixRepas)}}
									<span class="input-group-text change-devise">€</span>
								</div>
								<div class="row small">
									<div class="col-5 fw-lighter">Nombre de jour</div>
									<div class="col-7 fw-lighter">Prix journalier</div>
								</div>
							</div>
						</div>
						<div class="row align-items-center" id="employe" style="display: none;">
							<div class="col-lg-4 col-sm-6">
								<label class="col-form-label mt-3">Indemnités deplacement</label>
							</div>
							<div class="col-lg-6 col-sm-6">
								<div class="input-group">
									{{ form_widget(form.jourDeplacement)}}
									{{ form_widget(form.prixDeplacement)}}
									<span class="input-group-text change-devise">€</span>
								</div>
								<div class="row small">
									<div class="col-5 fw-lighter">Nombre de jour</div>
									<div class="col-7 fw-lighter">Prix journalier</div>
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-4 ">
								<label class="col-form-label mt-3">{{ form_label(form.avantage.primeFonction) }}
									<span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Frais professionnels">
										<i class="bi bi-info-circle-fill"></i>
									</span>
								</label>
							</div>
							<div class="col-lg-3 ">
								<div class="input-group">
									{{ form_widget(form.avantage.primeFonction)}}
									<span class="input-group-text change-devise">€</span>
								</div>
							</div>
						</div>
					</section>

					<h3 class="mb-3">Résumé</h3>
					<section
						class="text-grey" style="position: relative;width: 100%;">
						<!-- Explication du champ "Prime" -->
						<div id="resumCompany"></div>
						<div style="display:none;">
            {{ form_widget(form)}}
							<button type="button" id="popup" data-bs-toggle="modal" data-bs-target="#connexionModal"></button>
						</div>
					</section>
					{{ form_end(form) }}
				</div>
			</div>
    </section><script src="{{asset('assets/js/jquery.min.js')}}"></script>
<script src="{{asset('assets/js/jquery.steps.min.js')}}"></script>
<script src="{{asset('assets/js/jqueryValidate.js')}}"></script>
<script src="{{asset('assets/main.js')}}"></script>
<script>
	$(function () {
		initEntrepriseFormStep($("#example-company"), "h3", "section", "fade", true);
		$('#simulateur_employe_user_email').blur(function() {
			var email = $(this).val();
			if (email !== '') {
				// Vérifiez la disponibilité de l'e-mail
				checkEmailAvailability(email);
			}
		});

		$('#simulateur_employe_user_plainPassword_first').blur(function() {
			var password = $(this).val();
			if (password !== '') {
				if(password.length < 5){
					$('#password-error-message').html('Le mot de passe doit comporter au moins 6 caractères.').show();
					$('#simulateur_employe_user_plainPassword_first').addClass(' is-invalid')
					$('#register-submit').prop('type', 'button');
				}else{
					$('#password-error-message').html('').hide();
					$('#simulateur_employe_user_plainPassword_first').removeClass('is-invalid');
					$('#register-submit').prop('type', 'submit');
				}
			}else{
				$('#password-error-message').html('Veuillez entrer un mot de passe.').show();
				$('#simulateur_employe_user_plainPassword_first').addClass(' is-invalid')
				$('#register-submit').prop('type', 'button');
			}
		});

		$('#simulateur_employe_user_telephone').blur(function() {
			var telephone = $(this).val();
			if (telephone !== '') {
				if(telephone.length < 9){
					$('#telephone-error-message').html('Veuillez entrer un numéro valide.').show();
					$('#simulateur_employe_user_telephone').addClass(' is-invalid')
					$('#register-submit').prop('type', 'button');
				}else{
					$('#telephone-error-message').html('').hide();
					$('#simulateur_employe_user_telephone').removeClass('is-invalid');
					$('#register-submit').prop('type', 'submit');
				}
			}else{
				$('#telephone-error-message').html('Veuillez entrer votre numéro de téléphone.').show();
				$('#simulateur_employe_user_telephone').addClass(' is-invalid')
				$('#register-submit').prop('type', 'button');
			}
		});

		if (checkFields()) {
			// Si l'un des champs est vide, désactivez le bouton submit
			$('#register-submit').prop('disabled', true);
			$('#register-submit').prop('type', 'button');
		} else {
			// Sinon, activez le bouton submit
			$('#register-submit').prop('disabled', false);
			$('#register-submit').prop('type', 'submit');
		}

		// Écouteur d'événement sur les champs pour vérifier lorsqu'ils changent
		$('input[id^="simulateur_employe_user_"]').on('input', function() {
			// Vérifiez si l'un des champs est vide
			if (checkFields()) {
				// Si l'un des champs est vide, désactivez le bouton submit
				$('#register-submit').prop('disabled', true);
				$('#register-submit').prop('type', 'button');
			} else {
				// Sinon, activez le bouton submit
				$('#register-submit').prop('disabled', false);
				$('#register-submit').prop('type', 'submit');
			}
		});

		// Sélectionner le champ select
		var selectType = $('#simulateur_type');

		// Sélectionner les divs à afficher ou cacher
		var divEmploye = $('#employe');
		var divFreelance = $('#freelance');

		// Ajouter un gestionnaire d'événement pour le changement de valeur dans le champ select
		selectType.on('change', function() {
			console.log($(this).val())
			// Vérifier la valeur sélectionnée
			if ($(this).val() === 'OLONA') {
				// Afficher la div pour Employé et cacher la div pour Freelance
				console.log("hide frelance")
				divEmploye.show();
				divFreelance.hide();
			} else if ($(this).val() === 'TELETRAVAIL') {
				// Afficher la div pour Freelance et cacher la div pour Employé
				console.log("hide employe")
				divEmploye.hide();
				divFreelance.show();
			}
		});


		// Écoute des changements sur les boutons radio et mise à jour de l'explication
		$('input[name="simulateur[status]"]').change(function() {
			updateExplanation(this.value);
		});

		// Mise à jour initiale pour la sélection par défaut
		updateExplanation($('input[name="simulateur[status]"]:checked').val());
	})

	function updateExplanation(value) {
		var explanation = '';
		if(value === 'PORTAGE') {
			explanation = '<i class="mx-2 h5 bi bi-info-circle text-primary"></i> En choisissant le Portage salarial, vous bénéficiez de la couverture sociale d\'un salarié avec les charges salariales et patronales correspondantes, tout en conservant une certaine flexibilité dans la gestion de vos missions.';
		} else if(value === 'FREELANCE') {
			explanation = '<i class="mx-2 h5 bi bi-info-circle text-primary"></i> Opter pour le statut Freelance implique une charge de 5% sur vos revenus, offrant une plus grande autonomie dans la gestion de vos activités sans les charges salariales et patronales typiques d\'un salarié.';
		}
		$('#status-explanation').html(explanation);
	}

	function checkEmailAvailability(email) {
		$.ajax({
			type: 'POST',
			url: '{{path('ajax_home_check_email')}}', // Remplacez cela par le chemin de votre script PHP de vérification
			data: {
				email: email
			},
			success: function(response) {
				// Afficher le message de réponse
				console.log(response)
				if(response.user !== null){
					$('#email-error-message').html('Il existe déjà un compte avec cette adresse e-mail.').show();
					$('#simulateur_employe_user_email').addClass(' is-invalid')
					$('#register-submit').prop('type', 'button');
				}else{
					$('#email-error-message').html('').hide();
					$('#simulateur_employe_user_email').removeClass('is-invalid');
					$('#register-submit').prop('type', 'submit');
				}
			}
		});
	}

	function utilisateurEstConnecte() {
		const session = {{ app.session.all|json_encode()|raw }};;
		return session.utilisateurEstConnecte
	}

	// Fonction pour vérifier si l'un des champs est vide
	function checkFields() {
		var isEmpty = false;
		$('input[id^="simulateur_employe_user_"]').each(function() {
			if ($(this).val() === '') {
				isEmpty = true;
				return false; // Sortir de la boucle si un champ est vide
			}
		});
		return isEmpty;
	}

</script>
{% endblock %}