
<section class="">
  <div class="shadow p-2 p-sm-4">
    <h1 class="fs-4 fw-bolder text-center mt-3 mt-sm-5">
      </span> Client {{ generateReference(profile)}}
    </h1>
    <h2 class="fs-5 fw-semibold text-center text-uppercase">
      {{ profile.nom}}
    </h2>
      <div class="col-12 col-sm-6 mx-auto text-center mb-4">
        <img src="{{ asset('uploads/experts/company-default.jpg') }}" alt="Avatar" class="rounded-circle img-fluid mx-auto object-fit-cover" style="width:150px;height:150px;">
      </div>
    <div class="row mt-4">

      <div class="col-12 col-sm-4">
        <h4 class="fs-5 text-uppercase">Informations générales</h4>
          <p>
          <strong>Dernière connexion :</strong> <span class="">{{ profile.entreprise.lastLogin|time_ago }}</span><br>
          <strong>Taille :</strong> <span class="">{{ profile.taille }}</span><br>
          <strong>Sute Web :</strong> <span class="">{{ profile.siteWeb }}</span><br>
          <i class="bi bi-geo-alt-fill"></i> {{ profile.localisation|countryName }}</span><br>
          <strong>Secteur d'activité:</strong> 
            {% for secteur in profile.secteurs %}
                <span class="badge bg-danger">
                {{ secteur }}
                </span>
            {% endfor %}
          <br>
          <strong>Devise :</strong> 
                <span class="fw-bold">
                  {% if profile.devise is not null %}
                      {{ profile.devise.symbole }}
                  {% else %}
                      <i class="bi bi-exclamation-circle-fill"></i> Non renseigné
                  {% endif %} 
                </span>
          <br>
          </p>

      </div>

      <div class="col-12 col-sm-4 text-center">
        <h4 class="fs-5 text-uppercase">Contact</h4>
        {% if purchasedContact is defined and purchasedContact is not null %}
            <div class="experience-form">
                <fieldset>
                    <strong>Email:</strong> {{ purchasedContact.contact.email }}<br>
                    <strong>Téléphone:</strong> {{ purchasedContact.contact.telephone }}<br>
                    <strong>Nom complet:</strong> {{ purchasedContact.contact.nom }} {{ purchasedContact.contact.prenom }}
                </fieldset>
            </div>
        {% else %}
        <div id="contactDetails">
          <form action="{{ path('app_v2_contact_show')}}" method="post" id="show-candidate-contact">
            <input type="hidden" name="contactId" value="{{ profile.entreprise.id }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('show-contact') }}">
            <button type="button" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-price="50 crédits" data-bs-type="show-candidate-contact" class="align-items-center btn btn-primary text-uppercase fw-semibold">Afficher le contact (50 crédits)</button>
          </form>
        </div>
        {% endif %}       

      </div>

      <div class="col-12 col-sm-4 text-center">
        {# {% if recruiter is defined and recruiter is not null %}
          {% if profile.editedCvs|length > 0 and (recruiter.status is same as(constant('App\\Entity\\EntrepriseProfile::STATUS_VALID')) or recruiter.status is same as(constant('App\\Entity\\EntrepriseProfile::STATUS_PREMIUM') )) %}
            <h4 class="fs-5 text-uppercase">CV</h4>
            <button type="button" class="btn btn-outline-primary text-upercase fw-semibold" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-file-earmark-pdf-fill"></i> Voir son CV
            </button>
          {% endif %}
        {% endif %} #}
      </div>

    </div>

    <h2 class="fs-5 text-uppercase">Résumé</h2>
    <p class=""> 
    {{ profile.description|raw}}
    </p>

  </div>
</section>