{% extends 'base_v21.html.twig' %}

{% block title %}
	Création de profil Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<section class="mt-5">
		<div class="row">
			<div class="col-12 col-sm-8">
				<div class="p-2 p-sm-5">
					<h1 class="fs-2 text-center">
						Création de votre profil public
					</h1>
					<div class="col">
						<hr class="my-4">
						<h2 class="fs-5 text-center fw-light">
							Sélectionez votre orientation
						</h2>
						{{ form_start(form, {'attr':{'id':'myFormT', 'action': path('app_v2_dashboard_create_profile', {'id': app.user.id})}})}}
						{{ form_errors(form)}}
						
						<div class="row">
							{% for account in form.type %}

								<div class="col-md-6 mx-auto text-center">
									<div class="custom-control custom-radio image-checkbox photo-gris">
										{{ form_widget(account, {'attr': {'class': 'custom-control-input'}}) }}
										<label class="custom-control-label" for="{{ account.vars.id }}">
											<div class="text-center mt-2">
												<h3 class="fs-5 fw-bold">{{account_label(account.vars.label|upper)}}</h3>
											</div>
											<img src="{{ asset('/images/' ~ account.vars.label ~ '.png') }}" class="img-fluid border" alt="{{ account.vars.label }}">
										</label>
									</div>
								</div>

							{% endfor %}
						</div>

						{{ form_end(form) }}
						<hr class="my-4">

						<div id="formProfileId">
							{{ form_start(formProfileUser) }}
							{{ form_row(formProfileUser.secteurs) }}
							{% if formProfileUser.titre is defined %}
								{{ form_row(formProfileUser.titre) }}
							{% endif %}
							{% if formProfileUser.tarifCandidat is defined %}
								{{ form_label(formProfileUser.tarifCandidat) }}
								<div class="row mb-3">
									<div class="col">
										{{ form_row(formProfileUser.tarifCandidat.typeTarif) }}
									</div>
									<div class="col">
										{{ form_row(formProfileUser.tarifCandidat.montant, {'attr':{'placeholder':'10'}}) }}
									</div>
									<div class="col">
										{{ form_row(formProfileUser.tarifCandidat.currency) }}
									</div>
									{{ form_help(formProfileUser.tarifCandidat) }}
								</div>
							{% endif %}
							{% if formProfileUser.localisation is defined %}
								{{ form_row(formProfileUser.localisation) }}
							{% endif %}
							{% if formProfileUser.resume is defined %}
								{{ form_row(formProfileUser.resume) }}
							{% endif %}
							{% if formProfileUser.nom is defined %}
								{{ form_row(formProfileUser.nom) }}
							{% endif %}
							{% if formProfileUser.taille is defined %}
								{{ form_row(formProfileUser.taille) }}
							{% endif %}
							{% if formProfileUser.siteWeb is defined %}
								{{ form_row(formProfileUser.siteWeb) }}
							{% endif %}
							{% if formProfileUser.devise is defined %}
								{{ form_row(formProfileUser.devise) }}
							{% endif %}
							{% if formProfileUser.description is defined %}
								{{ form_row(formProfileUser.description) }}
							{% endif %}
							<div style="display:none;">
							{{ form_widget(formProfileUser) }}
							</div>
							<button type="submit" class="btn btn-primary my-3 my-sm-5 px-4 float-end fw-bold">Suivant
								<i class="bi bi-arrow-right ms-2"></i>
							</button>
							{{ form_end(formProfileUser) }}
						</div>

					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4">
				{% include "v2/dashboard/profile/_sticky_sidebar.html.twig" %}
			</div>
		</div>
	</section>
{% endblock %}

{% block preview %}{% endblock %}
