{% extends 'dashboard/base_new.html.twig' %}

{% block title %}Mes simulations
{% endblock %}

{% block body %}
	<div class="container">
		<div class="annonce-list p-2">
			<div class="annonce-item shadow p-3 p-sm-5 m-1 m-sm-4">
				<h1 class="h2">Mes simulations</h1>
				<div>
					<a href="{{ path('app_home_simulateur_entreprise')}}" class="btn btn-success rounded-pill px-5">Simulateur</a>
				</div>
				<hr>

				{% if simulateurs|length > 0 %}
					<div class="container">
						<div class="row text-strong">
							<div class="col-3">Salaire Net</div>
							<div class="col-4 text-center">Devise</div>
							<div class="col-3 text-center">Date</div>
							<div class="col-2 text-center"></div>
						</div>
						<hr>
						{% for item in simulateurs %}
							<div class="row text-muted align-items-center">
								<div class="col-3 small">
									<a href="{{ path('app_dashboard_entreprise_simulation_view', {'id' : item.id })}}" class="">
										{{ item.salaireNet}}
										{{ item.devise.symbole}}
									</a>
								</div>
								<div class="col-4 small text-center">
									{{ item.taux}}
									Ar
								</div>
								<div class="col-3 small text-center">
									{{ item.createdAt|date('d/m/Y') }}
								</div>
								<div class="col-2 small text-center">
									<a href="{{ path('app_dashboard_employes_simulation_delete', {'id' : item.id })}}" class="btn btn-sm btn-danger small" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette simulation ?');">
										<i class="bi bi-trash"></i>
									</a>
								</div>
							</div>
							<hr>
						{% endfor %}
						<!-- Plus de lignes et colonnes ici -->
					</div>
				{% else %}
					<div class="container p-5 mx-auto text-center">
						Aucunes simulations effectuées jusqu'à présent
						<br>
						<a href="{{path('app_home_simulateur_entreprise')}}" class="btn btn-primary px-5 rounded-pill my-4">Simulateur</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
{% block inner_footer %}
	{% include "dashboard/_inner_footer.html.twig" %}
{% endblock %}
