{% extends 'dashboard/base.html.twig' %}


{% block title %}Invitation à un Entretien{% endblock %}

{% block body %}
<div class="container mt-3">
<h1 class="mb-4">Invitation à un Entretien</h1>
    <hr>

        <div class="card">
            <div class="card-title">
                <p><strong>Objet :</strong> Invitation à un entretienclear</p>
            </div>
            <div class="card-body">
                <p>Bonjour,</p>
                
                <p>Vous avez été invité à un entretien pour l'opportunité suivante : <strong>{{ rendezvous.title }}</strong>.</p>
                <p><strong>Détails de l'entretien :</strong></p>
                <ul>
                    <li><strong>Date et Heure :</strong> {{ rendezvous.dateRendezVous|date('d/m/Y H:i') }}</li>
                    <li><strong>Lieu :</strong> {{ rendezvous.lieu }}</li>
                    {% if rendezvous.link %}
                    <li><strong>Lien de l'entretien virtuel :</strong> <a href="{{ rendezvous.link }}">{{ rendezvous.link }}</a></li>
                    {% endif %}
                </ul>
                
                <p>Veuillez confirmer votre participation en cliquant sur le lien ci-dessous :</p>

                <a href="{{ confirmationLink }}" class="btn btn-primary mb-5">Confirmer ma participation</a>
                
                <p>En cas d'empêchement ou de besoin de reprogrammer, veuillez nous contacter dès que possible.</p>
                <p>Merci et nous sommes impatients de vous rencontrer !</p>
            </div>
        </div>
    
</div>

{% endblock %}