{% extends 'dashboard/base.html.twig' %}


{% block title %}Détails du Rendez-vous: {{ rendezvous.title }}{% endblock %}

{% block body %}
<div class="container mt-3 col-md-6">

<h1 class="mb-4 h2">Reprogrammer le Rendez-vous : {{ rendezvous.title }}</h1>

    <hr>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.dateRendezVous, 'Date et Heure') }}
                {{ form_widget(form.dateRendezVous, {'attr': {'class': 'form-control datetime-picker'}}) }}
                {{ form_errors(form.dateRendezVous) }}
            </div>

            <div class="form-group">
                {{ form_label(form.lieu, 'Lieu') }}
                {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.lieu) }}
            </div>

            {% if form.link is defined %}
            <div class="form-group">
                {{ form_label(form.link, 'Lien de l\'entretien virtuel') }}
                {{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.link) }}
            </div>
            {% endif %}

            <div style="display:none;">
            {{ form_widget(form)}}
            </div>

            <div class="form-group my-3">
                <button type="submit" class="btn btn-primary">Enregistrer les Modifications</button>
                <a href="{{ path('rendezvous_index') }}" class="btn btn-secondary">Annuler</a>
            </div>
        {{ form_end(form) }}
    
</div>

{% endblock %}