{% extends 'dashboard/base_new.html.twig' %}


{% block title %}Détails du Rendez-vous: {{ rendezvous.title }}{% endblock %}

{% block body %}
<div class="container mt-3">
<h1 class="mb-4 h2">Détails du Rendez-vous</h1>

        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title">{{ rendezvous.title }}</h3>
                <p class="card-text">
                    <strong>Date et Heure :</strong> {{ rendezvous.dateRendezVous|date('d/m/Y H:i') }}<br>
                    <strong>Lieu :</strong> {{ rendezvous.lieu }}<br>
                    {% if rendezvous.link %}
                    <strong>Lien de l'entretien virtuel :</strong> <a href="{{ rendezvous.link }}">{{ rendezvous.link }}</a><br>
                    {% endif %}
                </p>
                <a href="{{ path('rendezvous_edit', {'id': rendezvous.id}) }}" class="btn btn-primary rounded-pill my-3 px-5"><i class="mx-2 bi bi-calendar3"></i> Modifier le Rendez-vous</a>
                {# <a href="{{ path('rendezvous_reschedule', {'id': rendezvous.id}) }}" class="btn btn-warning">Reprogrammer le Rendez-vous</a> #}
            </div>
        </div>
    
</div>
<a href="javascript:history.back()" class="btn btn-success rounded-pill my-3 px-5"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
{% endblock %}