{% extends 'dashboard/base.html.twig' %}

{% block title %}Mes infos Coopteur{% endblock %}

{% block body %}
<div class="container">
    <div class="annonce-list p-2">
        <div class="annonce-item shadow p-md-5 m-md-4">
            <h1 class="card-title mb-4">Mes infos Coopteur</h1>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    {{ form_row(form.raisonSocial)}}
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form_row(form.statutJuridique)}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    {{ form_row(form.nif)}}
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form_row(form.creation)}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    {{ form_row(form.emailPro)}}
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form_row(form.telephonePro)}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    {{ form_row(form.adressePro)}}
                </div>
            </div>
            {{ form_start(form)}}
            <div style="display:none;">
            {{ form_widget(form)}}
            </div>
                <button tupe="submit" class="btn btn-primary rounded-pill px-5">Soumettre</button>
            {{ form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}
