{% extends 'finance/base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <div class="container">
        <div class="annonce-list p-2">
            <div class="annonce-item shadow p-5 m-4">
                <h1 class="card-title h2 mb-3">Liste des contrats</h1>
                    {% if contrats|length > 0 %}
                    <div class="container">
                        <div class="row text-strong">
                            <div class="col-sm-5">Utilisateur | Salaire Net</div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4 text-center">Statut</div>
                                    <div class="col-sm-6 col-md-4 text-center">Créé le</div>
                                    <div class="col-sm-6 col-md-4">Frais</div>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <hr>
                        {% for item in contrats %}
                            <div class="row text-muted">
                                <div class="col-sm-5 small">
                                    <a href="{{ path('app_finance_employe_view', {'id' : item.id })}}" class="">
                                        {{ item.employe.user.nom}} 
                                        {{ item.employe.user.prenom}}
                                    </a> | <span class="text-dark text-strong">{{ item.simulateur.salaireNet }} {{ item.simulateur.devise.symbole}}</span>
                                        <br>
                                        <span class="text-muted">{{ item.employe.user.email}}</span>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 text-center">
                                        {{ item|contratStatusBadge|raw }}
                                        </div>
                                        <div class="col-sm-6 col-md-4 small text-center">
                                        {{ item.simulateur.createdAt|date('d/m/Y') }}<br>
                                        {{ item.simulateur.createdAt|date('à h:i') }}
                                        </div>
                                        <div class="col-sm-6 col-md-4 small text-dark">
                                        {{ getFraisPortage(item.simulateur) }} {{ item.simulateur.devise.symbole}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 small">
                                    <a href="{{ path('app_finance_contrat_view', {'id' : item.id })}}" class="btn btn-sm btn-info">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </div>
                            </div>                    
                            <hr>                    
                        {% endfor %}
                    <!-- Plus de lignes et colonnes ici -->
                    </div>
                    <div class="navigation mt-5">
                        {{ knp_pagination_render(contrats, 'parts/_pagination.html.twig') }}
                    </div>
                    {% else %}
                    <div class="container p-5 mx-auto text-center">
                        Aucunes cooptations effectuées jusqu'à présent <br>
                        <a href="{{path('app_dashboard_moderateur_coopteurs')}}" class="btn btn-primary px-5 rounded-pill my-4">Liste des Coopteurs</a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
