{% extends 'base_v21.html.twig' %}

{% block title %}
	Résultat de recherche | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}

	{% if app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_CANDIDAT'))  %}
		{% include "v2/dashboard/layout_candidat.html.twig" %}
	{% endif %}

	{% if app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_ENTREPRISE'))  %}
		{% include "v2/dashboard/layout_entreprise.html.twig" %}
	{% endif %}

{% endblock %}

{% block body %}
<input type="hidden" id="hidden-query" value="{{ getSearchQuery('q') }}">
	<div class="container">
		<div class="row mt-3 mt-sm-5">
			<h1 class="h5">Resultats pour "{{ getSearchQuery('q')}}" dans Candidats</h1>
			{# {% include "v2/result/premium_candidats.html.twig" with {'top_candidats': top_candidats} %} #}
			<div class="row">
				<div class="col-12 col-sm-8" id="candidates-list">
                    {% include "v2/dashboard/result/parts/_part_candidates_list.html.twig" %}
                </div>
				<div class="col-12 col-sm-4">
					<div class="d-flex flex-column flex-shrink-0 py-3 text-white position-sticky top-0">
						<div class="card mb-3">
							<div class="card-body small">
								<h3 class="card-title h5 mb-3">Statistiques</h3>
								<span class="fw-bolder me-2">{{ app.user.credit.total }}</span>
								<span class="fw-light">crédits disponibles</span><br>
								<span class="fw-bolder me-2">0</span>
								<span class="fw-light">annonces publiées</span><br>
								<span class="fw-bolder me-2">0</span>
								<span class="fw-light">favoris</span><br>
								<span class="fw-bolder me-2">0</span>
								<span class="fw-light">prestations</span><br>
							</div>
						</div>
						<div class="card mb-3" id="candidate-card-container">
							<img src="{{ asset('images/mailing/thumbnail.png')}}" class="" alt="Premium Olona Talents">
							<div class="card-body small">
								<h3 class="card-title h5">Passez à la Version Premium!</h3>
								<p class="card-text">Profitez d'un accès illimité aux contacts candidats, de la mise en avant de vos annonces et bien plus encore.</p>
								<div id="checkBoost">
									<button class="btn btn-sm btn-danger text-uppercase fw-bold px-2" data-bs-toggle="modal" data-bs-target="#boostProfile" data-bs-whatever="@mdo">
										<i class="bi bi-rocket-takeoff me-2"></i>
										Booster l'entreprise</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}

