<div class="navigation">
{{ knp_pagination_render(archiveds, 'parts/_pagination.html.twig') }}
</div>
<div class="responsive-table">
    {% for application in archiveds %}
    <div class="d-flex flex-wrap justify-content-between mb-3 border-bottom pb-2">
        <!-- Détails de l'offre -->
        <div class="p-2 flex-fill">
            <span class="fs-7 fw-bold">
                {{ application.annonce.titre }}
            </span> | Réf: {{ generateJobReference(application.annonce.id)}}
            <a href="{{ path('app_v2_candidate_view_job_offer', {'id': application.annonce.id}) }}" class="btn btn-link small">
                Voir l'offre
            </a>
            <br>
            <span class="small">
                <i class="bi bi-calendar-event"></i>
                {{ application.dateCandidature|date('d/m/Y') }} <span class="small text-center mx-1 mx-sm-3">|</span> 
                <i class="bi bi-geo-alt"></i>
                {{ application.annonce.lieu }} <span class="small text-center mx-1 mx-sm-3">|</span> 
            </span>
            <span class="badge bg-success">
                {{ application.annonce.typeContrat }}
            </span>
            <br>
            <span class="fw-lighter small">Déposé {{ application.dateCandidature|time_ago }}</span>
        </div>
        
        <!-- Informations du Candidat -->
        <div class="px-2">
        </div>
    </div>
    {% endfor %}
</div>

