
<div class="navigation">
{{ knp_pagination_render(pendings, 'parts/_pagination.html.twig') }}
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="col-4"></th>
            <th scope="col" class="col-6"></th>
            <th scope="col" class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        {% for application in pendings %}
            <tr>
                <!-- Colonne de gauche (Détails de l'offre) -->
                <td>
                    <!-- Type de contrat -->
                    <h3 class="h6">
                        {{ application.annonce.titre }}
                    </h3>
                    <!-- Titre du job -->
                    <a href="{{ path('app_dashboard_candidat_annonce_details', {'jobId': application.annonce.jobId}) }}" class="btn btn-link">
                        Voir l'offre
                    </a>

                </td>
                <td>
                    <small class="">
                        {% set clean_description = application.annonce.description|striptags|replace({'&nbsp;': '. '}) %}
                        {{ clean_description|length > 250 ? clean_description|slice(0, 247) ~ '...' : clean_description }}
                    </small> 
                <!-- Type de contrat -->
                </td>

                <!-- Colonne de droite (Informations du Candidat) -->
                <td>
                    <ul class="list-unstyled small">
                        <li>
                            <i class="bi bi-geo-alt"></i>
                            {{ application.annonce.lieu }}
                        </li>
                        <!-- Nom du candidat -->
                        <li>
                            <i class="bi bi-calendar-event"></i>
                            {{ application.dateCandidature|date('d/m/Y') }}
                        </li>
                        <small class="text-white px-2 bg-dark rounded">
                            {{ application.annonce.typeContrat }}
                        </small>
                    <!-- Prétention salariale -->
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
