
<div class="navigation">
{{ knp_pagination_render(pendings, 'parts/_pagination.html.twig') }}
</div>
<div class="responsive-table">
    {% for application in pendings %}
    <div class="d-flex flex-wrap justify-content-between mb-3 border-bottom pb-2">
        <!-- Détails de l'offre -->
        <div class="p-2 flex-fill">
            <span class="h5">
                {{ application.annonce.titre }}
            </span>
            <a href="{{ path('app_dashboard_candidat_annonce_details', {'jobId': application.annonce.jobId}) }}" class="btn btn-link small">
                Voir l'offre
            </a>
            <small class="d-none d-sm-block">
                {% set clean_description = application.annonce.description|striptags|replace({'&nbsp;': '. '}) %}
                {{ clean_description|length > 250 ? clean_description|slice(0, 247) ~ '...' : clean_description }}
            </small>
        </div>
        
        <!-- Informations du Candidat -->
        <div class="px-2">
            <ul class="list-unstyled small">
                <li>
                    <span class="text-muted">Déposé {{ application.dateCandidature|time_ago }}</span>
                    <br>
                    <i class="bi bi-calendar-event"></i>
                    {{ application.dateCandidature|date('d/m/Y à H:i') }}
                </li>
                <li>
                    <i class="bi bi-geo-alt"></i>
                    {{ application.annonce.lieu }}
                </li>
                <span class="badge bg-dark">
                    {{ application.annonce.typeContrat }}
                </span>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

