{% extends 'base_v21.html.twig' %}

{% block title %}
	Créer une annonce | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endblock %}

{% block body %}
	<section class="">
      	<div class="shadow p-2 p-sm-4">
			<h2 class="fs-4 fw-bolder text-center my-3 my-sm-5">
			<i class="bi bi-megaphone text-warning me-2"></i></span> Publier une offre
			</h2>
			<p class="text-center"> 
			Maximisez votre recherche de talents avec Olona-Talents.com. En publiant une annonce sur notre plateforme, vous atteindrez une large communauté de professionnels qualifiés prêts à contribuer à la réussite de votre entreprise. Notre processus de publication est simple et guidé : remplissez les champs nécessaires pour décrire le poste, les compétences recherchées, le type de contrat, et le lieu de travail. Vous pouvez également ajouter des questions personnalisées pour mieux cerner les candidats dès la première sélection. Une fois votre annonce publiée, elle sera visible par des milliers de candidats potentiels, augmentant ainsi vos chances de trouver le profil idéal. Commencez dès maintenant et donnez à votre entreprise l'avantage qu'elle mérite !
			</p>

			<div class="col-12 col-sm-8 mx-auto p-2 p-sm-4">
				{{ form_start(form, {'attr': {'id': 'createJob'}}) }}
				<div class="row">
					<div class="col">
						<div class="mb-3">
							<span class="fw-bold small">{{ form_label(form.titre)}}</span>
							{{ form_widget(form.titre)}}
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<div class="mb-3">
							<span class="fw-bold small">{{ form_label(form.secteur)}}</span>
							{{ form_widget(form.secteur)}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="mb-3">
							<span class="fw-bold small">{{ form_label(form.typeContrat)}}</span>
							{{ form_widget(form.typeContrat)}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="mb-3">
							<span class="fw-bold small">{{ form_label(form.lieu)}}</span>
							{{ form_widget(form.lieu)}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="mb-3">
							<span class="fw-bold small">{{ form_label(form.nombrePoste)}}</span>
							{{ form_widget(form.nombrePoste)}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="mb-3">
							<span class="fw-bold small">{{ form_label(form.dateExpiration)}}</span>
							{{ form_widget(form.dateExpiration)}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<div class="mb-3">
							<label class="fw-bold small" for="prestation_tarifPrestation_typeTarif">Tarif</label>
							{{ form_widget(form.budgetAnnonce.typeBudget)}}
						</div>
					</div>
					<div class="col-4">
						<div class="mb-3">
							<label class="fw-bold small" for="prestation_tarifPrestation_montant">Montant</label>
							{{ form_widget(form.budgetAnnonce.montant)}}
						</div>
					</div>
					<div class="col-4">
						<div class="mb-3">
							<label class="fw-bold small" for="prestation_tarifPrestation_currency">Devise</label>
							{{ form_widget(form.budgetAnnonce.currency)}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="mb-3">
							<span class="fw-bold small">{{ form_label(form.description)}}</span>
							{{ form_widget(form.description)}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="mb-3">
							<span class="fw-bold small">{{ form_label(form.competences)}}</span>
							{{ form_widget(form.competences)}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="mb-3 experience-form">
						<fieldset>
							<span class="fw-bolder text-uppercase fs-5 mb-3"> <i class="bi bi-rocket-takeoff me-2"></i> Booster</span>
							{{ form_widget(form.boost)}}
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="mb-3">
							{{ form_widget(form.agreeTerms, {
								'label': 'J\'accepte les Termes et Conditions',
								'label_attr': {'class': 'fw-bold small'},
							})}}
						</div>
					</div>
				</div>

				<div style="display:none;">
				{{ form_widget(form) }}
				</div>
				<button type="submit" class="btn btn-primary btn-lg my-3 my-sm-4 fs-6 px-4 px-sm-5 fw-semibold text-uppercase">
					<i class="bi bi-save"></i>
					Publier ( 10 crédits)
				</button>
				{{ form_end(form) }}
			</div>
		
		</div>
    </section>
{% endblock %}
