{% extends 'base_v21.html.twig' %}

{% block title %}
	Créer une annonce | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endblock %}

{% block body %}
<section class="">
	<div class="shadow-custom p-2 p-sm-4">
		<h2 class="fs-4 fw-bolder text-center my-3 my-sm-5">
			<i class="bi bi-megaphone text-warning me-2"></i>
		</span>
		Publier une offre
	</h2>
	<p class="text-center">
		Maximisez votre recherche de talents avec Olona-Talents.com. En publiant une annonce sur notre plateforme, vous atteindrez une large communauté de professionnels qualifiés prêts à contribuer à la réussite de votre entreprise. Notre processus de publication est simple et guidé : remplissez les champs nécessaires pour décrire le poste, les compétences recherchées, le type de contrat, et le lieu de travail. Vous pouvez également ajouter des questions personnalisées pour mieux cerner les candidats dès la première sélection. Une fois votre annonce publiée, elle sera visible par des milliers de candidats potentiels, augmentant ainsi vos chances de trouver le profil idéal. Commencez dès maintenant et donnez à votre entreprise l'avantage qu'elle mérite !
	</p>

	<div class="col-12 col-sm-10 mx-auto p-2 p-sm-4" id="jobListingForm">
		{{ form_start(form, {'attr': {'id': 'createJob'}}) }}
		<div class="row">
			<div class="col">
				<div class="mb-3">
					{{ form_row(form.titre)}}
					{{ form_row(form.secteur)}}
					{{ form_row(form.typeContrat)}}
					{{ form_row(form.lieu)}}
					{{ form_row(form.nombrePoste)}}
					{{ form_row(form.dateExpiration)}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="mb-3">
					<label class="fw-bold small" for="prestation_tarifPrestation_typeTarif">Tarif</label>
					{{ form_widget(form.budgetAnnonce.typeBudget)}}
				</div>
			</div>
			<div class="col-4">
				<div class="mb-3">
					<label class="fw-bold small" for="prestation_tarifPrestation_montant">Montant</label>
					{{ form_widget(form.budgetAnnonce.montant)}}
				</div>
			</div>
			<div class="col-4">
				<div class="mb-3">
					<label class="fw-bold small" for="prestation_tarifPrestation_currency">Devise</label>
					{{ form_widget(form.budgetAnnonce.currency)}}
				</div>
			</div>
		</div>

		<div class="row">
			{{ form_row(form.description)}}
			{{ form_row(form.competences)}}
		</div>

		<div class="row">
			<label class="fw-bold fs-4 form-label" for=""><i class="bi bi-rocket mx-1 h5"></i> Boost</label>
			<div id="annonce_boost">
				<fieldset class="mb-3">
					<div class="radio-grid">
						<div class="form-check selected">
							<input type="radio" id="annonce_boost_placeholder" name="annonce[boost]" class="form-check-input" value="">
							<label class="form-check-label fw-bold fs-6" for="annonce_boost_placeholder">Pas de boost</label>
						</div>
						<div class="form-check">
							<input type="radio" id="annonce_boost_4" name="annonce[boost]" class="form-check-input" value="4" checked="checked">
							<label class="form-check-label fw-bold fs-6" for="annonce_boost_4">Boost 1 jour (100 crédits)</label>
						</div>
						<div class="form-check">
							<input type="radio" id="annonce_boost_5" name="annonce[boost]" class="form-check-input" value="5">
							<label class="form-check-label fw-bold fs-6" for="annonce_boost_5">Boost 7 jours (600 crédits)</label>
						</div>
						<div class="form-check">
							<input type="radio" id="annonce_boost_6" name="annonce[boost]" class="form-check-input" value="6">
							<label class="form-check-label fw-bold fs-6" for="annonce_boost_6">Boost 15 jours (1000 crédits)</label>
						</div>
					</div>
				</fieldset>
				<fieldset class="mb-3">
					<div id="annonce_boostFacebook"  style="display:none;">
                		<h4 class="text-center fw-bolder h5 my-3">Augmentez votre influence sur Facebook</h4>
						<div class="radio-grid" data-html="data-html">
							<div class="form-check selected-facebook">
								<input type="radio" id="annonce_boostFacebook_placeholder" name="annonce[boostFacebook]" class="form-check-input" value="" checked="checked">
								<label class="form-check-label" for="annonce_boostFacebook_placeholder">Pas de boost <i class="bi bi-facebook mx-2 h5"></i></label>
							</div>
							<div class="form-check">
								<input type="radio" id="annonce_boostFacebook_1" name="annonce[boostFacebook]" class="form-check-input" value="1">
								<label class="form-check-label" for="annonce_boostFacebook_1">Boost <i class="bi bi-facebook mx-2 h5"></i> 7 jours (2100 crédits)</label>
							</div>
							<div class="form-check">
								<input type="radio" id="annonce_boostFacebook_2" name="annonce[boostFacebook]" class="form-check-input" value="2">
								<label class="form-check-label" for="annonce_boostFacebook_2">Boost <i class="bi bi-facebook mx-2 h5"></i> 15 jours (4500 crédits)</label>
							</div>
							<div class="form-check">
								<input type="radio" id="annonce_boostFacebook_3" name="annonce[boostFacebook]" class="form-check-input" value="3">
								<label class="form-check-label" for="annonce_boostFacebook_3">Boost <i class="bi bi-facebook mx-2 h5"></i> 30 jours (9000 crédits)</label>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="mb-3">
					{{ form_widget(form.agreeTerms, {
								'label': 'J\'accepte les Termes et Conditions',
								'label_attr': {'class': 'fw-bold small'},
							})}}
						</div>
					</div>
				</div>

				<div style="display:none;">
				{{ form_widget(form) }}
				</div>
				<button type="submit" class="btn btn-primary btn-lg my-3 my-sm-4 fs-6 px-4 px-sm-5 fw-semibold text-uppercase">
					<i class="bi bi-save"></i>
					Publier ( 10 crédits)
				</button>
			</div>
		
		</div>
	{{ form_end(form) }}
    </section>
{% endblock %}
