{% extends 'dashboard/base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Mon compte</h1>

        <div class="row">
            <hr class="my-4">
            {{ form_start(form) }}
            <section class="text-dark card shadow p-4 my-3">
                <h4 class="">
                    <i class="bi bi-building-check mx-2"></i>
                    Entreprise
                </h4>
                <hr class="mb-4">
                
                <div class="row">
                    <div class="col">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control mb-4'}}) }}
                        {{ form_label(form.taille) }}
                        {{ form_widget(form.taille, {'attr': {'class': 'form-control mb-4'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.siteWeb) }}
                        {{ form_widget(form.siteWeb, {'attr': {'class': 'form-control mb-4'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_label(form.secteurs) }}
                        {{ form_widget(form.secteurs) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control mb-4'}}) }}
                    </div>
                </div>
            </section>
            <section class="text-dark card shadow p-4 my-3">
                <h4 class="">
                    <i class="bi bi-envelope-check mx-2"></i>
                    Contact
                </h4>
                <hr class="mb-4">
                <div class="row">
                    <div class="col">
                        {{ form_label(form.entreprise.email) }}
                        {{ form_widget(form.entreprise.email, {'attr': {'class': 'form-control mb-4'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.entreprise.telephone) }}
                        {{ form_widget(form.entreprise.telephone, {'attr': {'class': 'form-control mb-4'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_label(form.entreprise.adress) }}
                        {{ form_widget(form.entreprise.adress, {'attr': {'class': 'form-control mb-4'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.localisation) }}
                        {{ form_widget(form.localisation, {'attr': {'class': 'form-control mb-4'}}) }}
                    </div>
                </div>
            </section>
            <div style="display:none">
                {{ form_widget(form) }}
            </div>
            <div class="d-flex justify-content-center mb-5 mt-4">
                <button type="submit" id="get_started" class="btn btn-primary">
                    Enregister
                </button>
            </div>
            {{ form_end(form) }}

        </div>

        </div>
    </div>
{% endblock %}