{% extends 'base_v21.html.twig' %}

{% block title %}
	Dashboard | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{% include "v2/dashboard/layout_candidat.html.twig" %}
{% endblock %}

{% block body %}
	<div class="load" id="cvModal">
		<div class="load-content p-5 border">
			<span class="fs-2 m-5">Analyse de votre CV</span>
			<span class="dot">.</span>
			<span class="dot">.</span>
			<span class="dot">.</span>
		</div>
	</div>
	<section class="">
		<div class="shadow p-2 p-sm-4">
			<h2 class="fs-4 fw-bolder text-center my-3 my-sm-5">
				<span class="">
					<img src="{{ asset('v2/images/7108023.png')}}" alt="icone" style="width:30px;">
				</span>
				Bienvenue dans votre espace VIP Olona Talents
				<span class="">
					<img src="{{ asset('v2/images/7108023.png')}}" alt="icone" style="width:30px;">
				</span>
			</h2>

			<p class="fw-light">
				Afin de maximiser vos chances de trouver l'emploi de vos rêves, veuillez remplir ce formulaire avec soin. Notre IA spécialisée dans le recrutement analysera et optimisera votre profil en fonction des informations fournies.
			</p>
			<div id="alert-application">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('danger') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}
			</div>

			<h3 class="fs-5 fw-bolder my-3 my-sm-5 text-center">
				<span class="">
					<img src="{{ asset('v2/images/6939131.png')}}" alt="icone" style="width:30px;">
				</span>
				1ère chose à faire
			</h3>
			{{ form_start(form, {'attr': {'id': 'cvForm', 'class':'text-center', 'data-action': path('app_v2_candidate_dashboard')}})}}
			<div id="file-upload-container">
				{{ form_widget(form.cv, {'attr': {'style': 'display:none;'}}) }}
			</div>

			<p id="file-name" class="my-2"></p>
			<button id="upload-button" type="button" class="btn btn-primary btn-lg my-3 my-sm-4 fs-6 px-4 px-sm-5 fw-semibold text-uppercase">
				<i class="bi bi-download"></i>
				Mettre en ligne un cv ( 15 Crédits)
			</button>
			<button id="submit-button" type="submit" class="btn btn-primary btn-lg my-3 my-sm-4 fs-6 px-4 px-sm-5 fw-semibold text-uppercase" style="display:none;">
				<i class="bi bi-save"></i>
				Soumettre
			</button>
			{{ form_end(form)}}

			<p class="text-center">
				Exemple de texte. Cliquez pour sélectionner l'élément de texte.
			</p>
			<div class="mt-4">

				<ul class="nav nav-underline justify-content-center">
					<li class="nav-item">
						<a class="nav-link px-3 active" id="view-tab" data-bs-toggle="tab" href="#view">Voir le profil public</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-3" id="edit-tab" data-bs-toggle="tab" href="#edit">Modifier votre profil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-3" id="history-tab" data-bs-toggle="tab" href="#history">Historique d'activité</a>
					</li>
				</ul>

				<!-- Contenu des onglets -->
				<div class="tab-content mt-3">

					<div class="tab-pane fade" id="edit">
						{% if candidat.status is same as(constant('App\\Entity\\CandidateProfile::STATUS_VALID')) %}
							<div class="alert alert-warning alert-dismissible fade show small" role="alert">
								En modifiant votre profil, celui-ci sera réexaminé avant validation.
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endif %}
						{{ form_start(form_one, {'attr': {'data-turbo': 'false', 'id': 'formOne'}}) }}

						<div class="row">

							<div class="col-12 col-sm-6">

								<h3 class="fs-5 text-uppercase my-3">
									<i class="bi bi-person-circle"></i>
									Informations personnelles
								</h3>

								<span class="fs-6 fw-bold lh-base">Votre nom complet</span><br>
								<span class="fw-lighter lh-1 small">Indiquez votre prénom et votre nom de famille.</span>
								<div class="row">
									<div class="col">
										{{ form_widget(form_one.candidat.nom, {'attr': {'class': 'form-control mb-4'}}) }}
										{{ form_errors(form_one.candidat.nom) }}
									</div>
									<div class="col">
										{{ form_widget(form_one.candidat.prenom, {'attr': {'class': 'form-control mb-4'}}) }}
										{{ form_errors(form_one.candidat.prenom) }}
									</div>
								</div>

								<span class="fs-6 fw-bold lh-base">Adresse Email</span><br>
								<span class="fw-lighter lh-1 small">Utilisez une adresse email que vous consultez régulièrement pour ne manquer aucune opportunité.</span>
								<div class="row">
									<div class="col">
										{{ form_widget(form_one.candidat.email, {'attr': {'class': 'form-control mb-4'}}) }}
										{{ form_errors(form_one.candidat.email) }}
									</div>
								</div>

								<span class="fs-6 fw-bold lh-base">Numéro de Téléphone</span><br>
								<span class="fw-lighter lh-1 small">Fournissez un numéro de téléphone où vous pouvez être facilement contacté.</span>
								<div class="row">
									<div class="col">
										{{ form_widget(form_one.candidat.telephone, {'attr': {'class': 'form-control mb-4'}}) }}
										{{ form_errors(form_one.candidat.telephone) }}
									</div>
								</div>

								<h3 class="fs-5 text-uppercase my-3">
									<i class="bi bi-person-badge"></i>
									Informations professionnelle
								</h3>

								<span class="fs-6 fw-bold lh-base">Titre</span><br>
								<span class="fw-lighter lh-1 small">Renseigner votre titre professionnel.</span>
								<div class="row">
									<div class="col">
										{{ form_widget(form_one.titre, {'attr': {'class': 'form-control mb-4'}}) }}
										{{ form_errors(form_one.titre) }}
									</div>
								</div>

								<span class="fs-6 fw-bold lh-base">Secteur(s) d'activité</span><br>
								<span class="fw-lighter lh-1 small">Vos secteurs d'activité professionnel.</span>
								<div class="row">
									<div class="col">
										{{ form_widget(form_one.secteurs, {'attr': {'class': 'form-control mb-4'}}) }}
										{{ form_errors(form_one.secteurs) }}
									</div>
								</div>

							</div>

							<div class="col-12 col-sm-6">
								<div class="row my-4 justify-content-center">
									<div class="col-auto">
										<div class="rounded-circle profile-img bg-image-candidat-account" style="background-image: url('{{ form_one.vars.data.fileName ? asset('uploads/experts/' ~ form_one.vars.data.fileName) : asset('uploads/experts/avatar-default.jpg') }}');" alt="Avatar"></div>
										{{ form_widget(form_one.file) }}
										{{ form_errors(form_one.file) }}
									</div>
								</div>
								<div class="row my-4 align-items-center">
									<span class="fs-6 fw-bold lh-base">Biographie</span>
                                    {{ form_widget(form_one.resume) }}
								</div>
							</div>

							<div class="row my-3">
								<div class="col-md-4 col-sm-12">
									<h5 class="fs-4 fw-bold">
										<i class="bi bi-graph-up"></i>
										Experiences ({{ experiences|length }})
                                    </h5>
								</div>
								<div class="col-md-8 col-sm-12">

								</div>
							</div>
							<div class="experience-form">
							{{ form_label(form_one.experiences) }}
							{{ form_errors(form_one.experiences) }}
							{{ form_widget(form_one.experiences) }} 
							</div>

							<div class="row my-3">
								<div class="col-md-4 col-sm-12">
									<h5 class="fs-4 fw-bold">
										<i class="bi bi-person-fill-gear mx-2 h5"></i>
										Competences ({{ competences|length }})</h5>
								</div>
								<div class="col-md-8 col-sm-12">

								</div>
							</div>
							<div class="experience-form">
							{{ form_label(form_one.competences) }}
							{{ form_errors(form_one.competences) }}
							{{ form_widget(form_one.competences) }} 
							</div>
							<div class="row my-3">
								<div class="col-md-4 col-sm-12">
									<h5 class="fs-4 fw-bold">
										<i class="bi bi-globe-europe-africa mx-2 h5"></i>
										Langues ({{ langages|length }})</h5>
								</div>
								<div class="col-md-8 col-sm-12">
									<div class="">
									</div>
								</div>
							</div>
							<div class="row">
							<div class="experience-form">
							{{ form_label(form_one.langages) }}
							{{ form_errors(form_one.langages) }}
							{{ form_widget(form_one.langages) }} 
							</div>
							</div>
							<hr class="mb-4">

						</div>

						<div style="display:none">
							{{ form_widget(form_one) }}
						</div>
						<button type="submit" class="btn btn-primary btn-lg my-3 my-sm-4 fs-6 px-4 px-sm-5 fw-semibold text-uppercase">
							<i class="bi bi-save"></i>
							Enregister
						</button>

						{{ form_end(form_one, { 'render_rest': false }) }}
					</div>

					<div class="tab-pane fade show active" id="view">
						<div class="row">

							<div class="col-12 col-sm-6">

								<h3 class="fs-5 text-uppercase my-3">
									<i class="bi bi-person-circle"></i>
									Informations personnelles
								</h3>
								<span class="fs-6 fw-bold lh-base">Nom complet</span><br>
								<div class="row mb-4">
									<div class="col">
										{{ candidat.candidat.nom }}
										{{ candidat.candidat.prenom }}
									</div>
								</div>
								<span class="fs-6 fw-bold lh-base">Adresse email</span><br>
								<div class="row mb-4">
									<div class="col">
										{{ candidat.candidat.email }}
									</div>
								</div>
								<span class="fs-6 fw-bold lh-base">Numéro de téléphone</span><br>
								<div class="row mb-4">
									<div class="col-md-6 col-sm-12">
										{{ candidat.candidat.telephone }}
									</div>
								</div>
								<span class="fs-6 fw-bold lh-base">Référence</span><br>
								<div class="row mb-4">
									<div class="col-md-6 col-sm-12">
										{{ generatePseudo(candidat) }}
									</div>
								</div>

								<h3 class="fs-5 text-uppercase my-3">
									<i class="bi bi-person-badge"></i>
									Informations professionnelle
								</h3>

								<span class="fs-6 fw-bold lh-base">Titre</span><br>
								<div class="row mb-4">
									<div class="col">
										{{ candidat.titre }}
									</div>
								</div>

								<span class="fs-6 fw-bold lh-base">Secteur(s) d'activité</span><br>
								<div class="row mb-4">
									<div class="col">
										{{ candidat.titre }}
									</div>
								</div>

								<span class="fs-6 fw-bold lh-base">Prentention salariale</span><br>
								<div class="row mb-4">
									<div class="col">
										{% if candidat.tarifCandidat.simulation is defined and candidat.tarifCandidat.simulation is not null %}
											<span class="fw-lighter">Base mensuel :</span>
											<span class="mx-4 text-strong">{{ candidat.tarifCandidat.simulation.salaireNet|number_format(2, '.', '') }}
												{{ candidat.tarifCandidat.simulation.devise.symbole }}
											</span>
											<span class="small">
												<a href="{{ path('app_dashboard_employes_simulation_view', {'id' : candidat.tarifCandidat.simulation.id })}}" class="">
													<i class="bi bi-box-arrow-up-right"></i>
													Détails
												</a>
											</span>
											{% else %}
										{% endif %}
									</div>
								</div>

								<h3 class="fs-5 text-uppercase my-3">
									<i class="bi bi-suitcase-lg"></i>
									Informations liées à votre CV
								</h3>

								<h4 class="fs-6 mt-5 fw-bolder">- Experiences</h4>
								{% if experiences|length > 0 %}
									{% for experience in experiences %}
										<div class="experience" data-experience-id="{{ experience.id }}">
											<span class="justify-content-between align-items-center">
												{% if experience.enPoste %}
													Depuis
													{{ experience.dateDebut|date('M Y')}}
												{% else %}
													{{ experience.dateDebut|date('M Y')}}
													-
													{{ experience.dateFin|date('M Y')}}
												{% endif %}
											</span>
											<p class="small d-flex justify-content-between align-items-center">
												<span>
													<strong>{{ experience.nom }}</strong>
													chez
													<strong>{{ experience.entreprise }}</strong>
													{% if date_difference(experience.dateFin, experience.dateDebut) != "" %}
														({{ date_difference(experience.dateFin, experience.dateDebut) }})
													{% endif %}

												</span>
											</p>
										</div>
									{% endfor %}
								{% else %}
									<div class="alert alert-primary" role="alert">
										<i class="bi bi-info"></i>
										Aucune expérience renseignée.
									</div>
								{% endif %}

								<h4 class="fs-6 mt-5 fw-bolder">- Compétences</h4>
								{% if competences|length > 0 %}
									{% for competence in competences %}
										<div class="competence" data-competence-id="{{ competence.id }}">
											<p class="small">
												{{ competence.nom }}
												<span class="">
													{% for i in 1..5 %}
														{% if i <= competence.note %}
															<i class="small bi bi-star-fill text-warning"></i>
														{% else %}
															<i class="small bi bi-star "></i>
														{% endif %}
													{% endfor %}
												</span>
											</p>
										</div>
									{% endfor %}
								{% else %}
									<div class="alert alert-primary" role="alert">
										<i class="bi bi-info"></i>
										Aucune compétence renseignée.
									</div>
								{% endif %}


								<h4 class="fs-6 mt-5 fw-bolder">- Langues</h4>
								{% if langages|length > 0 %}
									<div class="row">
										{% for langue in langages %}
											<div class="langue" data-langue-id="{{ langue.id }}">
												<p class="">
													{{ isoToEmoji(langue.langue.code) }}
													{{ langue.langue.nom }}
													{% for i in 1..5 %}
														{% if i <= langue.niveau %}
															<i class="small bi bi-star-fill text-warning"></i>
														{% else %}
															<i class="small bi bi-star "></i>
														{% endif %}
													{% endfor %}
												</p>
											</div>
										{% endfor %}
									</div>
								{% else %}
									<div class="alert alert-primary" role="alert">
										<i class="bi bi-info"></i>
										Aucune langues renseignée.
									</div>
								{% endif %}

							</div>

							<div class="col-12 col-sm-6">
								<div class="row my-4 justify-content-center">
									<div class="col-auto">
										<div class="rounded-circle profile-img bg-image-candidat-account" style="background-image: url('{{ candidat.fileName ? asset('uploads/experts/' ~ candidat.fileName) : asset('uploads/experts/avatar-default.jpg') }}');" alt="Avatar"></div>
									</div>
								</div>
								
								<div class="text-center my-4">
									{{ checkBoost(app.user)|raw }}
								</div>

								<div class="row my-4 align-items-center">
									<div class="h-100 p-4 border rounded-3">
										<span class="fs-5 fw-bold lh-base text-uppercase">Biographie</span>
										{{ candidat.resume|raw}}
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="tab-pane fade" id="history">
					</div>
				</div>

			</div>

			<div class="">
				<h3 class="fs-5 fw-bolder mt-3 mt-sm-5 text-center">
					<span class="u-file-icon u-icon">
						<img src="{{ asset('v2/images/3221746.png')}}" alt="icone" style="width:32px;">
					</span>
					Conseils pour Compléter Votre Profil
				</h3>
				<ul class="col-12 col-sm-8 mx-auto">
					<li class="list-group-item mx-2">
						<div class="row mb-3">
							<div class="col-1">
								<i class="bi bi-check h5 text-danger"></i>
							</div>
							<div class="col-11">
								Prenez votre temps pour corrigez chaque section de manière détaillée et précise.
							</div>
						</div>
					</li>
					<li class="list-group-item mx-2">
						<div class="row mb-3">
							<div class="col-1">
								<i class="bi bi-check h5 text-danger"></i>
							</div>
							<div class="col-11">
								Prenez votre temps pour corrigez chaque section de manière détaillée et précise.
							</div>
						</div>
					</li>
					<li class="list-group-item mx-2">
						<div class="row mb-3">
							<div class="col-1">
								<i class="bi bi-check h5 text-danger"></i>
							</div>
							<div class="col-11">
								Relisez votre profil avant de le soumettre pour éviter les erreurs.
							</div>
						</div>
					</li>
					<li class="list-group-item mx-2">
						<div class="row mb-3">
							<div class="col-1">
								<i class="bi bi-check h5 text-danger"></i>
							</div>
							<div class="col-11">
								Les modifications que vous apporterez seront soumis aux modérateurs pour validation.
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>


{% endblock %}
