<div class="container mt-4">
    <p class="mx-2">
        Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
    </p>
    <div class="navigation">
        {{ knp_pagination_render(annonces, 'parts/_pagination.html.twig') }}
    </div>

    {% if annonces|length > 0 %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for annonce in annonces %}
                <div class="col">
                    <div class="card shadow h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.titre }}</h5>
                            <p class="card-text">{{ annonce.description|length > 300 ? annonce.description|slice(0, 297) ~ '...' : annonce.description }}</p>
                            <p class="card-text"><small class="text-muted"><i class="bi bi-eye"></i> Nombre de vues : {{ annonce.annonceVues|length }}</small></p>
                            <p><i class="bi bi-file-earmark-text"></i> Type de contrat : <span class="badge bg-secondary">{{ annonce.typeContrat }}</span></p>
                            <p><i class="bi bi-geo-alt-fill"></i> {{ annonce.lieu }}</p>
                            <p><i class="bi bi-calendar-check-fill"></i> Publiée le : {{ annonce.dateCreation|date('d/m/Y') }}</p>
                            <p><i class="bi bi-calendar-x-fill"></i> Expire le : {{ annonce.dateExpiration|date('d/m/Y') }}</p>

                            
                            {% if annonce.competences|length > 0 %}
                                <div>
                                    {% for skill in annonce.competences %}
                                        <span class="badge bg-secondary">{{ skill.nom }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_dashboard_candidat_annonce_show', {'jobId': annonce.jobId}) }}" class="btn btn-primary">Voir l'annonce</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Aucune annonces trouvées.
        </div>
    {% endif %}
</div>