<div class="container mt-4">
    <p class="mx-2">
        Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
    </p>
    <div class="navigation">
        {{ knp_pagination_render(annonces, 'parts/_pagination.html.twig') }}
    </div>

    {% if annonces|length > 0 %}
        <div class="annonce-list">
            {% for annonce in annonces %}
                <div class="annonce-item shadow">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ annonce.titre|upper }}</h5>
                    </div>
                    <p class="mb-1">{{ annonce.description|length > 400 ? annonce.description|slice(0, 397) ~ '...' : annonce.description }}</p>
                    <p class="mb-1"><small class="text-muted"><i class="bi bi-eye"></i> Nombre de vues : {{ annonce.annonceVues|length }}</small></p>
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <span><i class="bi bi-file-earmark-text"></i> Type de contrat : <span class="badge bg-secondary">{{ annonce.typeContrat }}</span></span>
                        <span><i class="bi bi-geo-alt-fill"></i> {{ annonce.lieu }}</span>
                        <span><i class="bi bi-calendar-check-fill"></i> Publiée le : {{ annonce.dateCreation|date('d/m/Y') }}</span>
                        <span><i class="bi bi-calendar-x-fill"></i> Expire le : {{ annonce.dateExpiration|date('d/m/Y') }}</span>
                        <a href="{{ path('app_dashboard_candidat_annonce_show', {'jobId': annonce.jobId}) }}" class="btn btn-primary">Voir l'annonce</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Aucune annonces trouvées.
        </div>
    {% endif %}
    <div class="navigation">
        {{ knp_pagination_render(annonces, 'parts/_pagination.html.twig') }}
    </div>
    
</div>
