{% extends 'dashboard/base.html.twig' %}

{% block body %}

<div class="container mt-3">
    <div class="row text-dark">
        <p>
            Retrouvez à tout moment vos candidatures en cours, le suivi de leur statut, ainsi que l’historique des offres auxquelles vous avez postulées. Les candidatures archivées regroupent vos candidatures sur des offres expirées.
        </p>
        
        <hr>
            <!-- Onglets -->
            <ul class="nav nav-tabs justify-content-center nav-underline">
                <li class="nav-item">
                    <a class="nav-link active" id="pending-tab" data-bs-toggle="tab" href="#pending">En cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="accepted-tab" data-bs-toggle="tab" href="#accepted">Acceptées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="refused-tab" data-bs-toggle="tab" href="#refused">Non retenues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="archived-tab" data-bs-toggle="tab" href="#archived">Archivées</a>
                </li>
            </ul>
        
            <!-- Contenu des onglets -->
            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="pending">
                    <div class="card">
                        <div class="card-body">
                            {% if pendings|length > 0 %}<table class="table">
                            <thead>
                              <tr>
                                <th scope="col" class="col-5"></th>
                                <th scope="col" class="col-5"></th>
                                <th scope="col" class="col-2"></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for application in pendings %}
                                <tr>
                                  <!-- Colonne de gauche (Détails de l'offre) -->
                                  <td>
                                    <small class="text-white px-2 bg-dark rounded">{{ application.annonce.typeContrat }}</small> <!-- Type de contrat -->
                                    <h5>{{ application.annonce.titre }}</h5> <!-- Titre du job -->
                                    <a href="{{ path('app_dashboard_candidat_annonce_show', {'jobId': application.annonce.jobId}) }}" class="btn btn-link">Voir l'offre</a>
                                    
                                  </td>
                                  <td>
                                  <small class="">{{ application.annonce.description|length > 150 ? application.annonce.description|slice(0, 147)|raw ~ '...' : application.annonce.description|raw }}</small> <!-- Type de contrat -->
                                  </td>
                          
                                  <!-- Colonne de droite (Informations du Candidat) -->
                                  <td>
                                    <ul class="list-unstyled">
                                      <li><i class="bi bi-geo-alt"></i> {{ application.annonce.lieu }}</li> <!-- Nom du candidat -->
                                      <li><i class="bi bi-calendar-event"></i> {{ application.dateCandidature|date('d/m/Y') }}</li> <!-- Date de candidature -->
                                      <li><i class="bi bi-cash-stack"></i> {{ application.pretentionSalariale }}</li> <!-- Prétention salariale -->
                                    </ul>
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          
                            {% else %}
                            <div class="text-center col-6 mx-auto">
                                <i class=" h1 mx-auto my-5 bi bi-archive"></i>
                                <p class="text-center">Vous n’avez aucune candidature en cours.</p>
                            </div>
                            {% endif %}
                            <a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
                        </div>
                    </div>
                </div>
        
                <div class="tab-pane fade" id="accepted">
                    {% if accepteds|length > 0 %}
                        {% for application in accepteds %}


                        {% endfor %}
                    {% else %}
                    <div class="text-center col-6 mx-auto">
                        <i class=" h1 mx-auto my-5 bi bi-archive"></i>
                        <p class="my-5">Vous n’avez aucune candidature acceptées.</p>
                    </div>
                    {% endif %}
                <a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
                </div>
        
                <div class="tab-pane fade" id="refused">
                    {% if refuseds|length > 0 %}
                        {% for application in refuseds %}


                        {% endfor %}
                    {% else %}
                    <div class="text-center col-6 mx-auto">
                        <i class=" h1 mx-auto my-5 bi bi-archive"></i>
                        <p class="my-5">Vous n’avez aucune candidature refusées.</p>
                    </div>
                    {% endif %}
                <a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
                </div>
        
                <div class="tab-pane fade" id="archived">
                    {% if archiveds|length > 0 %}
                        {% for application in archiveds %}


                        {% endfor %}
                    {% else %}
                    <div class="text-center col-6 mx-auto">
                        <i class=" h1 mx-auto my-5 bi bi-archive"></i>
                        <p class="my-5">Vous n’avez aucune candidature archivées.</p>
                    </div>
                    {% endif %}
                    <a href="javascript:history.back()" class="btn btn-success rounded-pill my-3 px-5"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
                </div>
            </div>
    </div>
</div>

{% endblock %}
