{% extends 'dashboard/base_new.html.twig' %}

{% block body %}
<style>
    .annonce-list {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Espace entre les annonces */
    }

    .annonce-item {
        background: white;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px; /* Espace en dessous de chaque annonce */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour chaque annonce */
    }
</style>


<div class="mt-3">
    <div class="row text-dark">
        <h2 class="text-black text-center mt-3 fs-3">
            <i class="bi bi-search"></i>
            {{ 'app_dashboard_candidat.get_started'|trans }} 
        </h2>
        {{ form_start(form, {'attr': {'class': 'form-group mb-5 px-5 mx-auto', 'id':'candidat-annonce-search-form'}}) }}
        <div class="row">
            <div class="input-group">
                    <div class="col-lg-3 col-sm-12 mt-2 mx-auto">
                        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-lg-3 col-sm-12 mt-2 mx-auto">
                        {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-lg-3 col-sm-12 mt-2 mx-auto">
                        {{ form_widget(form.competences, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-lg-3 col-sm-12 mt-2 mx-auto">
                        {{ form_widget(form.typeContrat, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
        </div>
        {{ form_end(form) }}
        
        <hr>
        <div id="annonces-container">
            {% include 'dashboard/candidat/annonces/_annonces.html.twig' %}
        </div>
    </div>
        <a href="javascript:history.back()" class="btn btn-success rounded-pill my-3 px-5"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function searchAnnonces() {
        var formData = $('#candidat-annonce-search-form').serialize();

        $.ajax({
            url: '{{ path('app_dashboard_candidat_annonce') }}',
            type: 'GET',
            data: formData,
            success: function(data) {
                $('#annonces-container').html(data.content);
            }
        });
    }
    $('#candidat-annonce-search-form input, #candidat-annonce-search-form select').on('keyup change', function() {
        searchAnnonces();
    });
});
</script>

{% endblock %}
{% block inner_footer %}{% include "dashboard/_inner_footer.html.twig" %}{% endblock %}