{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-3 px-auto">
    <section class="text-dark"><div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ annonce.titre }}</h3>
            <h5 class="text-muted">{{ annonce.typeContrat }}</h5>
            <p><i class="bi bi-geo-alt-fill"></i> {{ annonce.lieu }}</p>
            <p><i class="bi bi-calendar"></i> Date d'expiration : {{ annonce.dateExpiration|date('d/m/Y') }}</p>
            <hr>

            <div class="card-text">
                <h5>Description</h5>
                <p>{{ annonce.description|raw }}</p>
            </div>

            <div class="mb-3">
                <h5>Compétences requises</h5>
                {% if annonce.competences|length > 0 %}
                    {% for skill in annonce.competences %}
                        <span class="badge bg-secondary">{{ skill.nom }}</span>
                    {% endfor %}
                {% else %}
                    <p>Aucune compétence spécifique requise.</p>
                {% endif %}
            </div>

            <div class="mb-3">
                <h5>Nombre de vues</h5>
                <p><i class="bi bi-eye"></i> {{ annonce.annonceVues|length }}</p>
            </div>

        </div>
    </div>
</div>


    </section>
<a href="javascript:history.back()" class="btn btn-success rounded-pill my-3 px-5"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
</div>
{% endblock %}
