{% extends 'dashboard/base_new.html.twig' %}

{% block body %}

<div class="container mt-3">
    <div class="row text-dark">
        <h2 class="text-black text-center mt-3 fs-3">
            <i class="bi bi-search"></i>
            {{ 'app_dashboard_candidat.get_started'|trans }} 
        </h2>
        {{ form_start(form, {'attr': {'class': 'form-group mb-5 px-5'}}) }}
        <div class="input-group">
            {{ form_widget(form.query, {'attr': {'class': 'form-control'}}) }}
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
        
        <p class="h4 mt-3">
            <i class="h4 bi mx-2 bi-stars"></i> 
            {{ 'app_dashboard_candidat.catalog_posting'|trans }} 
        </p>

        <!-- Start of filter section -->
        <div class="filter-section mt-3 mb-3">
            <form id="customFilterForm">
                {# <input type="text" placeholder="Titre" name="title"> #}
                <select name="type">
                    <option value="">Type de mission</option>
                    <option value="">Type de mission</option>
                    <option value="">Type de mission</option>
                    <option value="">Type de mission</option>
                    <!-- Les options ici -->
                </select>
                <select name="activity_sector">
                    <option value="">Secteur d'activité</option>
                    <!-- Les options ici -->
                </select>
                {# <input type="text" placeholder="Description de la mission" name="mission_description">
                <input type="number" placeholder="Tarif pour la mission" name="mission_rate">
                <input type="text" placeholder="Numéro associé à la mission" name="mission_number"> #}
                <input type="date" placeholder="Date prévue pour la mission" name="mission_date">
                <button type="submit" class="btn btn-primary">Filtrer</button>
                <button type="button" class="btn btn-light" id="resetFilters">Réinitialiser</button>
            </form>
        </div>
        
        <!-- End of filter section -->

        <hr>

        {% for posting in postings %}
            {{ component('table_posting_component', {id: posting.id}) }}
        {% endfor %}
    </div>
</div>
    <a href="javascript:history.back()" class="btn btn-success rounded-pill my-3 px-5"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('.remove-badge').on('click', function(e) {
            e.preventDefault();
            let wordToRemove = $(this).data('word');
    
            $(this).parent().remove();
    
            let currentSearchValue = $('#posting_search_query').val();
            let newSearchValue = currentSearchValue.replace(wordToRemove, '').trim();
            $('#posting_search_query').val(newSearchValue);
            $(this).closest('.badge').remove();
        });

        $('#resetFilters').on('click', function() {
            $('#customFilterForm').trigger("reset");
        });
    });

    $(document).ready(function() {
    // Filtre par type de mission
    $('.mission-filter').on('click', function() {
        const missionType = $(this).data('mission-type');
        // Appliquer le filtre ici
    });

    // Filtre par secteur d'activité
    $('.activity-filter').on('click', function() {
        const activitySector = $(this).data('activity');
        // Appliquer le filtre ici
    });
    
    // Bouton Réinitialiser
    $('.reset-filter').on('click', function() {
        // Réinitialisez tous les filtres ici
    });
});

</script>

{% endblock %}
{% block inner_footer %}{% include "dashboard/_inner_footer.html.twig" %}{% endblock %}