{% extends 'dashboard/base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
<style>
    .skills-container .badge {
        margin-right: 5px;
        margin-bottom: 5px;
    }
</style>
<div class="container mt-3 px-auto">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="h2">Détail de l'annonce pour le poste : <br><span class="text-secondary">{{ annonce.titre|upper}}</span></h1>
            </div>
        </div>
    <section class="text-dark">
    <div class="container mt-4">

        {% if applied %}{{ form_start(form) }}{% endif %}
        <div class="card shadow">
            <div class="card-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8 col-sm-12">
                            <h4 class="text-muted">{{ annonce.typeContrat }}</h4>
                            <p><i class="bi bi-geo-alt-fill"></i> {{ annonce.lieu }}</p>
                            <p><i class="bi bi-calendar"></i> Publiée le : {{ annonce.dateCreation|date('d/m/Y') }}</p>
                            <p><i class="bi bi-calendar"></i> Expire le : {{ annonce.dateExpiration|date('d/m/Y') }}</p>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            {% if applied %}
                                <button type="submit" name="submitBtn" value="quick_apply" class="btn btn-md btn-primary rounded-pill px-5">Postuler rapidement</button>
                            {% endif %}
                        </div>
                    </div>
                <hr>

                <div class="card-text">
                    <h5>Description</h5>
                    <p>{{ annonce.description|raw }}</p>
                </div>

                <div class="mb-3">
                    <h5>Compétences requises</h5>
                    {% if annonce.competences|length > 0 %}
                        <div class="skills-container">  
                            {% for skill in annonce.competences %}
                                <span class="badge bg-secondary">{{ skill.nom }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Aucune compétence spécifique requise.</p>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <h5>Nombre de vues</h5>
                    <p><i class="bi bi-eye"></i> {{ annonce.annonceVues|length }}</p>
                </div>

            </div>
        </div>

            {% if applied %}
            <h2 class="text-center fs-1">Personnaliser ma candidature</h2>
            <div class="row align-items-md-stretch mt-5">
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Lettre de motivation</h2>
                        {{ form_widget(form) }}
                        <hr>
                            <div class="row">
                                <div class="col-3">
                                    CV 
                                </div>
                                <div class="col-9">
                                    {% if candidat.cv is not null %}
                                    <a href="{{ asset('uploads/cv/' ~ candidat.cv) }}" target=_blank class="badge badge-sm bg-dark rounded-pill"><i class="bi bi-paperclip"></i> {{ safeFileName(candidat.cv) }}.pdf</a>
                                    {% else %}
                                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                                        <i class="bi bi-info">
                                        <div>
                                            Vous n'avez pas encore uploader un CV
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" name="submitBtn" value="custom_apply" class="btn btn-md btn-primary rounded-pill px-5">Postuler</button>
                            <button class="btn btn-outline-primary px-3 rounded-pill"><i class="bi bi-pin-angle"></i> Epingler l'annonce</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Mes candidatures</h2>
                    <p>Retrouvez à tout moment vos candidatures en cours, le suivi de leur statut, ainsi que l’historique des offres auxquelles vous avez postulées. Les candidatures archivées regroupent vos candidatures sur des offres expirées.</p>
                    <a href="{{ path('app_dashboard_candidat_annonces')}}" class="btn btn-outline-light  rounded-pill px-5" type="button">Mes candidatures</a>
                    <h2 class="mt-5">Mes documents</h2>
                    <p>Le CV transmis lors d’une candidature est celui défini comme partagé.</p>
                    <button class="btn btn-outline-light rounded-pill px-5" type="button" data-bs-toggle="modal" data-bs-target="#candidatDocuments">Uploader un nouveau CV</button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row align-items-md-stretch mt-5">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Vous avez déjà postulé à cette offre</h2>
                    <p>Retrouvez à tout moment vos candidatures en cours, le suivi de leur statut, ainsi que l’historique des offres auxquelles vous avez postulées. Les candidatures archivées regroupent vos candidatures sur des offres expirées.</p>
                    <a href="{{ path('app_dashboard_candidat_annonces')}}" class="btn btn-outline-light rounded-pill px-5" type="button">Mes candidatures</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Mettez à jour votre Disponibilité </h2>
                    <p>Prenez un moment dès maintenant pour actualiser votre profil et assurez-vous que vos informations de disponibilité sont à jour. Cela maximisera vos chances de correspondre parfaitement à de nouvelles opportunités passionnantes.</p>
                    <button class="btn btn-outline-secondary rounded-pill px-5" type="button" data-bs-toggle="modal" data-bs-target="#candidatAvaillability">Disponibilité</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on('click', '.select-cv-btn', function() {
        var cvId = $(this).data('cv-id');
        var cvLink = $(this).data('cv-link');

        $.ajax({
            url: '{{ path("app_profile_candidate_select_CV", {"id": 0}) }}'.replace('/0/', '/' + cvId + '/'),
            type: 'GET',
            success: function(response) {
                // Mettez à jour le champ de formulaire, affichez un message, etc.
                $('#cv-link-field').val(cvLink);
                console.log(response);
                // Fermer le modal si nécessaire
                $('#candidatDocuments').trigger('hide.bs.modal');
                // Actualiser la page
                location.reload();
            },
            error: function() {
                console.error('Une erreur est survenue lors de la sélection du CV.');
            }
        });
    });
</script>
{% endblock %}

{% block modal %}
    {{ parent() }}
    <!-- Modal -->
    <div class="modal fade" id="candidatDocuments" tabindex="-1" aria-labelledby="candidatDocumentsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="candidatDocumentsLabel">Mes Documents</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                Le CV transmis lors d’une candidature est celui défini comme partagé.
                    {% if candidat.cvs|length > 0 %}
                        <div class="row">
                            {% for cv in app.user.candidateProfile.cvs %}
                            <div class="col-md-6 my-2">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Icône agrandie -->
                                        <i class="bi bi-file-earmark-person" style="font-size: 3rem;"></i>
                                        <p class="card-title small">{{ cv.safeFileName }}</p>
                                        <!-- Lien pour visualiser le CV dans un nouvel onglet -->
                                        <a href="{{ asset('uploads/cv/' ~ cv.cvLink) }}" class="btn btn-sm rounded-pill btn-primary" title="Ouvrir" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                                        <a href="javascript:void(0);" data-cv-link="{{ cv.cvLink }}" data-cv-id="{{ cv.id }}" class="select-cv-btn btn btn-sm rounded-pill btn-danger" title="Sélectionner"><i class="bi bi-check2-square"></i></a>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Aucun document disponible.</p>
                    {% endif %}
                    {{ form_start(formUpload) }}
                    {{ form_widget(formUpload) }}
                    <button class="btn btn-outline-dark rounded-pill px-5" type="submit">Uploader un nouveau CV</button>
                    {{ form_end(formUpload) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning rounded-pill px-5" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}