{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="annonce-list p-2">
            <div class="annonce-item shadow p-5 m-4">
                <h1 class="card-title h2">{{ annonce.titre }}</h1>
                <p class="text-muted small">
                    <i class="bi bi-circle-fill small mx-2 text-danger"></i> {{ annonce.status }} 
                        <span class="small text-center mx-3">|</span>
                    {{ annonce.typeContrat }} 
                        <span class="small text-center mx-3">|</span>
                    <i class="bi bi-geo-alt-fill"></i> {{ annonce.lieu }} 
                        <span class="small text-center mx-3">|</span>
                    <i class="bi bi-hourglass-split"></i> Expire le {{ annonce.dateExpiration|date('d/m/Y') }}
                        <span class="small text-center mx-3">|</span>
                    <i class="bi bi-eye"></i> {{ annonce.annonceVues|length }} vues
                </p>
                {% if applied %}
                    <button type="submit" name="submitBtn" value="quick_apply" class="btn btn-md btn-outline-primary rounded-pill px-5">Postuler rapidement</button>
                {% endif %}

                {% if app.user.referrerProfile is not null %}
                <a href="{{ path('app_dashboard_referrer_cooptation', {'jobId':annonce.jobId}) }}" class="btn btn-primary rounded-pill mx-3 px-5">Recommander un ami</a>
                {% else %}
                <button type="button" class="btn btn-primary rounded-pill mx-3 px-5" data-bs-toggle="modal" data-bs-target="#cooption">Recommander un ami</button>
                {% endif %}

                <hr>

                <div class="card-text pb-3">
                    <div>{{ annonce.description|raw }}</div>
                </div>

                <div class="mt-3">
                    <p class="">
                    <i class="bi bi-gear mx-3"></i>
                    Compétences requises : 
                    {% if annonce.competences|length > 0 %}
                        {% for skill in annonce.competences %}
                            <span class="text-strong">{{ skill.nom }}</span>
                        {% endfor %}
                    {% else %}
                        <p>Aucune compétence spécifique requise.</p>
                    {% endif %}
                    </p>
                </div>

                <div class="mb-3">
                    <p class="">
                        <i class="bi bi-calendar mx-3"></i>
                        Publication : 
                        <span class="text-strong">{{ annonce.dateCreation|time_ago }}</span>
                    </p>
                </div>

                <div class="mb-3">
                    <p class="">
                        <i class="bi bi-cash-stack mx-3"></i>
                        Budget indicatif : 
                        <span class="text-strong">{{ annonce.salaire }} €</span>
                    </p>
                </div>


            {% if applied %}{{ form_start(form) }}{% endif %}
            {% if applied %}
            <h2 class="text-center fs-1">Personnaliser ma candidature</h2>
            <div class="row align-items-md-stretch mt-5">
                <div class="mb-3">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Lettre de motivation</h2>
                        {{ form_widget(form) }}
                        <hr>
                            <div class="row">
                                <div class="col-3">
                                    CV 
                                </div>
                                <div class="col-9">
                                    {% if candidat.cv is not null %}
                                    <a href="{{ asset('uploads/cv/' ~ candidat.cv) }}" target=_blank class="badge badge-sm bg-dark rounded-pill"><i class="bi bi-paperclip"></i> {{ safeFileName(candidat.cv) }}.pdf</a>
                                    {% else %}
                                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                                        <i class="bi bi-info">
                                        <div>
                                            Vous n'avez pas encore uploader un CV
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" name="submitBtn" value="custom_apply" class="btn btn-md btn-primary rounded-pill px-5">Postuler</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Mes candidatures</h2>
                    <p>Retrouvez à tout moment vos candidatures en cours, le suivi de leur statut, ainsi que l’historique des offres auxquelles vous avez postulées. Les candidatures archivées regroupent vos candidatures sur des offres expirées.</p>
                    <a href="{{ path('app_dashboard_candidat_annonces')}}" class="btn btn-outline-light  rounded-pill px-5" type="button">Mes candidatures</a>
                    <h2 class="mt-5">Mes documents</h2>
                    <p>Le CV transmis lors d’une candidature est celui défini comme partagé.</p>
                    <button class="btn btn-outline-light rounded-pill px-5" type="button" data-bs-toggle="modal" data-bs-target="#candidatDocuments">Uploader un nouveau CV</button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row align-items-md-stretch mt-5">
                <div class="mb-3">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Vous avez déjà postulé à cette offre</h2>
                    <p>Retrouvez à tout moment vos candidatures en cours, le suivi de leur statut, ainsi que l’historique des offres auxquelles vous avez postulées. Les candidatures archivées regroupent vos candidatures sur des offres expirées.</p>
                    <a href="{{ path('app_dashboard_candidat_annonces')}}" class="btn btn-outline-light rounded-pill px-5" type="button">Mes candidatures</a>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Mettez à jour votre Disponibilité </h2>
                    <p>Prenez un moment dès maintenant pour actualiser votre profil et assurez-vous que vos informations de disponibilité sont à jour. Cela maximisera vos chances de correspondre parfaitement à de nouvelles opportunités passionnantes.</p>
                    <button class="btn btn-outline-secondary rounded-pill px-5" type="button" data-bs-toggle="modal" data-bs-target="#candidatAvaillability">Disponibilité</button>
                    </div>
                </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).on('click', '.select-cv-btn', function() {
    var cvId = $(this).data('cv-id');
    var cvLink = $(this).data('cv-link');

    // Étape 1: Vérifiez si l'opération a déjà été effectuée
    if (!localStorage.getItem('cvSelected')) {
        $.ajax({
            url: '{{ path("app_profile_candidate_select_CV", {"id": 0}) }}'.replace('/0/', '/' + cvId + '/'),
            type: 'GET',
            success: function(response) {
                // Mettez à jour le champ de formulaire, affichez un message, etc.
                $('#cv-link-field').val(cvLink);
                console.log(response);
                // Fermer le modal si nécessaire
                $('#candidatDocuments').trigger('hide.bs.modal');

                // Étape 2: Définir une valeur dans le stockage local
                localStorage.setItem('cvSelected', 'true');

                // Actualiser la page
                location.reload();
            },
            error: function() {
                console.error('Une erreur est survenue lors de la sélection du CV.');
            }
        });
    } else {
        // Étape 3: Réinitialiser la valeur stockée pour une nouvelle opération
        localStorage.removeItem('cvSelected');
        alert('Le CV a déjà été sélectionné. Effectuer une nouvelle opération si nécessaire.');
    }
});

</script>
{% endblock %}

{% block modal %}
    {{ parent() }}
    <!-- Modal -->
    <div class="modal fade" id="candidatDocuments" tabindex="-1" aria-labelledby="candidatDocumentsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="candidatDocumentsLabel">Mes Documents</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                Le CV transmis lors d’une candidature est celui défini comme partagé.
                    {% if candidat.cvs|length > 0 %}
                        <div class="row">
                            {% for cv in app.user.candidateProfile.cvs %}
                            <div class="col-md-6 my-2">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Icône agrandie -->
                                        <i class="bi bi-file-earmark-person" style="font-size: 3rem;"></i>
                                        <p class="card-title small">{{ cv.safeFileName }}</p>
                                        <!-- Lien pour visualiser le CV dans un nouvel onglet -->
                                        <a href="{{ asset('uploads/cv/' ~ cv.cvLink) }}" class="btn btn-sm rounded-pill btn-primary" title="Ouvrir" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                                        <a href="javascript:void(0);" data-cv-link="{{ cv.cvLink }}" data-cv-id="{{ cv.id }}" class="select-cv-btn btn btn-sm rounded-pill btn-danger" title="Sélectionner"><i class="bi bi-check2-square"></i></a>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Aucun document disponible.</p>
                    {% endif %}
                    {{ form_start(formUpload) }}
                    {{ form_widget(formUpload) }}
                    <button class="btn btn-outline-dark rounded-pill px-5" type="submit">Uploader un nouveau CV</button>
                    {{ form_end(formUpload) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning rounded-pill px-5" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="cooption" tabindex="-1" aria-labelledby="cooptionLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="cooptionLabel">Recommander un ami</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                <p class="">
                Nous sommes ravis de vous offrir la possibilité de participer à notre programme de recommandation. En nous recommandant à un ami qui est à la recherche d'opportunités, non seulement vous nous aidez à grandir, mais vous bénéficiez également d'une récompense lorsque votre ami signe un contrat avec nous. Voici comment ça fonctionne :
                </p>
                <p class="">
                Recommandez un Ami : Partagez le lien de recommandation que vous trouverez dans votre espace utilisateur avec vos amis.
                </p>
                <p class="">
                Complétez vos Infos de Paiement : Assurez-vous de remplir les informations de paiement nécessaires dans votre profil pour que nous puissions vous envoyer votre récompense sans accroc.
                </p>
                <p class="">
                Récoltez les Fruits : Une fois que votre ami recommandé signe un contrat avec nous, vous recevrez votre récompense directement sur le moyen de paiement que vous avez indiqué.
                </p>
                <p class="">
                Pourquoi participer ?
                </p>
                <p class="">
                Soutenez vos Amis : Aidez vos amis à trouver une opportunité qui peut changer leur vie.
                </p>
                <p class="">
                Contribuez à Notre Croissance : Aidez-nous à trouver les meilleurs talents grâce à votre réseau.
                </p>
                <p class="">
                Recevez une Récompense : Gagnez une récompense financière en signe de notre gratitude.
                </p>
                <p class="">
                Nous apprécions votre engagement envers notre communauté et sommes impatients de récompenser votre soutien. Pour plus de détails sur le programme de recommandation ou pour toute question, n'hésitez pas à nous contacter.
                </p>
                <p class="">
                Merci de faire partie de notre succès ! Cliquez ci-dessous pour commencer.
                </p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('app_dashboard_referrer_become')}}" class="btn btn-warning rounded-pill px-5">Remplir mes info Coopteur</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}