{% extends 'dashboard/base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
<style>
    .skills-container .badge {
        margin-right: 5px;
        margin-bottom: 5px;
    }
</style>
<div class="container mt-3 px-auto">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1>Détail de l'annonce pour le poste : {{ annonce.titre|upper}}</h1>
            </div>
        </div>
    <section class="text-dark">
    <div class="container mt-4">
    <div class="card shadow">
        <div class="card-body">
            <h4 class="text-muted">{{ annonce.typeContrat }}</h4>
            <p><i class="bi bi-geo-alt-fill"></i> {{ annonce.lieu }}</p>
            <p><i class="bi bi-calendar"></i> Publiée le : {{ annonce.dateCreation|date('d/m/Y') }}</p>
            <p><i class="bi bi-calendar"></i> Expire le : {{ annonce.dateExpiration|date('d/m/Y') }}</p>
            <hr>

            <div class="card-text">
                <h5>Description</h5>
                <p>{{ annonce.description }}</p>
            </div>

            <div class="mb-3">
                <h5>Compétences requises</h5>
                {% if annonce.competences|length > 0 %}
                    <div class="skills-container">  
                        {% for skill in annonce.competences %}
                            <span class="badge bg-secondary">{{ skill.nom }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Aucune compétence spécifique requise.</p>
                {% endif %}
            </div>

            <div class="mb-3">
                <h5>Nombre de vues</h5>
                <p><i class="bi bi-eye"></i> {{ annonce.annonceVues|length }}</p>
            </div>

        </div>
    </div>

            {% if applied %}
            <div class="row align-items-md-stretch mt-5">
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Postuler à cette offre</h2>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-primary">Postuler</button>
                            <button class="btn btn-outline-primary"><i class="bi bi-pin-angle"></i> Epingler l'annonce</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                        <h2>Mes candidatures</h2>
                        <p>Retrouvez à tout moment vos candidatures en cours, le suivi de leur statut, ainsi que l’historique des offres auxquelles vous avez postulées. Les candidatures archivées regroupent vos candidatures sur des offres expirées.</p>
                        <a href="{{ path('app_dashboard_candidat_annonces')}}" class="btn btn-outline-light" type="button">Mes candidatures</a>

                        <div style="margin-top: 20px;"></div> <!-- Espace d'aération -->

                        <h2>Mes documents</h2>
                        <p>Retrouvez à tout moment vos documents importants, tels que votre CV, lettre de motivation, certificats, etc. Vous pouvez également ajouter de nouveaux documents si nécessaire.</p>
                        <button class="btn btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#candidatDocuments">Uploader un nouveau document</button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row align-items-md-stretch mt-5">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Vous avez déjà postulé à cette offre</h2>
                    <p>Retrouvez à tout moment vos candidatures en cours, le suivi de leur statut, ainsi que l’historique des offres auxquelles vous avez postulées. Les candidatures archivées regroupent vos candidatures sur des offres expirées.</p>
                    <a href="{{ path('app_dashboard_candidat_annonces')}}" class="btn btn-outline-light" type="button">Mes candidatures</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Add borders</h2>
                    <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                    <button class="btn btn-outline-secondary" type="button">Example button</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on('click', '.select-cv-btn', function() {
        var cvId = $(this).data('cv-id');
        var cvLink = $(this).data('cv-link');

        $.ajax({
            url: '{{ path("app_profile_candidate_select_CV", {"id": 0}) }}'.replace('/0/', '/' + cvId + '/'),
            type: 'GET',
            success: function(response) {
                // Mettez à jour le champ de formulaire, affichez un message, etc.
                $('#cv-link-field').val(cvLink);
                console.log(response);
                // Fermer le modal si nécessaire
                $('#candidatDocuments').trigger('hide.bs.modal');
            },
            error: function() {
                console.error('Une erreur est survenue lors de la sélection du CV.');
            }
        });
    });
</script>
{% endblock %}

{% block modal %}
    
    <!-- Modal -->
    <div class="modal fade" id="candidatDocuments" tabindex="-1" aria-labelledby="candidatDocumentsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="candidatDocumentsLabel">Mes Documents</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                Le CV transmis lors d’une candidature est celui défini comme partagé.
                    {% if app.user.candidateProfile %}
                        <div class="row">
                            {% for cv in app.user.candidateProfile.cvs %}
                            <div class="col-md-6 my-2">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Icône agrandie -->
                                        <i class="bi bi-file-earmark-person" style="font-size: 3rem;"></i>
                                        <p class="card-title small">{{ cv.safeFileName }}</p>
                                        <!-- Lien pour visualiser le CV dans un nouvel onglet -->
                                        <a href="{{ asset('uploads/cv/' ~ cv.cvLink) }}" class="btn btn-sm rounded-pill btn-primary" title="Ouvrir" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                                        <a href="javascript:void(0);" data-cv-link="{{ cv.cvLink }}" data-cv-id="{{ cv.id }}" class="select-cv-btn btn btn-sm rounded-pill btn-danger" title="Sélectionner"><i class="bi bi-check2-square"></i></a>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Aucun document disponible.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}