
			<div class="tab-pane fade" id="candidatures">
				<div class="card">
					<div class="card-body">
						{% if candidat.applications|length > 0 %}
                        <div class="container-fluid">
                            <!-- En-têtes -->
                            <div class="row">
                                <div class="col-3 font-weight-bold">Annonce</div>
                                <div class="col-8 font-weight-bold text-center">Lettre de motivation</div>
                                <div class="col-1 font-weight-bold"></div>
                            </div>
							{% for application in candidat.applications %}
								<div class="row border-top py-2 applications" data-application-id="{{ application.id }}">
									<div class="col-3">
										{{ application.annonce.titre }}<br>
										<span class="small">Status <span class="text-muted">{{ application.status }}</span><br>
											Le {{ application.dateCandidature|date('d M Y')}}
										</span>
									</div>
									<div class="col-8">
										{{ application.lettreMotivation|raw }}
									</div>
									<div class="col-1">
									<span class="">
										<button class="btn btn-primary btn-sm edit-application" data-application-id="{{ application.id }}"><i class="bi bi-pencil-square"></i></button>
										<button class="btn btn-danger btn-sm delete-application" data-application-id="{{ application.id }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette candidature ?');"><i class="bi bi-trash"></i></button>
									</span>
									</div>
								</div>
							{% endfor %}
						</div>
						{% else %}
						<div class="row">
							<div class="col-md-9 mx-auto">
								<div class="container my-5">
									<div class="p-5 text-center bg-body-tertiary rounded-3">
									<h1 class="text-body-emphasis">Aucune candidature</h1>
									<p class="">
										<i class="bi bi-info-circle"></i> Le candidat n'a encore effectué aucune candidature.
									</p>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>