
			<div class="tab-pane fade" id="candidatures">
				<div class="card">
					<div class="card-body">
						{% if candidat.applications|length > 0 %}
							<table class="table" id="candidaturesTable">
								<thead>
									<tr>
										<th class="col-3">Annonce</th>
										<th class="col-8">Lettre de motivation</th>
										<th class="col-1"></th>
									</tr>
								</thead>
								<tbody>
									{% for application in candidat.applications %}
										<tr>
											<td>
												{{ application.annonce.titre }}<br>
												<span class="small">Status <span class="text-muted">{{ application.status }}</span><br>
													Le {{ application.dateCandidature|date('d M Y')}}
												</span>
											</td>
											<td>{{ application.lettreMotivation|raw }}</td>
											<td>
											<span class="">
												<button class="btn btn-primary btn-sm edit-application" data-application-id="{{ application.id }}"><i class="bi bi-pencil-square"></i></button>
												<button class="btn btn-danger btn-sm delete-application" data-application-id="{{ application.id }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette candidature ?');"><i class="bi bi-trash"></i></button>
											</span>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
						<div class="row">
							<div class="col-md-9 mx-auto">
								<div class="container my-5">
									<div class="p-5 text-center bg-body-tertiary rounded-3">
									<h1 class="text-body-emphasis">Aucune candidature</h1>
									<p class="">
										<i class="bi bi-info-circle"></i> Le candidat n'a encore effectué aucune candidature.
									</p>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>