
			<div class="tab-pane fade" id="email">
				<div class="card">
					<div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="alert alert-info small" role="alert">
                                    <i class="bi bi-info-circle"></i> L'intégralité de ce contenu sera envoyée à l'utilisateur. N'oubliez pas d'ajouter 'Bonjour' suivi du nom de l'utilisateur. La mise en forme que vous appliquez ici sera conservée à l'envoi.
                                </div>
                                <h3 class="">Relance</h3>
                                {% if notifications|length > 0 %}
                                <div class="list-group d-grid gap-2 border-0">

                                    {% for item in notifications %}
                                    <label class="list-group-item rounded-2 py-2" data-bs-toggle="modal" data-bs-target="#exampleModal{{ loop.index }}" for="listGroupCheckableRadios2">
                                        {{ item.dateMessage|date('d/m/Y à h:m')}}
                                        <span class="d-block small opacity-50">{{ item.titre }}</span>
                                    </label>

                                    <!-- Modal pour chaque item -->
                                    <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ loop.index }}" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content modal-lg">
                                                <div class="modal-header">
                                                    <h3 class="modal-title fs-5" id="exampleModalLabel{{ loop.index }}">{{ item.titre }}</h3>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ item.contenu|raw }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}


                                </div>
                                {% else %}
                                <div class="alert alert-danger small" role="alert">
                                    <i class="bi bi-info-circle"></i> Aucune relance effectuée.
                                </div>
                                {% endif %}
                            </div> 
                            <div class="col-md-9">
                                {{ form_start(form)}}
                                {{ form_widget(form)}}
                                {{ form_errors(form)}}
                                <div class="input-group-append my-4">
                                    <button type="submit" class="btn btn-outline-primary rounded-pill px-5">Envoyer</button>
                                </div>
                                {{ form_end(form)}}
                            </div> 
                        </div> 
					</div>
				</div>
			</div>