
               
    <p class="mx-2 small mt-4">
     <strong>{{ result|length }}</strong> résultats.
    </p>
    <div class="navigation">
    {{ knp_pagination_render(annonces, 'parts/_pagination.html.twig') }}
    </div> 
            
    <div class="container">
    {% for annonce in annonces %}
    <div class="row mb-3 p-3 border rounded shadow">
        <div class="col-12 col-md-6 col-lg-5">
            <strong>Titre:</strong> {{ annonce.titre }}<br>
            <strong>Commence le:</strong> {{ annonce.dateExpiration|date('d/m/Y') }}
        </div>
        <div class="col-12 col-md-6 col-lg">
            <strong>Contrat:</strong> {{ annonce.typeContrat }}<br>
            <strong>Status:</strong>
            <span class="annonce {{ 'status-' ~ annonce.status|lower }}">
                <span class="status-label">{{ (annonce.status|status_label) }}</span>
                <!-- Autres détails de l'annonce -->
            </span><br>
            <strong>Salaire:</strong> 
            {% if annonce.budgetAnnonce is defined and annonce.budgetAnnonce is not null %}
            {{ annonce.budgetAnnonce.montant }} {{ annonce.budgetAnnonce.devise }} ({{ arrayInverseTarifType()[annonce.budgetAnnonce.typeBudget] }})
            {% else %}
            {{ annonce.salaire }} €
            {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg">
            <strong>Candidatures:</strong> {{ annonce.applications|length }} <br>
            <strong>Vues:</strong> {{ annonce.annonceVues|length }} fois
        </div>
        <div class="col-12 col-md-6 col-lg-2">
            <div class="d-block d-sm-none">
                <div class="row mt-3">
                    <div class="col">
                        <a class="btn btn-sm btn-info rounded-pill px-2" href="{{ path('app_dashboard_entreprise_view_annonce', {'id': annonce.id}) }}">
                            <i class="bi bi-eye"></i> 
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-sm btn-warning rounded-pill px-2" href="{{ path('app_dashboard_entreprise_edit_annonce', {'id': annonce.id}) }}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-block">
                <a class="btn btn-sm btn-info rounded-pill custom-tooltip" data-tooltip="Voir les détails de l'annonce" href="{{ path('app_dashboard_entreprise_view_annonce', {'id': annonce.id}) }}">
                    <i class="bi bi-eye"></i>
                </a>
                <a class="btn btn-sm btn-warning rounded-pill custom-tooltip" data-tooltip="Éditer l'annonce" href="{{ path('app_dashboard_entreprise_edit_annonce', {'id': annonce.id}) }}">
                    <i class="bi bi-pencil"></i>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            Aucun résultat à afficher
        </div>
    </div>
    {% endfor %}
</div>
