{% extends 'base_v21.html.twig' %}

{% block title %}
	Contact | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}

{% if app.user.type is defined and app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_CANDIDAT')) %}
	{% include "v2/dashboard/layout_candidat.html.twig" %}
{% else %}
	{% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endif %}

{% endblock %}

{% block body %}
	<section class="" id="content">
		<div class="shadow p-2 p-sm-4">

			<div id="flash"></div>
			{% if contact.type is same as(constant('App\\Entity\\User::ACCOUNT_CANDIDAT')) %}
				{% include "v2/dashboard/contacts/_details_candidate.html.twig" with {'candidat': contact.candidateProfile} %}
			{% elseif contact.type is same as(constant('App\\Entity\\User::ACCOUNT_ENTREPRISE')) %}
				{% include "v2/dashboard/contacts/_details_recruiter.html.twig" with {'recruiter': contact.entrepriseProfile} %}
			{% else %}
			<h1 class="fs-4 fw-bolder text-center my-3 my-sm-5">
				<i class="bi bi-journal-check me-to"></i>
				Mon réseau professionnel
			</h1>
        	<h2 class="fw-bold">{{ contact.nom }} {{ contact.nom }}</h2>
			<p class="text-center">
				{{ contact.email}}<br>
				{{ contact.telephone }}<br>
			</p>
        {% endif %}
		</div>
	</section>
{% endblock %}
