<p class="mx-2 mt-3 small">
 <strong>{{ result|length }}</strong> résultats disponibles.
</p>
<!-- Section pour les candidats recommandés -->
<div class="row mb-5">
    {# <h3 class="col-12 mb-3 h4">Optez pour les candidat(e)s certifié(e)s Olona-talents </h3> #}
    {% for candidat in candidats %}
        <div class="col-sm-12 col-lg-4 mb-4 mb-2 shadow">
            <div class="h-100">
                <div class="card-img-top bg-image-candidat" style="background-image: url('{{vich_uploader_asset(candidat, 'file')}}');" alt="{{ candidat.titre }}">
                    <div class="titre-overlay position-absolute w-100">
                        <h6 class="card-title m-0 p-2">{{ candidat.titre|upper }}</h6>
                    </div>
                </div>
                <div class="card-body">
                    {% set prenoms = candidat.candidat.prenom|split(' ') %}
                        <p class="card-text">
                            {{ generatePseudo(candidat)}}
                        </p>
                    <p class="card-text small">
                    {% set count = 0 %}

                    {% for skill in candidat.competences %}
                        {% if count < 3 %}
                            <span class="badge bg-info">{{ skill.nom }}</span>
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}

                    {% if candidat.competences|length > 4 %}
                        <span class="badge bg-dark rounded-pill">+{{ candidat.competences|length - 3 }}</span>
                    {% endif %}

                    <br>
                        Missions réalisées: <span class="badge bg-success">{{ candidat.applications|filter(app => app.status == 'ACCEPTED')|length }}</span>
                    <br>
                        Expériences: <span class="badge bg-secondary">{{ candidat.experiences|length }}</span>
                    <br>
                        Langues: 
                        {% for langue in candidat.langages %}
                            {{ isoToEmoji(langue.langue.code) }}
                        {% endfor %}
                    <br>
                        Disponibilité: 
                        <span class="text-dark">
                            {% if candidat.availability is not null %}
                                {{ checkAvailability(candidat.candidat)|raw}}
                            {% else %}
                                <i class="bi bi-exclamation-circle-fill"></i> Non renseigné
                            {% endif %} 
                        </span>
                    {% if candidat.tarifCandidat is defined and candidat.tarifCandidat is not null %}
                        <br>
                      <strong><i class="bi bi-tags"></i></strong>
                      <span class="text-muted">
                      {# {% if entreprise is defined and entreprise is not null %} #}
                      {{ getTarifByCompanyCurrency(candidat, entreprise) }}
                      {# {% endif %} #}
                      </span>
                    {% endif %}
                    <br>
                        {% for secteur in candidat.secteurs %}
                            <span class="badge bg-success">{{ secteur.nom }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="card-footer my-4 row">
                <div class="col-6">
                    <a href="{{ path('app_dashboard_entreprise_details_candidat', {'id': candidat.id}) }}" class="btn btn-info btn-sm rounded-pill px-4"><i class="bi bi-eye"></i> Détails</a>
                </div>
                <div class="col-6">
                    {% if isFavorite(favoris, candidat) %}
                    <button data-id="{{ candidat.id }}" class="btn remove-from-favorites btn-outline-success btn-sm rounded-pill px-4">
                    <i class="bi bi-star text-warning"></i> Effacer
                    </button>
                    {% else %}
                    <button data-id="{{ candidat.id }}" class="btn btn-outline-success btn-sm rounded-pill px-4 add-to-favorites">
                    <i class="bi bi-star-fill text-warning"></i> Ajouter
                    </button>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-12">
            <p></p>
            <p>Aucun candidat trouvé.</p>
        </div>
    {% endfor %}

    <div class="navigation">
    {{ knp_pagination_render(candidats, 'parts/_pagination.html.twig') }}
    </div> 

</div>

<hr>
