{% extends 'dashboard/base.html.twig' %}

{% block title %}Chercher un profil{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="mb-4">Chercher un profil</h1>
        <hr>

        <div class="row my-4">
            <div class="col-md-12">
                <p class="text-muted">
                    <i class="fa fa-search"></i> Utilisez ce tableau pour trouver des profils candidats correspondant à vos besoins. Cliquez sur "Voir profil" pour plus de détails ou pour entrer en contact avec le candidat.
                </p>
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-group', 'id':'entreprise-candidat-search-form'}}) }}
        <div class="row">
            <div class="input-group">
                    <div class="col">
                        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.competences, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.langues, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
        </div>
        {{ form_end(form) }}

        <div id="candidats-container">
            {% include 'dashboard/entreprise/candidat/_candidats.html.twig' %}
        </div>

        <a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function searchAnnonces() {
        var formData = $('#entreprise-candidat-search-form').serialize();

        $.ajax({
            url: '{{ path('app_dashboard_entreprise_recherche_candidats') }}',
            type: 'GET',
            data: formData,
            success: function(data) {
                $('#candidats-container').html(data.content);
            }
        });
    }
    $('#entreprise-candidat-search-form input, #entreprise-candidat-search-form select').on('keyup change', function() {
        searchAnnonces();
    });
});
</script>
{% endblock %}
