{% extends 'dashboard/base.html.twig' %}

{% block title %}Chercher un profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Chercher un profil</h1>
        <table class="table table-responsive" id="candidatsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Candidatures</th>
                    <th>Cand. en attente</th>
                    <th>Cand. acceptée</th>
                    <th>Cand. réfusée</th>
                    <th>Compétences</th>
                    <th>Expériences</th>
                    <th>Profil</th>
                </tr>
            </thead>
            <tbody>
                {% for candidat in candidats %}
                    <tr>
                        <td>{{ candidat.id }}</td>
                        <td>{{ candidat.candidat.nom }} {{ candidat.candidat.prenom }}</td>
                        <td><span class="badge bg-primary"><a href="{{ path('app_dashboard_moderateur_candidat_applications', {'id': candidat.id}) }}" class="text-decoration-none text-white">{{ candidat.applications|length }}</a></span></td>
                        <td><span class="badge bg-warning text-dark"><a href="{{ path('app_dashboard_moderateur_candidat_applications_en_attente', {'id': candidat.id}) }}" class="text-decoration-none">{{ candidat.applications|filter(app => app.status == 'PENDING')|length }}</a></span></td>
                        <td><span class="badge bg-success"><a href="{{ path('app_dashboard_moderateur_candidat_applications_acceptees', {'id': candidat.id}) }}" class="text-decoration-none text-white">{{ candidat.applications|filter(app => app.status == 'ACCEPTED')|length }}</a></span></td>
                        <td><span class="badge bg-danger"><a href="{{ path('app_dashboard_moderateur_candidat_applications_refusees', {'id': candidat.id}) }}" class="text-decoration-none text-white">{{ candidat.applications|filter(app => app.status == 'REFUSED')|length }}</a></span></td>
                        <td><span class="badge bg-info"><a href="{{ path('app_dashboard_moderateur_candidat_competences', {'id': candidat.id}) }}" class="text-decoration-none text-white">{{ candidat.competences|length }}</a></span></td>
                        <td><span class="badge bg-secondary"><a href="{{ path('app_dashboard_moderateur_candidat_experiences', {'id': candidat.id}) }}" class="text-decoration-none text-white">{{ candidat.experiences|length }}</a></span></td>
                        <td><a href="{{ path('app_dashboard_moderateur_candidat_view', {'id': candidat.id}) }}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i> Voir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row">
        </div>
    </div>
{% endblock %}