{% extends 'dashboard/base_new.html.twig' %}

{% block title %}Chercher un profil{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="mb-4">Chercher un profil</h1>
        <hr>

        <div class="row my-4">
            <div class="col-md-12">
                <p class="text-muted">
                    <i class="bi bi-search"></i> Utilisez ce tableau pour trouver des profils candidats correspondant à vos besoins. Cliquez sur "Voir profil" pour plus de détails ou pour entrer en contact avec le candidat.
                </p>
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-group', 'id':'entreprise-candidat-search-form'}}) }}
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-12 col-lg-4 text-center">
                                <button class="btn btn-primary px-5 rounded-pill mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-search"></i> Recherche</button>
                            </div>
                            <div class="col-12 col-lg-4 text-center">
                                <button class="btn btn-outline-dark px-5 rounded-pill mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightFavorite" aria-controls="offcanvasRightFavorite"><i class="bi bi-star-fill text-warning"></i> Mes favoris</button>
                            </div>
                        </div>
                        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasRightLabel">Entrer un ou plusieurs mots-clés</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                {{ form_widget(form.query) }}
                            </div>
                        </div>
                        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRightFavorite" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasRightLabel"><i class="bi bi-star-fill text-warning"></i> Mes favoris</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                {% if favoris|length > 0 %}
                                <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 350px;">
                                    <div class="list-group list-group-flush border-bottom scrollarea">
                                    {% for favori in favoris %}
                                    <a href="{{ path('app_dashboard_entreprise_details_candidat', {'id': favori.candidat.id}) }}" class="list-group-item list-group-item-action py-3 lh-sm favori-link" aria-current="true" data-favori-id="{{ favori.candidat.id }}">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                            <!-- Avatar container -->
                                            <div class="">
                                                <img src="{{ favori.candidat.fileName ? asset('uploads/experts/' ~ favori.candidat.fileName) : asset('uploads/experts/avatar-default.jpg') }}" alt="Avatar" class="rounded-circle" style="width: 40px; height: 40px; border-radius: 10px; object-fit: cover;">
                                            </div>
                                            <!-- Text content -->
                                            <div class="flex-grow-1 ms-3">
                                                <strong class="mb-1">{{ generatePseudo(favori.candidat) }} </strong>
                                                <div class="col-10 mb-1 small">{{ favori.candidat.titre|upper }}</div>
                                            </div>
                                            <!-- Date or any other information -->
                                            <span class="delete-favori" data-id="{{ favori.candidat.id }}"><i class="bi bi-trash"></i></span>
                                        </div>
                                    </a>

                                    {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                Aucun
                                {% endif %}
                            </div>
                        </div>
                        <div id="candidats-container">
                            {% include 'dashboard/entreprise/candidat/_candidats.html.twig' %}
                        </div>
                    </div>
                    
                </div>


        <a href="javascript:history.back()" class="btn btn-success rounded-pill my-3 px-5"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
    </div>


<!-- Modal -->
                    <div style="display:none">
                    </div>
        {{ form_end(form) }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

$(document).ready(function() {
  $(document).on('click', '.add-to-favorites', function(e) {
    e.preventDefault();
    var candidatId = $(this).data('id');
    var button = $(this); 
    var url = `/favori/ajouter/${candidatId}`;

    $.ajax({
      url: url,
      type: 'POST',
      success: function(response) {
        console.log(response);
        button.html('<i class="bi bi-star text-warning"></i> Effacer');
        button.removeClass('add-to-favorites btn-success').addClass('remove-from-favorites btn-outline-success');
        // Mettre à jour les attributs/data si nécessaire
      },
      error: function(xhr, status, error) {
        alert('Erreur lors de l\'ajout aux favoris');
      }
    });
  });
  
  $(document).on('click', '.remove-from-favorites', function(e) {
    e.preventDefault();
    var candidatId = $(this).data('id');
    var button = $(this); 
    var url = `/favori/supprimer/${candidatId}`;

    $.ajax({
      url: url,
      type: 'POST',
      success: function(response) {
        console.log(response);
        button.html('<i class="bi bi-star-fill text-warning"></i> Ajouter');
        button.removeClass('remove-from-favorites btn-outline-light').addClass('add-to-favorites btn-light');
        // Mettre à jour les attributs/data si nécessaire
      },
      error: function(xhr, status, error) {
        alert('Erreur lors de la suppression des favoris');
      }
    });
  });
    // Gestionnaire de clic pour l'icône de suppression
    $(document).on('click', '.delete-favori', function(e) {
        e.preventDefault(); // Empêche la navigation par défaut
        var candidatId = $(this).data('id');
        var linkSelector = `.favori-link[data-favori-id='${candidatId}']`;
        var url = `/favori/supprimer/${candidatId}`; // Modifiez avec votre URL de suppression

        if(confirm('Êtes-vous sûr de vouloir supprimer ce favori ?')) {
            $.ajax({
                url: url,
                type: 'POST', // Ou 'DELETE' selon votre API
                success: function(response) {
                    $(linkSelector).remove();
                },
                error: function(xhr, status, error) {
                    // Traitement en cas d'erreur
                    alert('Erreur lors de la suppression du favori.');
                }
            });
        }
    });

    // Gérer la recherche et la mise à jour des annonces
    $('#entreprise-candidat-search-form input, #entreprise-candidat-search-form select').on('keyup change', function() {
        searchAnnonces();
    });

    function searchAnnonces() {
        var formData = $('#entreprise-candidat-search-form').serialize();
        $.ajax({
            url: '{{ path('app_dashboard_entreprise_recherche_candidats') }}', // Mettez à jour avec le chemin correct
            type: 'GET',
            data: formData,
            success: function(data) {
                $('#candidats-container').html(data.content);
            },
            error: function(xhr, status, error) {
                console.error("Erreur AJAX : ", status, error);
            }
        });
    }

});

</script>
{% endblock %}
