{% extends 'base_v21.html.twig' %}

{% block title %}
	Modifier une annonce | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endblock %}

{% block body %}
	<section class="">
		<div class="shadow p-2 p-sm-4">
			<div class="col-12 col-sm-8 mx-auto p-2 p-sm-4">
                <turbo-frame id="job_listing_{{ jobListing.id}}">
					{{ form_start(form, { action : path('app_v2_recruiter_job_listing_edit', { jobListing : jobListing.id })})}}
							
						<div class="row">
							<div class="col">
								<div class="mb-3">
									<span class="fw-bold small">{{ form_label(form.titre)}}</span>
									{{ form_widget(form.titre)}}
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col">
								<div class="mb-3">
									<span class="fw-bold small">{{ form_label(form.secteur)}}</span>
									{{ form_widget(form.secteur)}}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="mb-3">
									<span class="fw-bold small">{{ form_label(form.typeContrat)}}</span>
									{{ form_widget(form.typeContrat)}}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="mb-3">
									<span class="fw-bold small">{{ form_label(form.lieu)}}</span>
									{{ form_widget(form.lieu)}}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="mb-3">
									<span class="fw-bold small">{{ form_label(form.nombrePoste)}}</span>
									{{ form_widget(form.nombrePoste)}}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="mb-3">
									<span class="fw-bold small">{{ form_label(form.dateExpiration)}}</span>
									{{ form_widget(form.dateExpiration)}}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-4">
								<div class="mb-3">
									<label class="fw-bold small" for="prestation_tarifPrestation_typeTarif">Tarif</label>
									{{ form_widget(form.budgetAnnonce.typeBudget)}}
								</div>
							</div>
							<div class="col-4">
								<div class="mb-3">
									<label class="fw-bold small" for="prestation_tarifPrestation_montant">Montant</label>
									{{ form_widget(form.budgetAnnonce.montant)}}
								</div>
							</div>
							<div class="col-4">
								<div class="mb-3">
									<label class="fw-bold small" for="prestation_tarifPrestation_currency">Devise</label>
									{{ form_widget(form.budgetAnnonce.currency)}}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="mb-3">
									<span class="fw-bold small">{{ form_label(form.description)}}</span>
									{{ form_widget(form.description)}}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="mb-3">
									<span class="fw-bold small">{{ form_label(form.competences)}}</span>
									{{ form_widget(form.competences)}}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="mb-3 experience-form">
								<fieldset>
									<span class="fw-bolder text-uppercase fs-5 mb-3"> <i class="bi bi-rocket-takeoff me-2"></i> Booster</span>
									{{ form_widget(form.boost)}}
								</fieldset>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="mb-3">
									{{ form_widget(form.agreeTerms, {
										'label': 'J\'accepte les Termes et Conditions',
										'label_attr': {'class': 'fw-bold small'},
									})}}
								</div>
							</div>
						</div>
					<div style="display:none;">
						{{ form_widget(form) }}
					</div>
					<button type="submit" class="btn btn-primary btn-lg my-3 my-sm-4 fs-6 px-4 px-sm-5 fw-semibold text-uppercase">
						<i class="bi bi-save"></i>
						Mettre à jour
					</button>
					{{ form_end(form) }}
                </turbo-frame>
			</div>
		</div>
    </section>
{% endblock %}
