<turbo-stream action="update" target="current-user-credit">
  <template>
    {{ credit }}
  </template>
</turbo-stream>
{% if success %}
    <turbo-stream action="update" target="contactDetails">
        <template>
            <div class="experience-form">
                <fieldset>
                    <strong>Email:</strong> {{ user.email }}<br>
                    <strong>Téléphone:</strong> {{ user.telephone }}<br>
                    <strong>Nom complet:</strong> {{ user.nom }} {{ user.prenom }}
                </fieldset>
            </div>
        </template>
    </turbo-stream>
{% endif %}
<turbo-stream action="update" target="errorToast">
    <template>
        <div class="toast-header">
            <strong class="me-auto">{{ status }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </template>
</turbo-stream>
