<turbo-stream action="update" target="current-user-credit">
  <template>
    {{ credit }}
  </template>
</turbo-stream>
{% if candidat is defined and candidat is not null %}
    <turbo-stream action="update" target="contactDetails">
        <template>
            <div class="experience-form">
                <fieldset>
                    <strong>Email:</strong> {{ user.email }}<br>
                    <strong>Téléphone:</strong> {{ user.telephone }}<br>
                    <strong>Nom complet:</strong> {{ user.nom }} {{ user.prenom }}
                </fieldset>
            </div>
        </template>
    </turbo-stream>
{% endif %}
{% if recruiter is defined and recruiter is not null %}
    <turbo-stream action="update" target="contactDetails">
        <template>
          <h2 class="fs-4">Information client</h2>
          <div class="row my-4 align-items-center">
            <div class="col-12 col-md-3">
              <div class="rounded-circle profile-img bg-image-candidat-account" style="background-image: url('/uploads/experts/company-default.jpg');" alt="Avatar"></div>
            </div>
            <div class="col-12 col-md-6">
              <strong>Entreprise:</strong> {{ user.entrepriseProfile.nom }}<br>
              <strong>Email:</strong> {{ user.email }}<br>
              <strong>Téléphone:</strong> {{ user.telephone }}<br>
            </div>
          </div>
        </template>
    </turbo-stream>
{% endif %}
<turbo-stream action="update" target="errorToast">
    <template>
        <div class="toast-header">
            <strong class="me-auto">{{ status }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </template>
</turbo-stream>
