{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Expériences du Candidat {{ candidat.candidat.nom }}</h2>
    <table class="table" id="experiencesTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for experience in experiences %}
                <tr>
                    <td>{{ experience.id }}</td>
                    <td>{{ experience.nom }}</td>
                    <td>{{ experience.description|raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#experiencesTable').DataTable();
        });
    </script>
{% endblock %}
