{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2 class="h3">Détails du Candidat : <span class="text-danger">{{ candidat.candidat.nom }} {{ candidat.candidat.prenom }}</span></h2>

    <!-- Onglets -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="details-tab" data-bs-toggle="tab" href="#details">Résumé</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="competences-tab" data-bs-toggle="tab" href="#competences">Comp. ({{ candidat.competences|length }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="experiences-tab" data-bs-toggle="tab" href="#experiences">Exp. ({{ candidat.experiences|length }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="candidatures-tab" data-bs-toggle="tab" href="#candidatures">Candidatures ({{ candidat.applications|length }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="assignation-tab" data-bs-toggle="tab" href="#assignation">Assign. ({{ candidat.assignations|length }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cv-tab" data-bs-toggle="tab" href="#cv">CV / Autres infos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="email-tab" data-bs-toggle="tab" href="#email"><i class="bi h5 bi-envelope-at"></i></a>
        </li>
    </ul>

    <!-- Contenu des onglets -->
    <div class="tab-content mt-3">

        <div class="tab-pane fade show active" id="details">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                        <div class="rounded-circle profile-img bg-image-candidat-account" style="background-image: url('{{ candidat.fileName ? asset('uploads/experts/' ~ candidat.fileName) : asset('uploads/experts/avatar-default.jpg') }}');" alt="Avatar"></div>
                        </div> 
                        <div class="col-md-9">
                            <h5 class="card-title">{{ candidat.candidat.nom }} {{ candidat.candidat.prenom }}</h5>
                            <p class="card-text">
                            <span class="text-muted">Email :</span> {{ candidat.candidat.email }}<br>
                            <span class="text-muted">Téléphone : </span> <span class="text-dark">{{ candidat.candidat.telephone }}</span><br>
                            <span class="text-muted">Adresse : </span> <span class="text-dark">{{ candidat.candidat.adress }} - {{ show_country(candidat.localisation) }}</span><br>
                            <span class="text-muted">Dernière connexion : </span> <span class="text-dark">  {{ candidat.candidat.lastLogin|time_ago }} </span><br> 
                            <span class="text-muted">Disponibilité : </span> <span class="text-dark">
                            {% if candidat.availability is not null %}
                                {{ checkAvailability(candidat.candidat)|raw}}
                            {% else %}
                                <i class="bi bi-exclamation-circle-fill"></i> Non renseigné
                            {% endif %} <button class="btn btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#candidatAvaillability"><i class="bi bi-pencil-square"></i></button>
                            </span><br> 
                            <span class="text-muted">Secteur d'activité : </span><br> 
                                {% for item in candidat.secteurs %}
                                <span class="badge text-bg-warning">
                                    {{ item.nom }}
                                </span>
                                {% endfor %}<br> 
                            <span class="text-muted">Prétention salariale :</span> 
                            {% if candidat.tarifCandidat is not empty %}
                            <span class="text-dark">
                                {{ getTarifCandidat(candidat)|raw }}
                            </span>
                            {% else %}
                                <i class="bi bi-exclamation-circle-fill"></i> Non renseigné
                            {% endif %}
                            </p> 
                        </div> 
                    </div> 
                    <p class="card-text mt-3">
                        <strong>Biographie:</strong> {{ candidat.resume|raw }}<br>
                    </p> 
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="competences">
            <div class="card">
                <div class="card-body">
                    {% if candidat.competences|length > 0 %}
                        <table class="table" id="competencesTable">
                            <thead>
                                <tr>
                                    <th class="col-3">Compétence</th>
                                    <th class="col-9">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for competence in candidat.competences %}
                                    <tr>
                                        <td>
                                            {{ competence.nom }}<br>
                                                <span class="p-1 lh-1">
                                                    {% for i in 1..5 %}
                                                        {% if i <= competence.note %}
                                                            <i class="small bi bi-star-fill text-warning"></i>
                                                        {% else %}
                                                            <i class="small bi bi-star text-dark"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                        </td>
                                        <td>{{ competence.description|raw }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                            <div class="container my-5">
                                <div class="p-5 text-center bg-body-tertiary rounded-3">
                                <h1 class="text-body-emphasis">Aucune</h1>
                                <p class="">
                                    <i class="bi bi-info-circle"></i> Le candidat n'a encore renseigné aucune commpétences.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="experiences">
            <div class="card">
                <div class="card-body">
                    {% if candidat.experiences|length > 0 %}
                        <table class="table" id="experiencesTable">
                            <thead>
                                <tr>
                                    <th class="col-3">Expérience</th>
                                    <th class="col-9">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for experience in candidat.experiences %}
                                    <tr>
                                        <td>
                                            {{ experience.nom }}<br>
                                            <span class="small">chez <span class="text-muted">{{ experience.entreprise }}</span><br>
                                                {% if experience.enPoste %}
                                                    Depuis {{ experience.dateDebut|date('M Y')}}
                                                {% else %}
                                                    {{ experience.dateDebut|date('M Y')}} - 
                                                    {{ experience.dateFin|date('M Y')}}
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td>{{ experience.description|raw }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                            <div class="container my-5">
                                <div class="p-5 text-center bg-body-tertiary rounded-3">
                                <h1 class="text-body-emphasis">Aucune</h1>
                                <p class="">
                                    <i class="bi bi-info-circle"></i> Le candidat n'a encore renseigné aucune expériences.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="candidatures">
            <div class="card">
                <div class="card-body">
                    {% if candidat.applications|length > 0 %}
                        <table class="table" id="candidaturesTable">
                            <thead>
                                <tr>
                                    <th class="col-3">Annonce</th>
                                    <th class="col-9">Lettre de motivation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application in candidat.applications %}
                                    <tr>
                                        <td>
                                            {{ application.annonce.titre }}<br>
                                            <span class="small">Status <span class="text-muted">{{ application.status }}</span><br>
                                                Le {{ application.dateCandidature|date('d M Y')}}
                                            </span>
                                        </td>
                                        <td>{{ application.lettreMotivation|raw }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                            <div class="container my-5">
                                <div class="p-5 text-center bg-body-tertiary rounded-3">
                                <h1 class="text-body-emphasis">Aucune candidature</h1>
                                <p class="">
                                    <i class="bi bi-info-circle"></i> Le candidat n'a encore effectué aucune candidature.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="assignation">
            <div class="card">
                <div class="card-body">
                
                    <button type="button" class="px-5 my-3 btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#assignationModalAdd">
                        Ajouter
                    </button>
                    {% if candidat.assignations|length > 0%}
                        <div class="container-fluid">
                            <!-- En-têtes -->
                            <div class="row">
                                <div class="col-3 font-weight-bold">Entreprise</div>
                                <div class="col-2 font-weight-bold">Forfait</div>
                                <div class="col-5 font-weight-bold">Commentaire</div>
                                <div class="col-2 font-weight-bold">Action</div>
                            </div>

                            <!-- Lignes et cellules -->
                            {% for assignation in candidat.assignations %}
                            <div class="row border-top py-2 assignation" data-assignation-id="{{ assignation.id }}">
                                <div class="col-3">
                                    {{ assignation.jobListing.entreprise.nom }}<br>
                                    <span class="text-muted small">{{ assignation.jobListing.titre }}</span>
                                </div>
                                <div class="col-2">
                                    {{ assignation.forfait }} €<br>
                                    <span class="text-muted small">{{ assignation.rolePositionVisee }}</span>
                                </div>
                                <div class="col-5">
                                    <span class="text-muted small">{{ assignation.dateAssignation|date('d-m-Y') }}</span><br>
                                    {{ assignation.commentaire|raw }}
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary btn-sm edit-assignation" data-assignation-id="{{ assignation.id }}"><i class="bi bi-pencil-square"></i></button>
                                    <a href="{{ path('ajax_change_assignation_delete', {'id': assignation.id })}}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette assignation ?');"><i class="bi bi-trash"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {# <table class="table" id="competencesTable">
                            <thead>
                                <tr>
                                    <th class="col-3">Entreprise</th>
                                    <th class="col-2">Forfait</th>
                                    <th class="col-5">Commentaire</th>
                                    <th class="col-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assignation in candidat.assignations %}
                                    <tr class="assignation" data-assignation-id="{{ assignation.id }}">
                                        <td>
                                        {{ assignation.jobListing.entreprise.nom }}<br>
                                        <span class="text-muted small">{{ assignation.jobListing.titre}}</span>
                                        </td>
                                        <td>
                                            {{ assignation.forfait }} €<br>
                                            <span class="text-muted small">{{ assignation.rolePositionVisee }}</span>
                                        </td>
                                        <td class="small">
                                        <span class="text-muted small">{{ assignation.dateAssignation|date('d-m-Y')}}</span><br>
                                        {{ assignation.commentaire|raw }}
                                        </td>
                                        <td>
                                        <button class="btn-primary btn btn-sm edit-assignation" data-assignation-id="{{ assignation.id }}"><i class="bi bi-pencil-square"></i></button>
                                        <a href="{{ path('ajax_change_assignation_delete', {'id': assignation.id })}}" class="btn-danger btn btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette assignation ?');"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> #}
                    {% else %}
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                            <div class="container my-5">
                                <div class="p-5 text-center bg-body-tertiary rounded-3">
                                <h1 class="text-body-emphasis">Aucune assignations</h1>
                                <p class="">
                                    <i class="bi bi-info-circle"></i> Le candidat n'a encore assigné à une entreprise.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="cv">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h3 class="text-center mb-4">CV</h3>
                        <div class="col-md-9 mx-auto">
                            {% if candidat.cvs|length > 0 %}
                                {% for cv in candidat.cvs %}
                                    <div class="row">
                                        <div class="col-6 my-2">
                                            <div class="card">
                                                <div class="card-body">
                                                    <a href="{{ asset('uploads/cv/' ~ cv.cvLink) }}" title="Ouvrir" target="_blank">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <!-- Icône agrandie -->
                                                                <i class="bi bi-file-earmark-person" style="font-size: 3rem;"></i>
                                                            </div>
                                                            <div class="col-6">
                                                                {{ cv.uploadedAt|date('d/M/Y')}}
                                                            </div>
                                                        </div>
                                                        <p class="card-title small">{{ cv.safeFileName }}.pdf</p>
                                                        <!-- Lien pour visualiser le CV dans un nouvel onglet -->
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 my-2">
                                            {% set editedCv = getEditedCv(cv.cvLink) %}
                                            {% if editedCv is not null %}
                                                <div class="card">
                                                    <div class="card-body bg-light text-dark">
                                                        <a href="{{ asset('uploads/cv/edited/' ~ editedCv.cvLink) }}" title="Ouvrir" target="_blank">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <!-- Icône agrandie -->
                                                                    <i class="bi bi-file-earmark-person" style="font-size: 3rem;"></i>
                                                                </div>
                                                                <div class="col-6">
                                                                    {{ editedCv.uploadedAt|date('d/M/Y')}}
                                                                </div>
                                                            </div>
                                                            <p class="card-title small">{{ editedCv.safeFileName }}.pdf</p>
                                                            <!-- Lien pour visualiser le CV dans un nouvel onglet -->
                                                        </a>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="jumbotron p-4 small text-info">
                                                    <i class="bi bi-info-circle"></i> Téléchargez le CV depuis le lien fourni.
                                                    Modifiez-le en conservant le même format de fichier.
                                                    Envoyez le CV modifié en utilisant le même nom de fichier.
                                                </div>
                                            
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="container my-5">
                                    <div class="p-5 text-center bg-body-tertiary rounded-3">
                                    <h1 class="text-body-emphasis">Aucun CV envoyé </i></h1>
                                    <p class="">
                                        <i class="bi bi-info-circle"></i> Veuillez envoyer un e-mail à l'utilisateur pour l'informer de l'envoi de son CV. Cette étape est nécessaire pour la validation de son profil.
                                    </p>
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_start(formCv) }}
                                <div class="row my-5">
                                    <p>Ajouter un cv modifié <i class="bi bi-info-circle text-info"></i></p>
                                    <div class="col-8">
                                        {{ form_row(formCv.cvEdit) }}
                                        {{ form_errors(formCv.cvEdit) }}
                                    </div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-outline-primary">Envoyer</button>
                                    </div>
                                </div>
                            {{ form_end(formCv) }}

                        </div> 
                        <h3 class="text-center mb-4">Langues</h3>
                        <div class="col-md-9 mx-auto">
                            {% if candidat.langages|length > 0 %}
                            <div class="row">
                                {% for langage in candidat.langages %}
                                    <div class="col-3 my-2 flex">
                                        <div class="card">
                                            <div class="card-body">
                                                    <!-- Icône agrandie -->
                                                    <span class="h1">{{ isoToEmoji(langage.langue.code) }}</span> <br>{{ langage.langue.nom }} 
                                                    <span class="d-flex align-items-center">
                                                        <span class="p-1 lh-1">
                                                            {% for i in 1..5 %}
                                                                {% if i <= langage.niveau %}
                                                                    <i class="small bi bi-star-fill text-warning"></i>
                                                                {% else %}
                                                                    <i class="small bi bi-star text-dark"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% else %}
                                <div class="container my-5">
                                    <div class="p-5 text-center bg-body-tertiary rounded-3">
                                    <h1 class="text-body-emphasis">Aucune langues renseignées</h1>
                                    <p class="">
                                        <i class="bi bi-info-circle"></i> Veuillez envoyer un e-mail à l'utilisateur pour l'informer des langues qu'ils maîtrise. Cette étape est nécessaire pour la validation de son profil.
                                    </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div> 
                        <h3 class="text-center mb-4">Réseau sociaux</h3>
                        <div class="col-md-9 mx-auto text-center">
                        {% if candidat.social is not empty %}
                            {% if candidat.social.linkedin is not empty %}
                                <a title="{{ candidat.social.linkedin }}" href="{{candidat.social.linkedin}}" target=_blank ><i class="bi h2 bi-linkedin"></i></a>
                            {% endif %}
                            {% if candidat.social.skype is not empty %}
                                <a title="{{ candidat.social.skype }}" href="{{candidat.social.skype}}" target=_blank ><i class="bi h2 bi-skype"></i></a>
                            {% endif %}
                            {% if candidat.social.slack is not empty %}
                                <a title="{{ candidat.social.slack }}" href="{{candidat.social.slack}}" target=_blank ><i class="bi h2 bi-slack"></i></a>
                            {% endif %}
                            {% if candidat.social.facebook is not empty %}
                                <a title="{{ candidat.social.facebook }}" href="{{candidat.social.facebook}}" target=_blank ><i class="bi h2 bi-facebook"></i></a>
                            {% endif %}
                            {% if candidat.social.instagram is not empty %}
                                <a title="{{ candidat.social.instagram }}" href="{{candidat.social.instagram}}" target=_blank ><i class="bi h2 bi-instagram"></i></a>
                            {% endif %}
                            {% if candidat.social.github is not empty %}
                                <a title="{{ candidat.social.github }}" href="{{candidat.social.github}}" target=_blank ><i class="bi h2 bi-github"></i></a>
                            {% endif %}
                        {% endif %}
                        </div> 
                    </div> 
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="email">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="alert alert-info small" role="alert">
                                <i class="bi bi-info-circle"></i> L'intégralité de ce contenu sera envoyée à l'utilisateur. N'oubliez pas d'ajouter 'Bonjour' suivi du nom de l'utilisateur. La mise en forme que vous appliquez ici sera conservée à l'envoi.
                            </div>
                        </div> 
                        <div class="col-md-9">
                            {{ form_start(form)}}
                            {{ form_widget(form)}}
                            {{ form_errors(form)}}
                            <div class="input-group-append my-4">
                                <button type="submit" class="btn btn-primary rounded-pill">Envoyer</button>
                            </div>
                            {{ form_end(form)}}
                        </div> 
                    </div> 
                </div>
            </div>
        </div>
        
    </div>
    <a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
</div>

<script src="{{ asset('assets/ckeditor5/ckeditor.js')}}"></script>
<script>
    let globalEditorInstance;
    document.addEventListener('DOMContentLoaded', function() {
        ClassicEditor.create(document.querySelector('#notification_profile_contenu'))
            .then(editor => {
                globalEditorInstance = editor;
                document.querySelector('form').addEventListener('submit', function() {
                    document.querySelector('#notification_profile_contenu').value = globalEditorInstance.getData();
                });
            })
            .catch(error => {
                console.error(error);
            });
    });

</script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>    
        // Gestionnaire d'événements pour "edit-assignation"
        $(document).on('click', '.edit-assignation', function(e) {
            console.log('eto')
            e.preventDefault();
            var assignationId = $(this).data('assignation-id');
            var assignationContainer = $('[data-assignation-id="' + assignationId + '"]').closest('.assignation');
            
            saveOriginalContent(assignationId, assignationContainer); // Sauvegarde du contenu original
    
            // Votre code AJAX...
            $.ajax({
                url: "{{ path('app_ajax_edit_assignation')}}",
                method: 'POST',
                data: { assignation_id: assignationId },
                success: function(response) {
                    console.log(response.assignationId)
                    // Si la demande réussit, affichez un formulaire de modification
                    if (response.success) {
                        // Remplacez le contenu de l'expérience par le formulaire de modification pré-rempli
                        var assignationContainer = $('[data-assignation-id="' + assignationId + '"]').closest('.assignation');
                        assignationContainer.html(response.form); // Assurez-vous que la réponse contient uniquement le formulaire HTML           
                    }
                },
                error: function(error) {
                    console.error('Erreur lors de la récupération des données de l\'expérience :', error);
                }
            });
        });
        var originalContent = {}; // Pour sauvegarder le contenu original
        // Fonction pour sauvegarder le contenu original d'un élément
        function saveOriginalContent(id, containerSelector) {
            var container = $(containerSelector);
            originalContent[id] = container.html();
        }

        $(document).on('click', '.cancel-assignation', function(e) {
            e.preventDefault();

            var container = $(this).closest('.assignation');
            var id = container.data('assignation-id');

            if (id) {
                restoreOriginalContent(id, container);
            } else {
                console.log('ID non trouvé.');
            }
        });
        // Fonction pour restaurer le contenu original
        function restoreOriginalContent(id, containerSelector) {
            console.log(id)
            var container = $(containerSelector);
            if (originalContent[id]) {
                container.html(originalContent[id]);
            }
        }
        $(document).on('submit', 'form', function(e) {
        e.preventDefault(); // Empêche le formulaire de soumettre normalement

        var form = $(this);
        var url = form.attr('action'); // L'URL où le formulaire doit être soumis

        // Utiliser FormData pour gérer les données du formulaire
        var formData = new FormData(this);

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false, // Nécessaire pour FormData
            contentType: false, // Nécessaire pour FormData
            success: function(response) {
                console.log(response);
                // Si la soumission est un succès, restaurer la vue originale
                if (response.success) {
                    var assignationContainer = $('[data-assignation-id="' + response.assignationId + '"]').closest('.assignation');
                    // Construire le nouveau contenu HTML
                    var updatedContent = '<div class="col-3">' + 
                        response.entreprise + '<br>' + 
                        '<span class="text-muted small">' + response.annonce + '</span>' +
                        '</div>' +
                        '<div class="col-2">' + response.forfait + 
                        '€<br><span class="text-muted small">' + response.rolePositionVisee + 
                        '</span></div>' + 
                        '<div class="col-5"><span class="text-muted small">'+ response.date + 
                        '</span><br>'+ response.commentaire +
                        '</div>' + 
                        '<div class="col-2"><button class="btn btn-primary btn-sm edit-assignation" data-assignation-id="'+ response.assignationId +'"><i class="bi bi-pencil-square"></i></button>' +
                        '<a href="/ajax/assignation/delete/'+ response.assignationId +'" class="btn btn-danger btn-sm" onclick="return confirm("Êtes-vous sûr de vouloir supprimer cette assignation ?");"><i class="bi bi-trash"></i></a>' +
                        '</div>'
                        ;   
                    // Mettre à jour le contenu
                    assignationContainer.html(updatedContent);
                } else {
                    // Gérer le cas où la réponse indique un échec
                }
            },
            error: function(xhr, status, error) {
                console.error('Erreur lors de la soumission du formulaire :', error);
                // Gérer les erreurs ici. Par exemple, afficher un message d'erreur.
            }
        });
    });
    </script> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block modal %}
    {{ parent() }}
        <div class="modal fade" id="candidatAvaillability" tabindex="-1" aria-labelledby="candidatAvaillabilityLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5 text-dark" id="candidatAvaillabilityLabel">Changer la disponibilité du candicat</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {{ form_start(formDispo, {'action': path('app_dashboard_moderateur_candidat_view', {'id': candidat.id} )})}}
                    <div class="modal-body text-dark">
                            <div class="row">
                                <div class="col my-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="disponibilite-form">
                                        
                                                <div class="radio-options">
                                                    {{ form_widget(formDispo.nom) }}
                                                </div>
                                            
                                                <div class="date-picker-container">
                                                    {{ form_widget(formDispo.dateFin) }}
                                                </div>
                                            
                                            </div>
                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Mettre à jour</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                    {{ form_end(formDispo)}}
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="assignationModalAdd" tabindex="-1" aria-labelledby="assignationModalAddLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="assignationModalAddLabel">Ajouter une assignation à {{ candidat.candidat.nom }} {{ candidat.candidat.prenom }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(formAssignation)}}
                    {{ form_widget(formAssignation)}}
                    {{ form_end(formAssignation)}}
                </div>
                </div>
            </div>
        </div>
{% endblock %}