{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Détails de l'Entreprise</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ entreprise.nom }}</h5>
            <p class="card-text">
                <strong>Taille:</strong> {{ entreprise.taille }}<br>
                <strong>Localisation:</strong> {{ entreprise.localisation }}<br>
                <strong>Site Web:</strong> {{ entreprise.siteWeb }}<br>
                <strong>Description:</strong> {{ entreprise.description|raw }}<br>
                <strong>Secteurs:</strong> 
                {% for secteur in entreprise.secteurs %}
                    {{ secteur.nom }},
                {% endfor %}<br>
            <strong>Nombre d'Annonces:</strong> <a href="{{ path('app_dashboard_moderateur_entreprises_annonces', {'id': entreprise.id}) }}">{{ entreprise.jobListings|length }}</a>
            </p>
        <a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
        </div>
    </div>
</div>
{% endblock %}
