{% extends 'dashboard/base.html.twig' %}

{% block title %}Rendez-vous: {{ metting.id }}{% endblock %}

{% block body %}
    <h1>Rendez-vous: {{ metting.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ metting.id }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ metting.entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Candidat</th>
                <td>{{ metting.candidat.candidat.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ metting.dateRendezVous|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ metting.lieu }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ metting.status }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ metting.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_moderateur_metting_edit', {'id': metting.id}) }}">éditer</a>
    <form method="post" action="{{ path('app_dashboard_moderateur_metting_delete', {'id': metting.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ metting.id) }}">
        <button class="btn">supprimer</button>
    </form>

<a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
{% endblock %}