{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Détails de l'Annonce</h2>
    <dl>
        <dt>ID</dt>
        <dd>{{ annonce.id }}</dd>
        <dt>Entreprise</dt>
        <dd>{{ annonce.entreprise.nom }}</dd>
        <dt>Titre</dt>
        <dd>{{ annonce.titre }}</dd>
        <dt>Description</dt>
        <dd>{{ annonce.description }}</dd>
        <dt>Status</dt>
        <dd>{{ annonce.status }}</dd>
        <!-- ... Ajoutez d'autres champs si nécessaire ... -->
    </dl>
<a href="javascript:history.back()" class="btn btn-secondary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
</div>
{% endblock %}
