
{% for aitool in aiTools %}
  
<div class="col">
  <div class="card shadow-sm card-height-uniform" style="overflow:hidden">
    <a href="{{ path('app_ai_tools_view', {'slug': aitool.slug })}}"><div class="card-image-ia" style="background-image: url('{{aitool.image}}');"></div></a> <!-- Modification ici -->
      <div class="card-body bg-dark text-white">
        <p class="card-text">
          <figure>
            <blockquote class="blockquote">
            <p> {{ aitool.nom }} </p>
            </blockquote>
            <figcaption class="blockquote-footer">
            {{ (aitool.sloganFr ?? aitool.slogan|raw) }}
            </figcaption>
        </figure> 
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="{{ path('app_ai_tools_view', {'slug': aitool.slug })}}" class="btn btn-outline-primary">Voir</a>
            <a href="{{aitool.lienAffiliation}}" target=_blank class="btn btn-outline-secondary">Visiter le site web</a>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
</div>

{% endfor %}
