{% extends 'base.html.twig' %}
{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto text-light my-5">
        <h1 class="fw-light">BOOSTEZ VOTRE PRODUCTIVITÉ</h1>
        <p class="lead text-body-light">Découvrez les meilleurs outils IA de 2023. Explorez des solutions pour améliorer votre entreprise et votre productivité. Lisez nos analyses détaillées et faites le bon choix !</p>
      </div>
      {# {{ form_start(formSearch)}}
      {{ form_widget(formSearch)}}
      {{ form_end(formSearch)}} #}
      <p>
        <button type="button" class="rounded-pill btn btn-outline-primary my-2 px-5" data-bs-toggle="modal" data-bs-target="#filter">  Filter<i class="bi bi-funnel mx-1"></i></button>
      </p>
    </div>
  </section>
    <div class="album py-5 bg-body-dark">
      <div class="container">

      <div id="ia-container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ia-item">  
            {% include "ai_tool/_tools.html.twig" %}
        </div>

      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="filter" tabindex="-1" aria-labelledby="filterLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg ">
    <div class="modal-content bg-dark text-light">
        {{ form_start(form, {'attr': {'class': 'form-group my-4', 'id':'filter-search-form'}})}}
      <div class="modal-header">
        <p class="modal-title fs-5" id="exampleModalLabel">Select filter</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <p class="h3">Pricing</p>
                    {{ form_widget(form.pricing)}}
                </div>
                <div class="col-md-6 ms-auto">
                    <p class="h3">Category</p>
                    {{ form_widget(form.category)}}
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <button type="reset" id="clear-params-button" class="btn btn-secondary w-100 rounded-pill" data-bs-dismiss="modal">Clear</button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary w-100 rounded-pill">Apply filters</button>
                </div>
            </div>
        </div>
      </div>
      {{ form_end(form)}}
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function filterTools() {
            var formData = $('#filter-search-form').serialize();
    
            $.ajax({
                url: '{{ path('app_ai_tools') }}',
                type: 'GET',
                data: formData,
                success: function(data) {
                    $('#annonces-container').html(data.content);
                }
            });
        }
        /**
        $('#filter-search-form').on('submit', function() {
            event.preventDefault(); // Empêche la soumission standard du formulaire
    
            // Construction de la chaîne de requête
            var tags = $('input[name="advanced_tool_search[tag][]"]:checked').map(function() {
                return 'tag=' + this.value;
            }).get().join('&');
    
            var categories = $('input[name="advanced_tool_search[category][]"]:checked').map(function() {
                return 'category=' + this.value;
            }).get().join('&');
    
            // Construction de la nouvelle URL
            var baseUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
            var newQuery = tags;
            if (tags.length > 0 && categories.length > 0) {
                newQuery += '&' + categories;
            } else if (categories.length > 0) {
                newQuery += categories;
            }
            
            // Utilisez AJAX pour soumettre le formulaire si nécessaire ou redirigez simplement l'utilisateur
            window.location.href = baseUrl + '?' + newQuery;
        });
        */
        $('#clear-params-button').click(function() {
            var clean_uri = location.protocol + "//" + location.host + location.pathname;
            window.history.replaceState({}, document.title, clean_uri);
        });
    });
  let offset = 12; 
  $(window).on('scroll', function() {
    const threshold = 2;
    const position = $(window).scrollTop() + $(window).height();
    const height = $(document).height();

    // Assurez-vous que 'offset' est défini quelque part dans votre script
    if (position >= height - threshold ) {
        console.log('Chargement de plus d\'éléments');
        console.log(offset)
        $.ajax({
            url: `/ajax/ai-tools?offset=${offset}`,
            type: 'GET',
            success: function(response) {
                if (response && response.html) {
                    // Ajoutez le HTML à la fin de votre div .ia-item
                    console.log(response)
                    $('#ia-container .ia-item').append(response.html);
                    offset += 12; // Incrémente pour le prochain lot
                }
            },
            error: function(error) {
                console.error('Une erreur est survenue:', error);
            }
        });
    }
});
</script>
{% endblock %}
