{% extends 'dashboard/base.html.twig' %}

{% block title %}
  Gestion des prestations | Olona Talents
{% endblock %}

{% block body %}
{% set tableClass = 'table' %}
<div class="container mt-5">
    <h2>Gestion des prestations</h2>
      <div class="shadow-custom p-2 p-sm-4">
        <p class="text-center">
        <a href="{{ path('app_v2_staff_create_prestation')}}" class="btn btn-primary btn-lg my-3 my-sm-4 fs-6 px-4 px-sm-5 fw-semibold text-uppercase">
          <i class="bi bi-plus-lg"></i> Créer une prestation
        </a>
        </p>
    {% if prestations|length > 0 %}
      <div class="table-responsive">
          <table class="{{ tableClass }} table-striped">
              <thead>
                  <tr class="fw-bolder">
                      <td scope="col" class="">Titre</td>
                      <td scope="col" class="text-center">Créée par</td>
                      <td scope="col" class="">Statut</td>
                      <td scope="col" class="">Action</td>
                  </tr>
              </thead>
              <tbody>
              {% for item in prestations %}
              <tr>
                  <td class="">{{ item.titre }}</td>
                  <td class="text-center fs-6 fw-light">{{ getAuthor(item)|raw }}</td>
                  <td class="">{{ satusPrestation(item)|raw }}</td>
                  <td class="">
                    <a href="{{ path('app_v2_staff_edit_prestation', { 'prestation': item.id })}}" class="btn btn-sm btn-primary rounded-pill"><i class="bi bi-pencil-square"></i></a>
                    <a href="{{ path('app_v2_staff_view_prestation', { 'prestation': item.id })}}" class="btn btn-sm btn-secondary rounded-pill"><i class="bi bi-eye"></i></a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
					<div class="navigation mt-5">
						{{ knp_pagination_render(prestations, 'parts/_pagination.html.twig') }}
					</div>
      </div>
    {% else %}
      <h3 class="fs-5 fw-bolder my-3 my-sm-5 text-center">
          <span class="">
              <img src="{{ asset('v2/images/6939131.png') }}" alt="icone" style="width: 30px;">
          </span>
          1ère chose à faire
      </h3>
    {% endif %}

      </div>
        </div>
      </div>
  </div>
{% endblock %}
