    
    <p class="mx-2">
    Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
    </p>
    <div class="navigation">
    {{ knp_pagination_render(types_contrat, 'parts/_pagination.html.twig') }}
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="col-4">Titre</th>
                <th class="col-5">Description</th>
                <th class="col-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for type in types_contrat %}
                <tr>
                    <td>{{ type.nom }}</td>
                    <td>{{ type.description|length > 50 ? type.description|slice(0, 50)|raw ~ '...' : type.description|raw }}</td>
                    <td class="actions-col">
                        <a href="{{path('app_dashboard_moderateur_edit_type_contrat', { 'slug': type.slug}) }}" class="btn btn-sm btn-info">Modifier</a>
                        <a href="{{path('app_dashboard_moderateur_delete_type_contrat', { 'slug': type.slug}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce type de contrat ?');">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

