{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Type de contrat</h2>
    <a href="{{ path('app_dashboard_moderateur_new_type_contrat')}}" class="btn btn-secondary my-3">Nouveau</a>
    {{ form_start(form, {'attr': {'class': 'form-group mb-2 col-6', 'id':'moderateur-type_contrat-search-form'}}) }}
    <div class="input-group">
        {{ form_widget(form.typeContrat, {'attr': {'class': 'form-control'}}) }}
    </div>
    {{ form_end(form) }}
    <div id="type_contrat-container">
        {% include 'dashboard/moderateur/type-contrat/_type_contrats.html.twig' %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function searchAnnonces() {
        var formData = $('#moderateur-type_contrat-search-form').serialize();

        $.ajax({
            url: '{{ path('app_dashboard_moderateur_type_contrat') }}',
            type: 'GET',
            data: formData,
            success: function(data) {
                $('#type_contrat-container').html(data.content);
            }
        });
    }
    $('#moderateur-type_contrat-search-form input, #moderateur-type_contrat-search-form select').on('keyup change', function() {
        searchAnnonces();
    });
});
</script>
{% endblock %}

