    
    <p class="mx-2">
    Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
    </p>
    <div class="navigation">
    {{ knp_pagination_render(entreprises, 'parts/_pagination.html.twig') }}
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-3">Titre</th>
                <th class="col-1">Secteurs</th>
                <th class="col-1">Annonces</th>
                <th class="col-1">RDV</th>
                <th class="col-1">Status</th>
                <th class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entreprise in entreprises %}
                <tr>
                    <td class="id-column">{{ entreprise.id }}</td>
                    <td>{{ entreprise.nom }}</td>
                    <td>{{ entreprise.secteurs|length }}</td>
                    <td>
                        <a href="{{path('app_dashboard_moderateur_entreprises_annonces', { 'id': entreprise.id}) }}" class="btn btn-sm btn-info">
                            {{ entreprise.jobListings|length }}
                        </a>
                    </td>
                    <td>{{ entreprise.mettings|length }}</td>
                    <td>{{ entreprise.status }}</td>
                    <td class="actions-col">
                        <a href="{{path('voir_entreprise', { 'id': entreprise.id}) }}" class="btn btn-sm btn-info rounded-pill"><i class="bi mx-1 bi-eye"></i></a>
                        <a href="{{path('supprimer_entreprise', { 'id': entreprise.id}) }}" class="btn btn-sm btn-danger rounded-pill" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce type de contrat ?');"><i class="bi mx-1 bi-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>