    
    <p class="mx-2">
Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
</p>
<div class="navigation">
{{ knp_pagination_render(aiTools, 'parts/_pagination.html.twig') }}
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-2">Titre</th>
            <th class="col-6">Description</th>
            <th class="col-3">Image</th>
            <th class="col-3"></th>
        </tr>
    </thead>
    <tbody>
        {% for aitool in aiTools %}
            <tr>
                <td class="id-column">{{ aitool.id }}</td>
                <td>
                    <figure>
                        <blockquote class="blockquote">
                        <p> {{ aitool.nom }} </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                        <cite title="Source Title">{{ aitool.slogan }}</cite>
                        </figcaption>
                    </figure>                 
                    
                </td>
                <td>{{ aitool.shortDescription|raw }}</td>
                {# <td>{{ (aitool.description|length > 250 ? aitool.description|slice(0, 50) ~ '...' : aitool.description)|raw }}</td> #}
                <td><img src="{{ aitool.image }}" class="img-fluid" alt="thumbail"></td>
                <td class="actions-col">
                    <a href="{{path('app_dashboard_moderateur_view_affiliate_tool', { 'slug': aitool.slug}) }}" class="btn btn-sm btn-secondary"><i class="bi bi-eye"></i></a>
                    {% if app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_MODERATEUR')) %}
                        <a href="{{path('app_dashboard_moderateur_edit_affiliate_tool', { 'slug': aitool.slug}) }}" class="btn btn-sm btn-info"><i class="bi bi-pencil"></i></a>
                        <a href="{{path('app_dashboard_moderateur_edit_affiliate_tool', { 'slug': aitool.slug}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce type de contrat ?');"><i class="bi bi-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

