    
    <p class="mx-2">
Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
</p>
<div class="navigation">
{{ knp_pagination_render(aiTools, 'parts/_pagination.html.twig') }}
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-2">Nom</th>
            <th class="col-4">Description</th>
            <th class="col-2">Catégories</th>
            <th class="col-3">Image</th>
            <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
        {% for aitool in aiTools %}
            <tr>
                <td class="id-column">{{ aitool.id }}</td>
                <td>
                    <figure>
                        <blockquote class="blockquote">
                        <p><a href="{{path('app_dashboard_moderateur_view_affiliate_tool', { 'slug': aitool.slug}) }}"> {{ aitool.nom }} </a></p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                        <cite title="Source Title">{{ aitool.sloganFr ?? aitool.slogan }}</cite>
                        </figcaption>
                    </figure>                 
                    <a href="{{ aitool.lienAffiliation }}" class="btn btn-sm btn-primary rounded-pill px-3">Visiter le site <i class="bi bi-box-arrow-up-right"></i></a>
                </td>
                <td>{{ (aitool.shortDescriptionFr ?? aitool.shortDescription)|raw }}</td>
                <td class="id-column">
                    {% for category in aitool.categories %}
                    <span class="badge text-bg-info">{{ category.nom }}</span>
                    {% endfor %}
                </td>
                <td><img src="{{ aitool.image }}" class="img-fluid" alt="thumbail"></td>
                <td class="actions-col">
                    <a href="{{path('app_dashboard_moderateur_view_affiliate_tool', { 'slug': aitool.slug}) }}" class="btn btn-sm btn-secondary"><i class="bi bi-eye"></i></a>
                    {% if app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_MODERATEUR')) %}
                        <a href="{{path('app_dashboard_moderateur_edit_affiliate_tool', { 'slug': aitool.slug}) }}" class="btn btn-sm btn-info"><i class="bi bi-pencil"></i></a>
                        <a href="{{path('app_dashboard_moderateur_delete_affiliate_tool', { 'slug': aitool.slug}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');"><i class="bi bi-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

