
{% set base_template = app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_MODERATEUR')) ? 'dashboard/base.html.twig' : 'dashboard/base_new.html.twig' %}

{% extends base_template %}

{% block body %}
<div class="container mt-5">
<h1 class="h2 my-3">{{ aiTool.nom }}</h1>
<p>{{(aiTool.sloganFr ?? aiTool.slogan)|raw}}</p>
<section class="my-5">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="d-flex justify-content-center">
          <div class="card-image-ia-single" style="background-image: url('{{aiTool.image}}');">
          </div>
        </div>
        <div class="text-center mt-4">
        <a href="{{ aiTool.lienAffiliation }}" target="_blank" class="btn btn-outline-secondary">Visite website</a>

      </div>
      </div>
      <div class="col-md-8">
        <div class="text-bg-dark rounded-3 p-3">
          <p class="text-small mt-3"> <i class="bi bi-calendar-check"></i> Ajouté le {{aiTool.creeLe|date('d M Y')}}</p>
          <p>{{(aiTool.shortDescriptionFr ?? aiTool.shortDescription)|raw}}</p>
        </div>
      </div>
    </div>
</section>

<section class="">
    <div class="row">
      <div class="col-md-10 mx-auto">
      {{(aiTool.descriptionFR ?? filterContent(doShortcode(aiTool.description)))|raw}}
      </div>
  </div>
  <div class="small">
    {% for cat in aiTool.categories %}
    <span class="badge text-bg-dark rounded-pill"> <i class="bi bi-tags"></i> {{ cat.nomFr ?? cat.nom }}  </span>   
    {% endfor %}
  </div>
</section>
<div class="small">
  {% for tag in aiTool.tags %}
  <span class="badge text-bg-secondary rounded-pill"><i class="bi bi-tags"></i> # {{ tag.nomFr ?? tag.nom }}  </span>    
  {% endfor %}
</div>

<h2 class="h3 my-3">Outils IA similaire à {{ aiTool.nom }}</h2>

<div class="album py-5 bg-body-dark">
  <div class="container">
    <div id="ia-container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ia-item">  
          {% include "dashboard/moderateur/affiliate_tool/_tools.html.twig" with {aiTools : relateds}%}
      </div>
    </div>
  </div>
</div>


<a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>


</div>
{% endblock %}

