{% set current_route = app.request.attributes.get('_route') %}
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark position-sticky top-0" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{ path('app_dashboard_moderateur')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur' ? 'active' : 'text-white' }}" 
            {{ current_route == 'app_dashboard_moderateur' ? 'aria-current=page' : '' }}>
            <i class="mx-2 h5 bi bi-house-door"></i>
            Tableau de bord  
        </a>
      </li>
      <hr>
      <li>
        <a href="{{ path('app_dashboard_moderateur_portage')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_portage' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-building-fill-up"></i>
            Portage  
        </a>

      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_profile_candidat')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_profile_candidat' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-people"></i>
            Profils  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_profile_recrutement')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_profile_recrutement' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-clipboard2-data-fill"></i>
            Recrutement  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_assignation')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_assignation' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-hand-index"></i>
            Assignation  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_profile_entreprise')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_profile_entreprise' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-building"></i>
            Entreprises  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_annonces')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_annonces' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-megaphone"></i>
            Annonces   
        </a>

      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_invitation')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_invitation' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-envelope-arrow-up"></i>
            Invitation  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_candidatures')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_candidatures' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-person-bounding-box"></i>
            Candidatures  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_cooptation')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_cooptation' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-person-plus-fill"></i>
            Cooptations  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_mettings')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_mettings' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-calendar3"></i>
            Rendez-vous  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_affiliate_tool')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_affiliate_tool' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-robot"></i>
            AI Tools  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_formation')}}" 
            class="nav-link {{ current_route == 'app_dashboard_formation' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-journal-bookmark-fill"></i>
            Formations  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_notification')}}" 
            class="nav-link {{ current_route == 'app_dashboard_notification' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-bell"></i>
            Notifications  
            {% if countUnReadNotification(app.user) > 0  %}{{ component('count_notification_component')}}{% endif %}
        </a>
      </li>
      {# <li>
        <a href="{{ path('app_dashboard_entreprise_message')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_message' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-chat-right-text"></i>
            {{ 'app_dashboard_entreprise.messaging'|trans }} 
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_entreprise_notification')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_notification' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-bell"></i>
            {{ 'app_dashboard_entreprise.notification'|trans }}  
        </a>
      </li> #}
    </ul>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{{ path('app_logout')}}" class="nav-link text-white">
            <i class="mx-2 h5 bi bi-box-arrow-right"></i>
            {{ 'app_dashboard_entreprise.logout'|trans }}    
        </a>
      </li>
    </ul>
  </div>