{% set current_route = app.request.attributes.get('_route') %}
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark position-sticky top-0" style="width: 280px;">
    {# <a href="{{ path('app_dashboard_entreprise')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">{{ 'app_dashboard_entreprise.title'|trans }}   </span>
    </a>
    <hr> #}

    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{ path('app_dashboard_entreprise_new_annonce')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_new_annonce' ? 'active' : 'text-white' }}" 
            {{ current_route == 'app_dashboard_entreprise_new_annonce' ? 'aria-current=page' : '' }}>
            <i class="mx-2 h5 bi bi-plus-lg"></i>
            {{ 'app_dashboard_entreprise.publish'|trans }}   
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_entreprise_annonces')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_annonces' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-megaphone"></i>
            {{ 'app_dashboard_entreprise.my_posting'|trans }}   
        </a>

      </li>
      <li>
        <a href="{{ path('app_dashboard_entreprise_recherche_candidats')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_recherche_candidats' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-search"></i>
            {{ 'app_dashboard_entreprise.find'|trans }}  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_entreprise_candidatures')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_candidatures' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-person-badge-fill"></i>
            {{ 'app_dashboard_entreprise.manage'|trans }}  
        </a>
      </li>
      <li>
        <a href="{{ path('rendezvous_index')}}" 
            class="nav-link {{ current_route == 'rendezvous_index' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-calendar3"></i>
            {{ 'app_dashboard_entreprise.metting'|trans }} 
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_affiliate_tool')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_affiliate_tool' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-robot"></i>
            AI Tools  
        </a>
      </li>
      {# <li>
        <a href="{{ path('app_dashboard_entreprise_notifications')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_notifications' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-bell"></i>
            {{ 'app_dashboard_entreprise.notification'|trans }}  
        </a>
      </li> #}
    </ul>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{ path('app_dashboard_entreprise_profil')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_profil' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-person-circle"></i>
            {{ 'app_dashboard_entreprise.my_account'|trans }}    
        </a>
      </li>
      <li>
        <a href="{{ path('app_logout')}}" class="nav-link text-white">
            <i class="mx-2 h5 bi bi-box-arrow-right"></i>
            {{ 'app_dashboard_entreprise.logout'|trans }}    
        </a>
      </li>
    </ul>
  </div>