{% set current_route = app.request.attributes.get('_route') %}
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark position-sticky top-0" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
    {# <li class="nav-item">
      <a href="{{ path('app_dashboard_candidat')}}" 
          class="nav-link {{ current_route == 'app_dashboard_candidat' ? 'active' : 'text-white' }}" 
          {{ current_route == 'app_dashboard_candidat' ? 'aria-current=page' : '' }}>
          <i class="mx-2 h5 bi bi-house-door"></i>
          Tableau de bord  
      </a>
    </li>
    <hr> #}
      <li>
        <a href="{{ path('app_dashboard_candidat_annonce') }}" class="nav-link {{ current_route == 'app_dashboard_candidat_annonce' ? 'active' : 'text-white' }}">
          <i class="mx-2 h5 bi bi-search"></i>
          {{ 'app_dashboard_candidat.find'|trans }}
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_candidat_annonces') }}" class="nav-link {{ current_route == 'app_dashboard_candidat_annonces' ? 'active' : 'text-white' }}">
          <i class="mx-2 h5 bi bi-megaphone"></i>
          {{ 'app_dashboard_candidat_annonces.my_posting'|trans }}
        </a>

      </li>
      <li>
        <a href="{{ path('rendezvous_index')}}" 
            class="nav-link {{ current_route == 'rendezvous_index' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-calendar3"></i>
            {{ 'app_dashboard_entreprise.metting'|trans }} 
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('app_dashboard_candidat_notifications')}}" 
            class="nav-link {{ current_route == 'app_dashboard_candidat_notifications' ? 'active' : 'text-white' }}" 
            {{ current_route == 'app_dashboard_candidat_notifications' ? 'aria-current=page' : '' }}>
            <i class="mx-2 h5 bi bi-bell"></i>
            Notifications
        </a>
      </li>
      {# <li>
        <a href="{{ path('app_dashboard_candidat_tools')}}" 
            class="nav-link {{ current_route == 'app_dashboard_candidat_tools' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-tools"></i>
            {{ 'app_dashboard_candidat_tools.menu'|trans }}  
        </a>
      </li> #}
    </ul>

    <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="{{ path('app_dashboard_candidat_compte') }}" class="nav-link {{ current_route == 'app_dashboard_candidat_compte' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-person-circle"></i>
            {{ 'app_dashboard_candidat_compte.menu'|trans }}
          </a>
        </li>
        <li>
          <a href="{{ path('app_logout') }}" class="nav-link text-white">
            <i class="mx-2 h5 bi bi-box-arrow-right"></i>
            {{ 'app_dashboard_entreprise.logout'|trans }}
          </a>
        </li>
      </ul>
    </div>
    