{% set current_route = app.request.attributes.get('_route') %}
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark position-sticky top-0" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{ path('app_dashboard_moderateur')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur' ? 'active' : 'text-white' }}" 
            {{ current_route == 'app_dashboard_moderateur' ? 'aria-current=page' : '' }}>
            <i class="mx-2 h5 bi bi-house-door"></i>
            Tableau de bord  
        </a>
      </li>
      <hr>
      <li class="nav-item">
        <a href="{{ path('app_dashboard_moderateur_secteur')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_secteur' ? 'active' : 'text-white' }}" 
            {{ current_route == 'app_dashboard_moderateur_secteur' ? 'aria-current=page' : '' }}>
            <i class="mx-2 h5 bi bi-bookmarks"></i>
            Secteur d'activité   
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_type_contrat')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_type_contrat' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-list-columns"></i>
            Type de contrat   
        </a>

      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_annonces')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_annonces' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-megaphone"></i>
            Annonces   
        </a>

      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_entreprises')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_entreprises' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-building"></i>
            Entreprises  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_candidats')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_candidats' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-people"></i>
            Profil  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_assignation')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_assignation' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-hand-index"></i>
            Assignation  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_invitation')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_invitation' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-envelope-arrow-up"></i>
            Invitation  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_candidatures')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_candidatures' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-person-bounding-box"></i>
            Candidatures  
        </a>
      </li>
      <li>
        <a href="{{ path('rendezvous_index')}}" 
            class="nav-link {{ current_route == 'rendezvous_index' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-calendar3"></i>
            Rendez-vous  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_affiliate_tool')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_affiliate_tool' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-robot"></i>
            AI Tools  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_formation')}}" 
            class="nav-link {{ current_route == 'app_dashboard_formation' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-journal-bookmark-fill"></i>
            Formations  
        </a>
      </li>
      {# <li>
        <a href="{{ path('app_dashboard_moderateur_notifications')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_notifications' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-bell"></i>
            Notifications  
        </a>
      </li> #}
      {# <li>
        <a href="{{ path('app_dashboard_entreprise_message')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_message' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-chat-right-text"></i>
            {{ 'app_dashboard_entreprise.messaging'|trans }} 
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_entreprise_notification')}}" 
            class="nav-link {{ current_route == 'app_dashboard_entreprise_notification' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-bell"></i>
            {{ 'app_dashboard_entreprise.notification'|trans }}  
        </a>
      </li> #}
    </ul>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{{ path('app_logout')}}" class="nav-link text-white">
            <i class="mx-2 h5 bi bi-box-arrow-right"></i>
            {{ 'app_dashboard_entreprise.logout'|trans }}    
        </a>
      </li>
    </ul>
  </div>