<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex">
        <title>{% block title %}{{ meta_title() }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="description" content="{{ meta_description() }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1Ld2PCHjDEQu3HcO8AmYC88Bz9yE7Q6hCtvY5pF9m6ouCp68z5i5T1pFGDhlNq3bP2vTpmTmBsKP4jY1rgumg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %} {% include "parts/_navbar-none.html.twig" with { 'title': dashboard_title()} %} {% endblock %}
        <div class="bg-dark text-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        {% block sidebar %}
                            {% if app.user.type == 'MODERATEUR' %}
                            {% include "dashboard/_sidebar_moderateur.html.twig" %} 
                            {% elseif app.user.type == 'ENTREPRISE' %}
                            {% include "dashboard/_sidebar_entreprise.html.twig" %} 
                            {% else %}
                            {% include "dashboard/_sidebar_candidat.html.twig" %} 
                            {% endif %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-9 p-1">
                        <div class="div-plein-ecran bg-light text-dark p-3">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% block body %}{% endblock %}
                            {% block inner_footer %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block footer %} {% include "parts/_footer.html.twig" %} {% endblock %}
        {% block modal %}
    
            <!-- Modal -->
            <div class="modal fade" id="candidatDocuments" tabindex="-1" aria-labelledby="candidatDocumentsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="candidatDocumentsLabel">Mes Documents</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Le CV transmis lors d’une candidature est celui défini comme partagé.
                            {% if app.user.candidateProfile %}
                                <div class="row">
                                    {% for cv in app.user.candidateProfile.cvs %}
                                    <div class="col-md-6 my-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <!-- Icône agrandie -->
                                                <i class="bi bi-file-earmark-person" style="font-size: 3rem;"></i>
                                                <p class="card-title small">{{ cv.safeFileName }}</p>
                                                <!-- Lien pour visualiser le CV dans un nouvel onglet -->
                                                <a href="{{ asset('uploads/cv/' ~ cv.cvLink) }}" class="btn btn-sm rounded-pill btn-primary" title="Ouvrir" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                                                <a href="javascript:void(0);" data-cv-link="{{ cv.cvLink }}" data-cv-id="{{ cv.id }}" class="select-cv-btn btn btn-sm rounded-pill btn-danger" title="Sélectionner"><i class="bi bi-check2-square"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>Aucun document disponible.</p>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>


        {% endblock %}
    </body>
</html>
