<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex">
        <title>{% block title %}{{ meta_title() }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="description" content="{{ meta_description() }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1Ld2PCHjDEQu3HcO8AmYC88Bz9yE7Q6hCtvY5pF9m6ouCp68z5i5T1pFGDhlNq3bP2vTpmTmBsKP4jY1rgumg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% set include_nav = app.user ? 'parts/_nav_user.html.twig' : 'parts/_nav_default.html.twig' %}

        {% include include_nav %}

        <div class="bg-dark text-white pt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block mt-5">
                        {% block sidebar %}
                            {% if app.user.type == 'MODERATEUR' %}
                            {% include "dashboard/_sidebar_moderateur.html.twig" %} 
                            {% elseif app.user.type == 'ENTREPRISE' %}
                            {% include "dashboard/_sidebar_entreprise.html.twig" %} 
                            {% else %}
                            {% include "dashboard/_sidebar_candidat.html.twig" %} 
                            {% endif %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-9 mt-4">
                        <div class="div-plein-ecran bg-light text-dark p-1 p-sm-3">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% block body %}{% endblock %}
                            {% block inner_footer %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block footer %} {% include "parts/_footer.html.twig" %} {% endblock %}
        {% block modal %}
        {% if app.user.type == 'CANDIDAT' %}
            {{ render(controller('App\\Controller\\Dashboard\\CandidatController::availabilityFormView')) }}
        {% endif %}
        {% endblock %}
             
            
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var fromDatePicker = document.querySelector('#availability_nom_1');
                var datePickerContainer = document.querySelector('.date-picker-container');
                var labelForFromDate = document.querySelector('label[for="availability_nom_1"]');
            
                if (labelForFromDate) {
                    var formCheck = labelForFromDate.closest('.form-check');
                    // Insérer le datePicker après le label "A partir du" tout en restant à l'intérieur de .form-check
                    formCheck.insertBefore(datePickerContainer, labelForFromDate.nextSibling);
                
                    // Appliquer les classes Bootstrap pour aligner les éléments
                    formCheck.classList.add('d-flex', 'align-items-center');
                    labelForFromDate.classList.add('flex-grow-1', 'mx-2'); // Assurez-vous que le label prend l'espace nécessaire
                    datePickerContainer.classList.add('flex-shrink-1'); // Empêcher le datePicker de s'étendre trop
                
                    // Ajouter/Retirer l'attribut required basé sur la sélection
                    var radios = document.querySelectorAll('input[name="availability[nom]"]');
                    radios.forEach(function(radio) {
                        radio.addEventListener('change', function() {
                            var isFromDateSelected = fromDatePicker.checked;
                            setDatePickerRequired(isFromDateSelected);
                        });
                    });
                
                    // Fonction pour ajuster l'attribut required du datePicker
                    function setDatePickerRequired(isRequired) {
                        ['day', 'month', 'year'].forEach(function(part) {
                            var element = document.querySelector('#availability_dateFin_' + part);
                            if (element) {
                                element.required = isRequired;
                            }
                        });
                    }
                
                    // Vérifier l'état initial
                    setDatePickerRequired(fromDatePicker.checked);
                }
            });
            </script>
    </body>
</html>
