{% for candidate in candidates %}
	<div class="card my-3 small px-5 py-4">
		<div class="row">
            <div class="col-1 me-3">
                <div class="rounded-circle" style="
                    width: 45px;
                    height: 45px;
                    background-image: url('{{ candidate.fileName ? asset('uploads/experts/' ~ candidate.fileName) : asset('uploads/experts/avatar-default.jpg') }}');
                    background-size: cover;
                    background-position: center;
                ">
                </div>
            </div>
            <div class="col">
                <span class="fs-6">
                    <a href="{{ path('app_v2_recruiter_view_profile', {'id': candidate.id })}}">
                        {{ candidate.titre }}
                    </a>
                </span><br>
                <span class="small fw-lighter">{{ generatePseudo(candidate)}}</span>
            </div>
		</div>
		<div class="small">
			{{ candidate.metaDescription|raw }}
		</div>
        <div id="row_favorite_{{ candidate.id }}" class="d-flex ms-auto small my-2 me-2">
            {% if isLikedByRecruiter(app.user.entrepriseProfile, candidate.id) %}
                <button type="button" class="btn btn-primary btn-sm rounded-pill px-3 remove-from-favorites" data-href="{{ path('app_v2_recruiter_favorite_delete_candidate', {'id':candidate.id}) }}"><i class="bi bi-star-fill me-2"></i>Favori</button>
            {% else %}
                <button type="button" class="btn btn-outline-primary btn-sm rounded-pill px-3 add-to-favorites" data-href="{{ path('app_v2_recruiter_favorite_add_candidate', {'id':candidate.id}) }}"><i class="bi bi-star me-2"></i>Ajouter</button>
            {% endif %}
        </div>
		<div class="">
            <span class="position-absolute top-0 start-50 px-3 translate-middle badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
                <i class="bi bi-tags"></i> {{ candidate.secteurs|getFirstCommonSecteur(recruiter.secteurs)}}
            </span>
		</div>
	</div>
{% endfor %}