{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Gestion des candidats</h2>
        {{ form_start(form, {'attr': {'class': 'form-group my-4', 'id':'moderateur-candidat-search-form'}}) }}
        <div class="row">
            <div class="input-group">
                    <div class="col">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.availability, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
        </div>
        {{ form_end(form) }}
        <div id="candidats-container">
            {% include 'dashboard/moderateur/candidat/_candidats.html.twig' %}
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function searchAnnonces() {
        var formData = $('#moderateur-candidat-search-form').serialize();

        $.ajax({
            url: '{{ path('app_dashboard_moderateur_candidats') }}',
            type: 'GET',
            data: formData,
            success: function(data) {
                $('#candidats-container').html(data.content);
            }
        });
    }
    $('#moderateur-candidat-search-form input, #moderateur-candidat-search-form select').on('keyup change', function() {
        searchAnnonces();
    });
});
</script>
{% endblock %}

