<tr>
  <td>
    {{ annonce.id }}
  </td>
  <td>
    {{ annonce.entreprise.entreprise.nom }}
  </td>
  <td>
    {{ annonce.titre }}
  </td>
  <td>
    {{ annonce.description|length > 100 ? annonce.description|slice(0, 97) ~ '...' : annonce.description }}
  </td>
  <td>

    <form action="{{ path('ajax_change_status_annonce', {'id': annonce.id}) }}" method="post">
      <select name="status" class="form-control">
        <option value="CLOSED" {{ annonce.status == 'CLOSED' ? 'selected' : '' }}>
          Fermé
        </option>
        <option value="OPEN" {{ annonce.status == 'OPEN' ? 'selected' : '' }}>
          Ouvert
        </option>
        <option value="FILLED" {{ annonce.status == 'status' ? 'selected' : '' }}>
          Pourvu
        </option>
      <!-- Ajoutez autant d'options que nécessaire -->
      </select>
    </form>

  </td>
  <td style="display:flex;">
    <button type="button" class="btn btn-primary rounded-circle p-2 mx-1 lh-1" data-bs-target="#exampleModal{{ annonce.id }}" data-bs-toggle="modal">
      <i class="bi bi-eye"></i>
    </button>
  </td>
<!-- ... Affichez les autres champs de la même manière ... -->
</tr>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ annonce.id }}" tabindex="-1" aria-labelledby="exampleModal{{ annonce.id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModal{{ annonce.id }}Label"><i class="mx-2 h3 bi bi-code-slash"></i> {{ annonce.titre }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row my-3">
            <div class="col-md-4"><span class="badge text-bg-danger">Urgent</span> | 0 vues | {{ annonce.applications|length }} offres</div>
            <div class="col-md-4 ms-auto"> 
              <p class=""><i class="h5 bi mx-2 bi-building-check"></i> {{ annonce.entreprise.entreprise.nom }}</p>
              <p class=""><i class="h5 bi mx-2 bi-geo-alt"></i> {{ show_country(annonce.entreprise.localisation) }}</p>
              {# <span class="badge text-bg-primary"> {{ annonce.sector }} </span> #}
            </div>
          </div>
        </div>
        {{ annonce.description|raw }}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

