
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-6 col-md-12">
        {{ form_row(form.title) }}
        </div>
        <div class="col-lg-6 col-md-12">
        {{ form_row(form.dateRendezVous) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
        {{ form_row(form.entreprise) }}
        </div>
        <div class="col-lg-6 col-md-12">
        {{ form_row(form.candidat) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
        {{ form_row(form.lieu) }}
        </div>
        <div class="col-lg-6 col-md-12">
        {{ form_row(form.status) }}
        </div>
    </div>
    <div class="row">
        {{ form_row(form.link) }}
    </div>
    <div class="row">
        {{ form_row(form.commentaire) }}
    </div>
        <div style="display:none;">{{ form_widget(form) }}</div>
        <button class="btn btn-outline-primary rounded-pill px-5">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
<script src="{{ asset('assets/ckeditor5/ckeditor.js')}}"></script>
<script>
    ClassicEditor.create( document.querySelector( '#metting_commentaire' ) )
</script>

