{% extends 'finance/base.html.twig' %}

{% block title %}Détails de la simulation
{% endblock %}
{% set salaire_plafond = convertToAriary(results.salaire_brut_estime_euro, simulateur) %}
{% if salaire_plafond > 1910400 %}
	{% set salaire_plafond = convertToDevise(1910400, simulateur) %}
{% else %}
	{% set salaire_plafond = results.salaire_brut_estime_euro %}
{% endif %}
{% block body %}
	<div class="container">
		<div class="annonce-list p-2">
			<div class="annonce-item shadow p-md-5 m-md-4">
				<h1 class="h2">Détails de la simulation
					{% if simulateur.contrat is defined and simulateur.contrat is not null %}
					{{ simulateur.contrat|contratStatus|raw }}
					{% endif %}
				</h1>
				<hr>
				<div class="row">
					<h3 class="h4 text-danger">Utilisateur</h3>
					<div class="row">
						<div class="col-sm-4 text-strong">Nom et prénom(s) :</div>
						<div class="col-sm-8">
							<div class="row">
								<div class="col text-muted">{{ simulateur.employe.user.nom }}
									{{ simulateur.employe.user.prenom }}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-strong">email :</div>
						<div class="col-sm-8">
							<div class="row">
								<div class="col text-muted">{{ simulateur.employe.user.email }}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-strong">Téléphone :</div>
						<div class="col-sm-8">
							<div class="row">
								<div class="col text-muted">{{ simulateur.employe.user.telephone }}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 text-strong">Type :</div>
						<div class="col-sm-8">
							<div class="row">
								<div class="col text-muted">{{ simulateur.employe.user.type }}</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<h3 class="h4 text-danger">Simulation</h3>
					<div class="row">
						<div class="col mx-auto">
							<div class="row">
								<div class="col-sm-4 text-strong">Créée le :</div>
								<div class="col-sm-8">
									<div class="row">
										<div class="col text-muted">{{ simulateur.createdAt|date('d/m/Y') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4 text-strong">Devise :</div>
								<div class="col-sm-8">
									<div class="row">
										<div class="col text-muted">{{ simulateur.devise }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4 text-strong">Taux :</div>
								<div class="col-sm-8">
									<div class="row">
										<div class="col text-muted">{{ simulateur.devise.taux }}
											Ar</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4 text-strong">Salaire net souhaité :</div>
								<div class="col-sm-8">
									<div class="row">
										<div class="col text-muted">{{ simulateur.salaireNet }}
											{{ simulateur.devise.symbole }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="container p-4 small shadow rounded">
					<div class="row " style="line-height: 2;">
						<div class="col-sm-6">
							<div class="row py-4 bg-danger ">
								<div class="col-sm-6 text-strong">Devise:</div>
								<div class="col-sm-6 text-center text-strong">{{ simulateur.devise }}</div>
							</div>
							<div class="row py-2 bg-dark text-white">
								<div class="col-sm-6 text-strong">Salaire net souhaité:</div>
								<div class="col-sm-6 text-right text-strong">{{ results.salaire_net_euro|number_format(2, '.', '') }}
									{{ simulateur.devise.symbole }}</div>
							</div>

							<div class="row">
								<div class="col-sm-6 text-strong">Salaire de base:
								</div>
								<div class="col-sm-6 text-right">{{ results.salaire_de_base_euro|number_format(2, '.', '') }}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Nombre d'enfants :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6"></div>
										<div class="col-sm-6 text-right">{{ results.nbrEnfant }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Frais professionnels :</div>
								<div class="col-sm-6 text-right">{{ convertToDevise(results.fraisProfessionnels, simulateur)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Connexion :</div>
								<div class="col-sm-6 text-right">{{ convertToDevise(results.fraisConnexion, simulateur)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Repas :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-4 text-center">{{ simulateur.jourRepas}}</div>
										<div class="col-sm-8 text-right">{{ (convertToDevise(results.fraisRepas, simulateur))|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Déplacement :</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-4 text-center">{{ simulateur.jourDeplacement}}</div>
										<div class="col-sm-8 text-right">{{ (convertToDevise(results.fraisDeplacement, simulateur) )|number_format(2, '.', '') }}</div>
									</div>
								</div>
							</div>
							{% if simulateur.status is defined and simulateur.status is same as('FREELANCE') %}
							<hr>
							<div class="row">
								<div class="col text-danger h5">Impôt Synthétique Intermittent (ISI)</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">ISI 5% :</div>
								<div class="col-6 text-right">{{results.irsa_euro|number_format(2, '.', '')}}</div>
							</div>
							<hr>
							<div class="row bg-info">
								<div class="col-6 text-strong">Prestation totale :</div>
								<div class="col-6 text-right text-strong">{{ results.salaire_brut_estime_euro|number_format(2, '.', '') }}
									{{ simulateur.devise.symbole }}</div>
							</div>
							{% else %}
							<hr>
							<div class="row">
								<div class="col text-danger h5">Charge salariale</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">CNAPS 1% :</div>
								<div class="col-6 text-right">{{results.cnaps_euro|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">OSTIE 1% :</div>
								<div class="col-6 text-right">{{results.ostie_euro|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">IRSA :</div>
								<div class="col-6 text-right  border-bottom">{{ results.irsa_euro|number_format(2, '.', '')}}</div>
							</div>
							<div class="row ">
								<div class="col-6 "></div>
								<div class="col-6 text-right text-strong">{{ results.charge_salariale_euro|number_format(2, '.', '')}}
								</div>
							</div>
							<hr>
							<div class="row bg-info">
								<div class="col-6 text-strong">Salaire brut :</div>
								<div class="col-6 text-right text-strong">{{ results.salaire_brut_estime_euro|number_format(2, '.', '') }}
									{{ simulateur.devise.symbole }}</div>
							</div>
							{% endif %}
						</div>
						<div class="col-sm-6">
							<hr class="d-block d-sm-none">
							{% if simulateur.status is defined and simulateur.status is not same as('FREELANCE') %}
							<div class="row">
								<div class="col text-danger h5">Charge patronnale</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">CNAPS 13% :</div>
								<div class="col-6 text-right">{{(salaire_plafond * 0.13)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">OSTIE 5% :</div>
								<div class="col-6 text-right">{{(salaire_plafond * 0.05)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 text-strong">FMPF 1% :</div>
								<div class="col-6 text-right border-bottom">{{ (salaire_plafond * 0.01)|number_format(2, '.', '')}}</div>
							</div>
							<div class="row">
								<div class="col-6 "></div>
								<div class="col-6 text-right text-strong">{{ results.charges_patronales_euro|number_format(2, '.', '')}}</div>
							</div>
							<hr>
							{% endif %}
							<div class="row">
								<div class="col text-danger h6">Frais de portage</div>
							</div>
							<div class="row">
								<div class="col-sm-6 text-strong">Frais de portage :</div>
								<div class="col-sm-6 text-right text-strong">{{ results.frais_de_portage_euro|number_format(2, '.', '')}}</div>
							</div>
							<hr>
							{% if simulateur.type is same as('OLONA')  %}
								<div class="row">
									<div class="col text-danger h5">Espace Co Working Olona</div>
								</div>
								<div class="row">
									<div class="col-8 text-strong">Espace Co Working :</div>
									<div class="col-4 text-right text-strong">{{ results.coworking|number_format(2, '.', '')}}</div>
								</div>
								<hr>
							{% endif %}
							<br>
							<br>
							<div class="row bg-warning shadow py-3 mx-2">
								<div class="row text-strong mx-2">Coût total à envoyer au client :</div>
								<div class="row text-right h3 mx-2">{{ results.facture_total_a_envoyer_euro|number_format(2, '.', '') }}
									{{ simulateur.devise.symbole }}</div>
							</div>
						</div>
						<div class="row">
							<div class="col"></div>
							<div class="col"></div>
						</div>
					</div>
				</div>

				<div class="row p-4 mt-5 border rounded">
					<div class="row">
						<div class="col-sm-5 mx-auto h2">Relancer l'utilisateur</div>
					</div>

					{{ form_start(form)}}
					<div class="row mb-3">
						<div class="col-sm-3">Objet du mail</div>
						<div class="col-sm-9">
							<div class="row">
								<div class="col text-muted">
									{{ form_widget(form.titre)}}
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-3">{{ form_label(form.contenu)}}</div>
						<div class="col-sm-9">
							<div class="row">
								<div class="col text-muted">
									{{ form_widget(form.contenu)}}
								</div>
							</div>
						</div>
					</div>

					<div style="display:none">
						{{ form_widget(form)}}
					</div>
					<button class="btn btn-success rounded-pill px-3 px-sm-5" type="submit"><i class="mx-2 bi bi-send"></i> Envoyer</button>

					{{ form_end(form)}}
				</div>

			</div>
			<a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3 px-5">
				<i class="mx-2 bi bi-arrow-left"></i>Retour
			</a>
		</div>
	</div>
<script src="{{ asset('assets/ckeditor5/ckeditor.js')}}"></script>
<script>
    ClassicEditor.create( document.querySelector( '#notification_profile_contenu' ) )
</script>

{% endblock %}
{% block inner_footer %}
	{% include "dashboard/_inner_footer.html.twig" %}
{% endblock %}
