{% extends 'base_v21.html.twig' %}

{% block title %}
	Mon réseau professionnel | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{% include "v2/dashboard/layout_entreprise.html.twig" %}
{% endblock %}

{% block body %}
	{% set tableClass = 'table' %}
	{% if app.request.cookies.get('theme') == 'bootstrap-dark' %}
		{% set tableClass = tableClass ~ ' table-dark' %}
	{% endif %}
	<section class="" id="content">
		<div class="shadow p-2 p-sm-4">
			<h2 class="fs-4 fw-bolder text-center my-3 my-sm-5">
				<i class="bi bi-journal-check me-to"></i>
				Mon réseau professionnel
			</h2>
			<p class="text-center">
				Bienvenue sur votre page de gestion de contacts. Ici, vous pouvez consulter et gérer toutes vos connexions professionnelles. Utilisez les fonctionnalités ci-dessous pour optimiser votre réseau.
			</p>

			{% if contacts|length > 0 %}

				<div class="table-responsive mt-4">
					<table class="{{ tableClass }}">
						<thead>
							<tr>
								<td scope="col" class="h6">{{ knp_pagination_sortable(contacts, 'Contact', 'p.contact') }}</td>
								<td scope="col-1" class="h6 text-center">{{ knp_pagination_sortable(contacts, 'Compte', 'p.contact.type') }}</td>
								<td scope="col-1" class="h6 text-center">{{ knp_pagination_sortable(contacts, 'Date', 'p.purchaseDate') }}</td>
								<td scope="col-2" class=""></td>
							</tr>
						</thead>
						<tbody>
					{% for item in contacts %}
						<tr id="row_contact_recruiter_{{item.id}}">
						{% if item.contact.type is same as(constant('App\\Entity\\User::ACCOUNT_CANDIDAT')) %}
							<td class="">
								{{ item.contact.nom }} {{ item.contact.prenom }}<br>
								<span class="small fw-lighter">{{ item.contact.email }}</span>
							</td>
							<td class="text-center">
								<span class="badge badge-lg bg-secondary rounded-pill">Candidat</span><br>
								<span class="small fw-lighter">{{ generatePseudo(item.contact.candidateProfile)}}</span>
							</td>
							<td class="text-center">
								{{ item.purchaseDate|date('d/m/Y') }}<br>
								<span class="small fw-lighter">{{ item.purchaseDate|date('à h:i')}}</span>
							</td>
							<td class="text-center">
								<a href="{{ path('app_v2_recruiter_contact_view', {'purchasedContact': item.id })}}" class="btn btn-sm btn-secondary rounded-pill">
									<i class="bi bi-eye"></i>
								</a>
								<button id="delete-contact" href="{{ path('app_v2_recruiter_contact_delete', {'contact': item.id})}}" class="btn btn-sm btn-danger rounded-pill">
									<i class="bi bi-trash"></i>
								</button>
							</td>
						{% elseif item.contact.type is same as(constant('App\\Entity\\User::ACCOUNT_CANDIDAT')) %}
							<td class="">
								{{ item.contact.nom }} {{ item.contact.prenom }}<br>
								<span class="small fw-lighter">{{ item.contact.email }}</span>
							</td>
							<td class="text-center">
								<span class="badge badge-lg bg-info rounded-pill">Entreprise</span><br>
								<span class="small fw-lighter">{{ generateReference(item.contact.entrepriseProfile)}}</span>
							</td>
							<td class="text-center">
								{{ item.purchaseDate|date('d/m/Y') }}<br>
								<span class="small fw-lighter">{{ item.purchaseDate|date('à h:i')}}</span>
							</td>
							<td class="text-center">
								<a href="{{ path('app_v2_recruiter_contact_view', {'purchasedContact': item.id })}}" class="btn btn-sm btn-secondary rounded-pill">
									<i class="bi bi-eye"></i>
								</a>
								<button id="delete-contact" href="{{ path('app_v2_recruiter_contact_delete', {'contact': item.id})}}" class="btn btn-sm btn-danger rounded-pill">
									<i class="bi bi-trash"></i>
								</button>
							</td>
						{% else %}
							<td class="">
								{{ item.contact.nom }} {{ item.contact.prenom }}<br>
								<span class="small fw-lighter">{{ item.contact.email }}</span>
							</td>
							<td class="text-center">
								<span class="badge badge-lg bg-primary rounded-pill">Utilisateur</span>
							</td>
							<td class="text-center">
								{{ item.purchaseDate|date('d/m/Y') }}<br>
								<span class="small fw-lighter">{{ item.purchaseDate|date('à h:i')}}</span>
							</td>
							<td class="text-center">
								<a href="{{ path('app_v2_recruiter_contact_view', {'purchasedContact': item.id })}}" class="btn btn-sm btn-secondary rounded-pill">
									<i class="bi bi-eye"></i>
								</a>
								<button id="delete-contact" href="{{ path('app_v2_recruiter_contact_delete', {'contact': item.id})}}" class="btn btn-sm btn-danger rounded-pill">
									<i class="bi bi-trash"></i>
								</button>
							</td>
						{% endif %}					
						</tr>
					{% endfor %}
					<!-- Plus de lignes et colonnes ici -->
					</table>
				</div>
			{% else %}
				<div class="mx-auto text-center">
					<h3 class="fs-5 fw-bolder my-3 my-sm-5 text-center">
						<span class="">
							<img src="{{ asset('v2/images/6939131.png') }}" alt="icone" style="width: 30px;">
						</span>
						1ère chose à faire
					</h3>
					<a href="{{ path('app_v2_candidate_job_offer')}}" class="btn btn-primary btn-lg mb-3 mb-sm-4 fs-6 px-4 px-sm-5 fw-semibold text-uppercase">
						<i class="bi bi-search"></i>
						Trouver une mission
					</a>
				</div>
			{% endif %}

		</div>
	</section>
{% endblock %}