    
    <p class="mx-2">
    Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
    </p>
    <div class="navigation">
    {{ knp_pagination_render(candidatures, 'parts/_pagination.html.twig') }}
    </div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th class="col-6">Titre</th>
            <th class="col-3">Candidat</th>
            <th class="col-2">Status</th>
            <th class="col-2">Date</th>
            <th class="col-1">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for application in candidatures %}
            <tr>
                <td>
                    <a href="{{ path('app_dashboard_moderateur_annonce_view', {'id': application.annonce.id}) }}" class="small">
                        {{ application.annonce.titre }}
                    </a>
                    <br>
                    <span class="small text-muted">
                        Par
                        <a href="{{ path('voir_enapp_dashboard_moderateur_profile_entreprise_viewtreprise', {'id': application.annonce.entreprise.id}) }}">
                            {{ application.annonce.entreprise.nom|upper }}
                        </a> {{ application.annonce.dateCreation|time_ago }} 
                        {{ getReferrerByEmail(application.candidat.candidat.email)|raw}}
                    </span>
                </td>
                <td>
                    <a href="{{ path('app_dashboard_moderateur_candidat_view', {'id': application.candidat.id} ) }}">
                        {{ application.candidat.candidat.nom }} {{ application.candidat.candidat.prenom }}
                    </a>
                    <br>
                    <span class="small text-muted">
                        {{ generatePseudo(application.candidat) }}
                    </span>
                </td>
                <td>
                    <form method="post" action="{{ path('app_dashboard_moderateur_candidature_status', {'id': application.id}) }}">
                        <select name="status" class="form-control" onchange="this.form.submit()">
                            <option value="PENDING" {{ application.status == 'PENDING' ? 'selected' : '' }}>En cours</option>
                            <option value="REJECTED" {{ application.status == 'REJECTED' ? 'selected' : '' }}>Non retenues</option>
                            <option value="ACCEPTED" {{ application.status == 'ACCEPTED' ? 'selected' : '' }}>Acceptée</option>
                            <option value="ARCHIVED" {{ application.status == 'ARCHIVED' ? 'selected' : '' }}>Archivée</option>
                            <option value="METTING" {{ application.status == 'METTING' ? 'selected' : '' }}>Rendez-vous</option>
                        </select>
                    </form>
                </td>
                <td class="actions-col">
                    <span class="small"> {{ application.dateCandidature|date('d/m/Y')}} </span>
                    <br>
                    <span class="small text-muted">
                        {{ application.dateCandidature|time_ago }}
                    </span>
                </td>
                <td class="actions-col">
                    <a href="{{ path('app_dashboard_moderateur_candidature_view', {'id': application.id })}}" class="btn btn-sm btn-info"><i class="bi bi-eye"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

