<p class="mx-2 small">
    Votre recherche renvoie <strong>{{ result|length }}</strong> résultats.
    </p>
    <div class="navigation">
    {{ knp_pagination_render(applications, 'parts/_pagination.html.twig') }}
    </div>
    <div class="card shadow p-2">
    <table class="table">
    <thead>
        <tr>
            <th rowspan="2">Titre de l'annonce</th>
            <th colspan="2" class="text-center">Candidatures</th>
            <th rowspan="2" class="text-center d-none d-md-table-cell">Vues</th>
            <th rowspan="2" class="text-center d-none d-md-table-cell">Crée le</th>
        </tr>
        <tr>
            <th class="text-center">OLONA</th>
            <th class="text-center">Spontanées</th>
        </tr>
    </thead>
    <tbody>
        {% if applications|length > 0 %}
            {% for application in applications %}
                <tr class="small">
                    <td class="align-middle">
                        <a href="{{ path('app_dashboard_moderateur_candidature_annonce_view', {'id': application.annonce.id})}}" class="text-dark">
                            {{ application.annonce.titre }}
                        </a>
                    </td>
                    <td class="text-center align-middle">
                        <a href="{{ path('app_dashboard_moderateur_candidature_annonce_view_suggest', {'id': application.annonce.id})}}" class="sy">
                            <span class="badge text-bg-warning">{{ application.suggestions|length }}</span>
                            {% if application.suggestions|length > 0 %}
                            <br><span class="badge text-bg-danger">Forfait min {{ application.forfait_min }} €</span>
                            {% endif %}
                        </a>
                    </td>
                    <td class="text-center align-middle">
                        <a href="{{ path('app_dashboard_moderateur_candidature_annonce_view_default', {'id': application.annonce.id})}}" class="sy">
                            <span class="badge text-bg-warning">{{ application.candidatures|length }}</span>
                        </a>
                    </td>
                    <td class="text-center align-middle d-none d-md-table-cell">{{ application.annonce.annonceVues|length }} fois</td>
                    <td class="text-center align-middle d-none d-md-table-cell">{{ application.annonce.dateCreation|date('d M Y') }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">Aucune candidature créé pour le moment</td>
            </tr>
        {% endif %}
    </tbody>
</table>

    </div>