{% extends 'dashboard/base_new.html.twig' %}

{% block title %}Candidatures{% endblock %}

{% block body %}
<style>
    .custom-tooltip {
        position: relative;
        cursor: help;
    }

    .custom-tooltip[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333; /* Couleur de fond */
        color: white; /* Couleur du texte */
        text-align: left;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 12px;
        z-index: 1;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        width: 200px; /* Largeur fixe */
        white-space: normal; /* Permet au texte de passer à la ligne */
        max-width: 300px; /* Largeur maximale */
    }
</style>
    <div class="container mt-3">
        <h1 class="mb-4">Candidatures</h1>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('app_dashboard_entreprise_annonces') }}" class="text-decoration-none">
                    <div class="card shadow text-white bg-primary mb-3">
                        <div class="card-body">
                            <h2 class="card-title">{{ annonces|length }}</h2>
                            <p class="card-text">Offres d'emploi postées</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <div class="card shadow text-white bg-success mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ count.candidatures }}</h2>
                        <p class="card-text">Candidatures reçues</p>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                    <div class="card shadow text-white bg-warning mb-3">
                        <div class="card-body">
                            <h2 class="card-title">{{ count.suggestions }}</h2>
                            <p class="card-text">Suggestions OLONA</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-12">
                <p class="text-muted">
                    <i class="bi bi-lightbulb"></i> Astuce : Utilisez les filtres ci-dessous pour affiner les résultats de vos candidatures. Cela peut vous aider à gérer plus efficacement vos offres d'emploi et les réponses reçues.
                </p>
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-group', 'id':'entreprise-candidature-search-form'}}) }}
        <div class="row">
            <div class="input-group">
                    <div class="col-12 col-sm-6 mx-auto">
                        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
        </div>
        {{ form_end(form) }}

        <div id="candidatures-container">
            {% include 'dashboard/entreprise/candidature/_candidatures.html.twig' %}
        </div>
        <a href="javascript:history.back()" class="btn btn-success rounded-pill my-3 px-5"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function searchAnnonces() {
        var formData = $('#entreprise-candidature-search-form').serialize();

        $.ajax({
            url: '{{ path('app_dashboard_entreprise_candidatures') }}',
            type: 'GET',
            data: formData,
            success: function(data) {
                $('#candidatures-container').html(data.content);
            }
        });
    }
    $('#entreprise-candidature-search-form input, #entreprise-candidature-search-form select').on('keyup change', function() {
        searchAnnonces();
    });
});
</script>
{% endblock %}