{% extends 'dashboard/base.html.twig' %}

{% block title %}Candidatures{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="mb-4">Candidatures</h1>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('app_dashboard_entreprise_annonces') }}" class="text-decoration-none">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-body">
                            <h2 class="card-title">{{ annonces|length }}</h2>
                            <p class="card-text">Offres d'emploi postées</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ applications|length }}</h2>
                        <p class="card-text">Candidatures reçues</p>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                <a href="{{ path('app_dashboard_entreprise_rendez_vous') }}" class="text-decoration-none">
                    <div class="card text-white bg-warning mb-3">
                        <div class="card-body">
                            <h2 class="card-title">{{ meetings|length }}</h2>
                            <p class="card-text">Rendez-vous programmés</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-12">
                <p class="text-muted">
                    <i class="fa fa-info-circle"></i> Astuce : Utilisez les filtres ci-dessous pour affiner les résultats de vos candidatures. Cela peut vous aider à gérer plus efficacement vos offres d'emploi et les réponses reçues.
                </p>
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-group', 'id':'entreprise-candidature-search-form'}}) }}
        <div class="row">
            <div class="input-group">
                    <div class="col">
                        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.candidat, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
        </div>
        {{ form_end(form) }}

        <div id="candidatures-container">
            {% include 'dashboard/entreprise/candidature/_candidatures.html.twig' %}
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function searchAnnonces() {
        var formData = $('#entreprise-candidature-search-form').serialize();

        $.ajax({
            url: '{{ path('app_dashboard_entreprise_candidatures') }}',
            type: 'GET',
            data: formData,
            success: function(data) {
                $('#candidatures-container').html(data.content);
            }
        });
    }
    $('#entreprise-candidature-search-form input, #entreprise-candidature-search-form select').on('keyup change', function() {
        searchAnnonces();
    });
});
</script>
{% endblock %}