{% extends 'dashboard/base.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card shadow">
            <div class="card-header bg-primary h5 text-white">
                {{ annonce.titre }}
            </div>
            <div class="card-body">
                        <div class="container-fluid">
                            <!-- En-têtes -->
                            <div class="row">
                                <div class="col-2 font-weight-bold">Candidat</div>
                                <div class="col-2 font-weight-bold"></div>
                                <div class="col-3 font-weight-bold text-center">Forfait</div>
                                <div class="col-5 font-weight-bold text-center">Commentaire</div>
                            </div>

                            <!-- Lignes et cellules -->
                            {% for assignation in annonce.assignations %}
                            {% if assignation.application is defined and assignation.application is empty %}
                            <div class="row border-top py-2 align-items-center">
                                <div class="col-2">
                                    <div class="img-fluid rounded-start bg-image-candidat" style="background-image: url('{{vich_uploader_asset(assignation.profil, 'file')}}');" alt="{{ generatePseudo(assignation.profil) }}"></div>
                                </div>
                                <div class="col-2">
                                    <span class="text-muted small">{{ generatePseudo(assignation.profil) }} 
                                    <a href="{{ path('app_dashboard_entreprise_details_candidat', {'id': assignation.profil.id}) }}" class=""><i class="bi bi-eye"></i></a><br></span>
                                    {{ assignation.profil.titre }} <br>
                                    <span class="text-muted small">{{ assignation.dateAssignation|time_ago }}</span>
                                </div>
                                <div class="col-3 text-center">
                                    <span class="text-muted">{{ getTypeAssignation(assignation)|raw }}</span><br>
                                    <span class="text-muted">Forfait : {{ getForfaitAssignation(assignation)|raw }}</span>
                                </div>
                                <div class="col-5 small">
                                    {{ assignation.commentaire|raw }}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    
               {# <div class="row">
                    <div class="col-md-6 d-flex justify-content-left align-items-center">
                        <img src="{{vich_uploader_asset(application.candidat, 'file')}}" class="card-img-top" alt="avatar" style="width: 50%; height: auto; border-radius: 10px; object-fit: cover;">
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Candidat : 
                                <span class="text-success">
                                    {{ generatePseudo(application.candidat) }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Titre : 
                                <span class="text-info">
                                    {{ application.candidat.titre }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Experiences : 
                                <span class="text-info">
                                    {{ application.candidat.experiences|length }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Competences : 
                                <span class="text-info">
                                    {{ application.candidat.competences|length }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Date candidature: 
                                <span class="text-danger">
                                    {{ application.dateCandidature|date('d/m/Y') }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('app_dashboard_entreprise_details_candidat', {'id': application.candidat.id}) }}" class="btn btn-warning btn-sm rounded-pill"><i class="bi bi-eye"></i> Voir profil complet</a>
                            </li>
                        </ul>
                    </div>
                    
                    
                        {% if application.status == 'ACCEPTED'  %}
                            <button type="button" class="col-md-3 btn btn-dark rounded-pill"> Contacter le candidat</button>
                        {% endif %}
                
                </div>
                <hr>
                    <h5 class="card-title text-secondary">
                        Lettre de motivation
                    </h5>
                    <p class="card-text">
                        {{ application.lettreMotivation }}
                    </p>
                </div> #}
            </div>
            </div>
            <a href="javascript:history.back()" class="btn btn-primary rounded-pill my-3">
                <i class="mx-2 bi bi-arrow-left"></i>
                Retour
            </a>

        {% endblock %}
        