{% extends 'dashboard/base.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card shadow">
            <div class="card-header bg-primary h3 text-white">
                {{ application.annonce.titre }}
            </div>
            <div class="card-body">

               <div class="row">
                    <div class="col-md-6 d-flex justify-content-left align-items-center">
                        <img src="{{vich_uploader_asset(application.candidat, 'file')}}" class="card-img-top" alt="avatar" style="width: 50%; height: auto; border-radius: 10px; object-fit: cover;">
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Candidat : 
                                <span class="text-success">
                                    {{ application.candidat.candidat.nom }} 
                                    {{ application.candidat.candidat.prenom }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Titre : 
                                <span class="text-info">
                                    {{ application.candidat.titre }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Experiences : 
                                <span class="text-info">
                                    {{ application.candidat.experiences|length }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Competences : 
                                <span class="text-info">
                                    {{ application.candidat.competences|length }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Date candidature: 
                                <span class="text-danger">
                                    {{ application.dateCandidature|date('d/m/Y') }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('app_dashboard_entreprise_details_candidat', {'id': application.candidat.id}) }}" class="btn btn-warning btn-sm rounded-pill"><i class="bi bi-eye"></i> Voir Profil complet de {{ application.candidat.candidat.nom }}</a>
                            </li>
                        </ul>
                    </div>
                    
                    
                
                </div>
                <hr>
                    <h5 class="card-title text-secondary">
                        Lettre de motivation
                    </h5>
                    <p class="card-text">
                        {{ application.lettreMotivation }}
                    </p>
                </div>
            </div>
            <a href="javascript:history.back()" class="btn btn-secondary rounded-pill my-3">
                    <i class="mx-2 bi bi-arrow-left"></i>
                    Retour
                </a>
            </div>

        {% endblock %}
        