{% extends 'dashboard/base.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card border-primary">
            <div class="card-header bg-primary h3 text-white">
                {{ application.annonce.titre }}
            </div>
            <div class="card-body">

                {# <h5 class="card-title text-secondary">
                    Resumé du candidature
                </h5> #}
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <img src="{{vich_uploader_asset(application.candidat, 'file')}}" class="card-img-top" alt="avatar">
                        </div>
                        <ul class="list-group list-group-flush">
                            {# <li class="list-group-item">
                                Pretention : 
                                <span class="text-success">
                                    {{ application.pretentionSalariale }}
                                </span>
                            </li> #}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Candidat : 
                                <span class="text-success">
                                    {{ application.candidat.candidat.nom }} 
                                    {{ application.candidat.candidat.prenom }}
                                </span>
                            </li>
                            {# <li class="list-group-item">
                                Email : 
                                <span class="text-success">
                                    {{ application.candidat.candidat.email }}
                                </span>
                            </li> #}
                            <li class="list-group-item">
                                Titre : 
                                <span class="text-info">
                                    {{ application.candidat.titre }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Experiences : 
                                <span class="text-info">
                                    {{ application.candidat.experiences|length }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Competences : 
                                <span class="text-info">
                                    {{ application.candidat.competences|length }}
                                </span>
                            </li>
                            <li class="list-group-item">
                                Date candidature: 
                                <span class="text-danger">
                                    {{ application.dateCandidature|date('d/m/Y') }}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                    <h5 class="card-title text-secondary">
                        Lettre de motivation
                    </h5>
                    <p class="card-text">
                        {{ application.lettreMotivation }}
                    </p>
                </div>
            </div>
            <hr>
                <a href="javascript:history.back()" class="btn btn-secondary rounded-pill my-3">
                    <i class="mx-2 bi bi-arrow-left"></i>
                    Retour
                </a>
            </div>

        {% endblock %}
        