<div class="container-fluid bg-black border-top" data-bs-theme="dark" id="footer">
    <div class="container">
        <div class="text-white text-center my-4">
            <small class="container">
            © 2023 Olona Talents - All rights reserved  
            |  <a href="{{ path('app_home_legal')}}" class="text-white text-center">{{ "app_home_legal.menu"|trans }}</a>
            |  <a href="{{ path('app_home_privacy')}}" class="text-white text-center">{{ "app_home_privacy.menu"|trans }}</a>
            |  <a href="{{ path('app_home_terms')}}" class="text-white text-center">{{ "app_home_terms.menu"|trans }}</a>
            </small>
        </div>
    </div>
</div>
