<nav id="navbar-none" class="navbar navbar-expand-lg bg-black border-bottom" data-bs-theme="dark">
  <div class="container">
  <a class="navbar-brand" href="{{path('app_home')}}">
    <img src="{{ asset('images/logo-olona-talents.jpg')}}" alt="Olona Talents" width="122" height="50">
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mx-auto mb-2 mb-lg-0 text-light fs-6">
      {{ title }}
      </div>
      {% if app.user %}
        {% if countUnReadNotification(app.user) > 0 %}
          <a href="{{ path('app_dashboard_notification', {'isRead':'0'}) }}" class="btn btn-dark position-relative mx-3">
            <i class="bi bi-bell-fill"></i>
            <span class="position-absolute top-0 start-100 translate-middle rounded-pill ">
              {{ component('count_notification_component')}}
              <span class="visually-hidden">unread messages</span>
            </span>
          </a>
        {% endif %}
      <div class="mx-3">
        <span class="small text-white">{{ app.user.email }}</span><br>
          {% if app.user.type == 'CANDIDAT' %}
            <span class="small text-white">{{ checkAvailability(app.user)|raw}}</span>
          {% endif %}
      </div>
        <div class="dropdown">
          <button class="dropdown-toggle btn btn-lg btn-dark" type="button" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if app.user.gravatar is not null %}
              <img src="{{ app.user.gravatar }}" alt="Avatar" style="height: 27px; width: auto;" class="rounded-circle">
              {% else %}
              <i class="bi bi-person-circle"></i>
            {% endif %}
          </button>

          <ul class="dropdown-menu dropdown-menu-end">
            {% if app.user.type == 'CANDIDAT' or is_granted('ROLE_CANDIDAT') %}
              <li>
                <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#candidatAvaillability">Disponibilité</button>
              </li>
            {% endif %}
            <li>
              {% if app.user.type == 'MODERATEUR' %}
              <a class="dropdown-item" href="{{ path('app_connect') }}">Tableau de bord
              {% elseif app.user.type == 'ENTREPRISE' %}
              <a class="dropdown-item" href="{{ path('app_dashboard_entreprise_profil') }}">Mon compte
              {% elseif app.user.type == 'EMPLOYE' %}
              {% if is_granted('ROLE_CANDIDAT') %}
              <a class="dropdown-item" href="{{ path('app_dashboard_candidat_compte') }}">Mon compte
              {% else %}
              <a class="dropdown-item" href="{{ path('app_dashboard_employes_infos') }}">Mon compte
              {% endif %}
              {% else %}
              <a class="dropdown-item" href="{{ path('app_dashboard_candidat_compte') }}">Mon compte
              {% endif %}
                
              </a>
            </li>
            {% if 'ROLE_FINANCE' in app.user.roles %}
              <li>
                <a class="dropdown-item" href="{{ path('app_finance_dashboard') }}">
                  Finance
                </a>
              </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="{{ path('app_logout') }}">
                {{ 'app_logout.menu'|trans }}
              </a>
            </li>
            {% if 'ROLE_ADMIN' in app.user.roles %}
              <li class="bg-info text-dark">
                <a class="dropdown-item" href="{{ path('admin') }}">
                  Administration
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-dark">
          {{ 'app_login.menu'|trans }}
        </a>
      {% endif %}
      </div>
    </div>
    </div>
  </div>
</nav>